[2021-10-07 21:22] m-sullivan7 commented on #5353
I'd benefit from some coordination before I mock something up to:

- Identify the charts affected (I think this is every chart?)
- The data source to link to from that chart
- What you mean by "affordance"--new term for me!

[2021-10-07 23:55] thepegisin opened #5466 "Vaccines page: Add link to CDPH boosters Q&A"
CDPH released a [Q&A on boosters](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Vaccine-Booster-QA.aspx). Added the link to it on our **Vaccines** page. Draft: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit

[2021-10-07 23:56] #5466 closed

[2021-10-08 01:48] LizNobriga commented on #5417
@m-sullivan7  I made an update to the steps for reusing a URL slug.

[2021-10-08 19:30] jbum opened #5469 "Split up CovidStateDashboardTables Cron into separate 3 Cron jobs."
Currently, a single Cron produces tables for 6 different charts…

total-tests
positivity-rate
patients
icu-beds
confirmed-cases
confirmed-deaths

We have occasionally run into an issue in which this Cron silently fails, because it exceeds the (arbitrary) 10-minute window allotted to Cron jobs on Azure (this last happened on Oct 8). If this isn't caught, the relevant chart does not update.

The pla

[2021-10-08 20:24] m-sullivan7 commented on #5353
Here's a [spreadsheet of all our charts](https://docs.google.com/spreadsheets/d/1pCYn_COc16VLmJmex9AF3eCLvsa_iAaOm5EuSkWAzng/edit?usp=sharing) (plus a question about whether to include one map) with my best guesses as to what data source backs each up. Where I didn't have a good guess I left it blank.

@mediajunkie If you can fill any gaps and/or confirm my guesses, I'd love your assistance!

[2021-10-11 19:28] LizNobriga commented on #5268
@m-sullivan7 The latest revisions incorporate feedback from stakeholders to the section for older adults ([staging](https://staging.covid19.ca.gov/food-resources/#older-adults)). I think you saw the revisions to P-EBT but not this section.

[2021-10-11 23:25] m-sullivan7 commented on #5353
[Vaccination progress data](https://covid19.ca.gov/vaccination-progress-data/) has been published with data sources. I will alert engineers to look at the column width of the last three columns where it looks like the data source note extends to the left of the chart.

I will work on state dashboard and health equity tomorrow.

[2021-10-11 23:26] zakiya commented on #4979
@adam-little Latest is up for review at https://nifty-turing-0ad445.netlify.app/ Let me know if I missed anything or if there are any changes.

[2021-10-11 23:29] LizNobriga commented on #5268
@mediajunkie I think we are ready to publish and notify stakeholders. Sound good to you?

[2021-10-11 23:34] abquirarte commented on #5353
Thank you @m-sullivan7! 😄

[2021-10-11 23:54] zakiya opened #5475 "Some charts incorrectly have left and right padding."
Paraphrase from @m-sullivan7 on Slack:

https://covid19.ca.gov/vaccination-progress-data/
Two of the notes align nicely. Three of the notes look like they're just beyond the margin of the preceding chart (example screenshot attached). It looks like the _Chart information_ accordion is behaving the same in each instance too. Affected charts:

- Vaccinations by doses administered
- Vaccinations over

[2021-10-12 16:49] m-sullivan7 opened #5480 "State dashboard: spacing"
In adding source data links to the [state dashboard](https://covid19.ca.gov/state-dashboard/) and [health equity](https://covid19.ca.gov/equity/), we'd like to even out the spacing for the source data link for hospitalized patients and ICU beds. I attempted to manipulate the `mt-#` and `mb-#` classes, but couldn't figure it out by the time I hit the limit of _Michael's safety guardrails against br

[2021-10-12 17:39] adam-little commented on #4979
Looks good to me. Thanks, Zakiya!

@mediajunkie - Zakiya raised a concern that requiring a click to expand the dropdown may negatively impact discoverability. As you know, improving discoverability was one of the reasons for transitioning to this style of menu. Alternatively, showing the dropdowns on hover (instead of click) may improve discoverability.  But we opted to follow the same approach as

[2021-10-13 15:31] m-sullivan7 opened #5488 "Data and tools: booster dose"
Add the following information to [Data and tools](https://covid19.ca.gov/data-and-tools/):

- Variable: Booster dose
- Format: Numeric
- Description: The booster dose count includes any dose that was administered at least 24 days after series completion (2 mRNA or 1 J&J). This count includes both additional doses and booster doses.
- Update frequency: Daily

[2021-10-13 16:00] m-sullivan7 commented on #5488
[Google Doc](https://docs.google.com/document/d/1j2pByDPqKXJ_TkAI_Icz0vqYSKzGJVsfkUrvS-BPhZ8/edit?usp=sharing) with proposed changes

[2021-10-13 16:37] jbum opened #5490 "Bug Investigation: Accordions lose data in Wordpress"
@m-sullivan7  has reported that when editing the state-dashboard page, the text in one of the chart-info accordions mysteriously disappears. I've noticed this is one of the blocks that Wordpress complains about.  Let's investigate the cause, and find a fix or reliable work-around.

[2021-10-13 16:40] mediajunkie commented on #5047
content team has been evaluating and revising in an iterative way since June 15

[2021-10-13 18:51] m-sullivan7 commented on #5488
Definition added to data [dictionary.](https://covid19.ca.gov/data-and-tools/#COVID-19-VACCINE-DATA)

[2021-10-13 18:51] #5488 closed, assigned to m-sullivan7

[2021-10-13 22:46] thepegisin opened #5491 "Publish banner headline about new vaxed/unvaxed charts"
Draft, approve, stage, and publish homepage banner headline pointing to new vaxed/unvaxed charts.

Draft: https://docs.google.com/document/d/1T-sKeNUY1DaUJqpXQXzcv_FIzIXc1BG18YdTrMgtlAo/edit

Approved by @mediajunkie and published 10/13/21.

[2021-10-13 22:49] #5491 closed

[2021-10-18 19:42] zakiya commented on #4979
Assigning to @mediajunkie until further work is needed. Let me know if you ever want/need the Netlify environment updates with latest content.

[2021-10-19 17:18] LizNobriga commented on #5268
Published ~10/11/21. Closing ticket.

[2021-10-19 17:18] #5268 closed

[2021-10-19 18:13] m-sullivan7 commented on #5480
It looks good to me! It's worth confirming with @mediajunkie before publishing.

[2021-10-19 21:10] #5454 closed, assigned to jbum

[2021-10-19 23:01] jbum opened #5504 "Bug: On translated pages, the short-cut links at the top of the page navigate to the English version of the page."
Caught by @britt-allen

Slack thread w demonstration video: https://cadotgov.slack.com/archives/CVCSH3CR5/p1634680240111300

[2021-10-19 23:02] jbum commented on #5504
This was caught on State Dashboard, but is likely happening elsewhere.

[2021-10-20 00:07] zakiya commented on #5475
@m-sullivan7 Thank you for the detailed steps to reproduce! They were very helpful in diagnosing the problem.

@jbum I need your advice on this one. When I create new Paragraph blocks in WordPress, the wrapper classes are `.row > .col-lg-10 .mx-auto`.  The blocks in question have wrapper classes `.row > .col-9.mx-0`. This seems to be code that we can't edit in the editor or fix in the covid19 repo

[2021-10-20 14:33] zakiya commented on #5475
@jbum I meant specifically the small text blocks like this if it makes a difference.
![CleanShot 2021-10-20 at 07 31 36](https://user-images.githubusercontent.com/915352/138113505-e402a4e0-b571-4302-a2dd-bbb1d4068bcc.png)

[2021-10-20 18:27] thepegisin opened #5508 "Align booster Q/A with body copy re: eligibility"
Noticed eligibility criteria was not up-to-date in booster Q/A on **Vaccines** page.

- [x] Draft update
- [x] Get approval to publish (@mediajunkie)
- [x] Stage
- [x] Publish

[2021-10-20 18:30] #5508 closed, assigned to thepegisin

[2021-10-21 19:27] m-sullivan7 commented on #5142
@LizNobriga Thank you! I found one past date (the GSS tax filing due date) that I suggested a fix for. I also saw one opportunity for a paragraph break around the California EITC that is optional--accept or reject at your pleasure.

The content looks good to me--especially considering the huge effort this work represents. Excellent work!

[2021-10-21 20:59] jbum commented on #5480
State-dashboard is now fixed.  Moving on to the equity spacing issue...

@m-sullivan7 I've added a 'pb-1' qualifier here:

[code]

Which adds a little extra spacing on the bottom of the line, and helps even it out.  I've updated staging only.  If you like it, go ahead and push it. Otherwise, try a pb-2 (I think it looks fine with the pb-1, but I can barely see the outline of the box below it on my

[2021-10-21 21:05] m-sullivan7 commented on #5480
Thanks @jbum ! I will push it to production. On my side, this ticket is ready to be closed, but I'll give you the honors.

[2021-10-22 20:07] #5480 closed, assigned to jbum, mediajunkie

[2021-10-23 00:01] thepegisin opened #5514 "Bring back the Holidays page"
Needed a place to put Halloween guidance, and other gathering advice for winter holidays.

- [x] Check with @carterm that we can safely reuse /holidays slug
- [x] Remove /holidays slug and all translated versions of it from Page Redirect Table post
- [x] Create new _Holidays_ page based on [CDPH Halloween 2021 talking points](https://docs.google.com/document/d/13BlYcFn5hv-21H8EXwXnlOppWTra2L3l/edi

[2021-10-23 00:03] abquirarte commented on #5514
🥳

On Fri, Oct 22, 2021, 5:01 PM Peggy Gartin ***@***.***> wrote:

[2021-10-23 00:06] #5514 closed

[2021-10-23 00:08] thepegisin opened #5515 "Publish banner headline pointing to Halloween guidance"
- [x] [Draft](https://docs.google.com/document/d/1T-sKeNUY1DaUJqpXQXzcv_FIzIXc1BG18YdTrMgtlAo/edit) headline and blurb
- [x] Get approval (@mediajunkie)
- [x] Stage
- [x] Publish

[2021-10-23 00:10] #5515 closed

[2021-10-23 00:38] thepegisin opened #5516 "Add Holidays card to Current safety measures page"
- [x] With @adam-little , pick a good Halloween-themed image
- [x] ..., and a good winter holidays-themed image
- [x] Have Adam optimize them for two sizes: card size and featured image size
- [x] Add Halloween image in card size to _Current safety measures_ page in new slot in table
- [x] Write blurb for "Holidays" card
- [x] Add Halloween image in featured image size to _Holidays_ page
- [x] Get

[2021-10-23 00:44] thepegisin commented on #5516
Potential Halloween images:
- https://www.pexels.com/photo/man-in-black-jacket-holding-brown-woven-basket-5607359/
- https://www.pexels.com/photo/portrait-of-a-family-with-halloween-background-5581168/

[2021-10-25 15:41] m-sullivan7 opened #5519 "Vaccination progress data: update vaccinated denominator to 5+"
From CDPH:

This issue is to update [Vaccination progress data](https://covid19.ca.gov/vaccination-progress-data/) to reflect this change in reporting.

This includes adding links and data dictionary info to the [Data and tools](https://covid19.ca.gov/data-and-tools/) page, as appropriate.

[2021-10-25 16:05] thepegisin opened #5520 "Update Testing Q/A on quarantine per updated CDPH guidance"
CDPH has updated their [quarantine guidance](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Guidance-on-Isolation-and-Quarantine-for-COVID-19-Contact-Tracing.aspx) for vaccinated people. Aligning our quarantine messaging with that.

CDPH has also updated its [testing guidance for vaccinated people](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/COVID-19-Public-Health-Recommenda

[2021-10-25 16:52] thepegisin opened #5521 "Update Vaccines page to include Moderna/J&J booster eligibility"
Moderna and J&J booster vaccines are now approved. Update _Vaccines_ page to include eligibility for both.

- [x] Draft update per [CDPH booster Q&A](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Vaccine-Booster-QA.aspx)
- [x] Get approval
- [x] Stage
- [x] Publish

[2021-10-25 17:07] thepegisin opened #5522 "Write/publish a banner headline about Moderna/J&J boosters"
Once _Vaccines_ page is updated with Moderna/J&J booster eligibility, publish a banner that points to this.

- [x] Draft banner headline
- [x] Get approval
- [x] Stage
- [x] Publish

[2021-10-25 17:18] m-sullivan7 opened #5523 "State dashboard and homepage 10/25 note"
From Brooke and CDPH:

Update the state dashboard and homepage trackerboxes to alert people that data will not update.

[2021-10-25 19:15] #5523 closed, assigned to m-sullivan7

[2021-10-25 19:55] #5521 closed, assigned to thepegisin

[2021-10-25 19:55] #5522 closed, assigned to thepegisin

[2021-10-25 23:08] #5520 closed, assigned to thepegisin

[2021-10-25 23:11] m-sullivan7 opened #5524 "Data and tools: booster dose update"
Per Arcadio at CDPH, update the _booster dose_ entry in the vaccine data dictionary to:

<html><body>

Variable | Format | Description | Update Frequency
-- | -- | -- | --
Booster Recipients | Numeric | Number of individuals who received a dose at  least 24 days after series completion (2 Pfizer or Moderna doses, or 1 Janssen dose) since August 13, 2021. This includes individuals who  received add

[2021-10-25 23:51] zakiya opened #5526 "Chart information has lost small text class on equity page."
From @m-sullivan7 https://github.com/cagov/covid19/issues/5475#issuecomment-951374863

This doesn't look to me like it can be fixe in WordPress.

[2021-10-26 01:25] LizNobriga opened #5527 "Education and childcare: mask mandate continuing"
Proposing to remove this sentence from the Education page:

See edit in [draft doc](https://docs.google.com/document/d/1SRrcSb84YtL9np_WZb-Y_xfDKY4R5c-L0sjiGDx09uw/edit#heading=h.ekxh3w8g8ie8) and in [staging](https://staging.covid19.ca.gov/education/#k-12-guidance).

Notes on current page content:
- Includes [K-12 schools guidance](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/K-12-Gui

[2021-10-26 15:37] #5527 closed, assigned to LizNobriga

[2021-10-26 23:41] thepegisin opened #5538 "Add "mix and match" language to boosters info"
MJ from CDPH let me know today that picking a different vaccine for your booster ("mix and match") is approved, and this info is shared on the CDPH website. Updating our _Vaccines_ page booster info accordingly.

- [x] Draft updates to body copy and Q/As
- [x] Get approval/edits from CDPH
- [x] Stage
- [x] Publish

[2021-10-26 23:45] #5538 closed, assigned to thepegisin

[2021-10-27 15:31] m-sullivan7 opened #5539 "Homepage: 10/27 governor press conference video"
Update video on homepage for governor's 10:30 am press conference

[2021-10-27 15:35] jbum opened #5542 "Clean up unused PDFs"
We appear to be hosting about 1200 old PDFs that are unlinked from the COVID-19 site (only about 350 are active). These extra files (in the covid-static repo) slow down our publishing pipeline as they increase the time it takes to sync files from Github to Azure.

Using a script, I'm going to produce a google spreadsheet that lists each one, and will enable the content team to indicate which ones

[2021-10-27 15:45] thepegisin opened #5545 "Check and improve readability of Vaccines page"
It's been about 3 months since this important page got a readability edit.

- [x] Paste current text into Hemingway and save
- [x] Check reading level and marked issues
- [x] If edits needed, make a new Hemingway version and improve HTR and VHTR sentences, passive voice, other issues it finds. Get to 0 VHTR sentences and lower reading level to as close as you can get to Grade 6.
- [x] Update draft

[2021-10-27 15:50] thepegisin opened #5546 "Check and improve readability of Testing page"
It's been about 3 months since this important page got a readability edit.

- [x] Paste current text into Hemingway and save
- [x] Check reading level and marked issues
- [x] If edits needed, make a new Hemingway version and improve HTR and VHTR sentences, passive voice, other issues it finds. Get to 0 VHTR sentences and lower reading level to as close as you can get to Grade 6.
- [x] Update draft

[2021-10-27 16:36] #5539 closed, assigned to m-sullivan7

[2021-10-27 17:07] #5524 closed, assigned to m-sullivan7

[2021-10-27 21:35] LizNobriga opened #5549 "Mega-events: update expected by Nov 1, 2021"
Measures are continuing, so we need to remove Nov. 1, 2021 term end date.
Starting 12/1/21, attendees 18+ must show ID for indoor mega-events and recommended for outdoor mega-events.

- [x] [Draft edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit#) based on final update
- [x] Internal review
- [x] Ready in [staging](https://staging.covid19.ca.gov/mega-even

[2021-10-27 22:49] thepegisin opened #5550 "Language edit for Holidays page as requested by CDPH"
The comms language we based our _Holidays_ page on was apparently slightly off. They edited it and Ben Stephenson asked us to edit as well. Made these small changes and published them 10/27/21.

[2021-10-27 22:52] #5550 closed, assigned to thepegisin

[2021-10-28 00:16] #5546 closed, assigned to thepegisin

[2021-10-28 15:26] m-sullivan7 opened #5555 "Health equity: chart accordion width"
I noticed that one chart information accordion is the width of the paragraph text above the chart, rather than the chart it serves. All the other chart information accordions are the same width as the chart.

![image](https://user-images.githubusercontent.com/69169190/139287236-0f36281b-08a5-415a-bad5-b1e9f002d181.png)

When possible, can we change this chart information accordion to be the same w

[2021-10-29 16:00] thepegisin opened #5559 "Update answer to schools vax Q/A per CDPH"
MJ identified a _Vaccines_ Q/A answer that was out of date. Sent updated text.

- [x] Incorporate into draft: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit
- [x] Stage
- [x] Get approval from PM
- [x] Publish

[2021-10-29 16:17] #5559 closed, assigned to thepegisin

[2021-10-29 16:57] thepegisin opened #5561 "Make age 5-11 vax changes to Vaccines page"
Told by Devon Keeler that we should get talking points today about vaccinations for kids 5-11. Tentatively scheduled to publish 11/4.

- [x] Draft changes to _Vaccines_ page
- [x] Get approval from CDPH/PM
- [x] On publishing date, stage
- [x] Publish

[2021-10-29 16:58] thepegisin opened #5562 "Homepage banner about age 5-11 vaccinations"
Vaccinations for ages 5-11 are tentatively scheduled to be announced 11/4/21. Write and publish homepage banner about this when CDPH makes their announcement.

- [x] Get talking points from CDPH (Devon, MJ)
- [x] Draft banner
- [x] When announced, stage
- [x] Publish
- [x] Edit and re-publish 11/4 when My Turn scheduling becomes available

[2021-10-29 18:38] m-sullivan7 opened #5563 "State dashboard: remove vax/unvax hospitals date note"
The [state dashboard](https://covid19.ca.gov/state-dashboard/#postvax-status) chart for vaccinated vs. unvaccinated data contains the following note:

This is because the chart begins on July 24, which is later than the cases and deaths charts. Somewhere around November 24, the hospitalization chart will have a full range of data. This renders the note no longer needed.

This issue is to remove th

[2021-10-29 20:45] zakiya commented on #5526
Closing issue since this work is on prod. Will address #5555 separately.

[2021-10-29 20:45] #5526 closed

[2021-11-01 21:49] LizNobriga commented on #5142
@m-sullivan7 The GSS section has been updated to incorporate stakeholder feedback, Could you review?

[2021-11-01 22:27] m-sullivan7 commented on #5142
Just a couple thoughts in there and one addition that I thought added clarity. 😄

[2021-11-02 00:21] #5299 closed

[2021-11-02 01:15] thepegisin commented on #5562
Draft: https://docs.google.com/document/d/1T-sKeNUY1DaUJqpXQXzcv_FIzIXc1BG18YdTrMgtlAo/edit#heading=h.ah68pjhj93yw

[2021-11-02 01:16] thepegisin commented on #5561
Draft: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit

[2021-11-02 02:25] mediajunkie commented on #5562
Banner copy and link CTA look good to me. Do you think we need to run it by
Devon et al. at CDPH?
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/c

[2021-11-02 13:51] mediajunkie commented on #5561
These edits look good. Have we surveyed the full site for age references?
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-11-02 14:14] mediajunkie commented on #5519
Beyond these pages and Peggy's vaccines page, let's please also scour the entire site for any possible reference to age 12 and up or similar copy that would require updating, including in Q/A's and even potentially PDFs.

cc @thepegisin @LizNobriga @jbum

[2021-11-02 14:28] abquirarte commented on #5519
Good call!

On Tue, Nov 2, 2021, 7:14 AM Christian Crumlish ***@***.***>
wrote:

[2021-11-02 17:13] LizNobriga commented on #5142
@mediajunkie I've incorporated stakeholder feedback on the Golden State Stimulus (GSS) payments section.

Michael has reviewed, and the [google doc](https://docs.google.com/document/d/1IFdCizJVkwGHzXAUUnS7BwOT4-EO-l5ikyWEyuPeCBE/edit) and staging are both updated.

Could you review and let me know if you have any questions about edits to the GSS section?

[2021-11-02 17:29] thepegisin opened #5576 "Update Holidays page post-Halloween"
At the end of 11/2 (last day of Dia de los Muertos), remove Halloween/Dia de los Muertos text and image. Update remaining text on gatherings per CDPH holiday messaging.

- [x] Draft changes
- [x] Get approval
- [x] Stage
- [x] Publish

[2021-11-02 17:32] thepegisin commented on #5576
Drafted changes: https://docs.google.com/document/d/17E23Rg3ChOq5M1EEmTR9M08tHMUPxnDXQjo6p60krv8/edit#. Just waiting for optimized winter holidays image.

[2021-11-02 17:48] m-sullivan7 commented on #5519
I did a search for `12` in Wordpress to find places that may need updates for 5-11 vaccination approval across the site. Beyond _Vaccines_, _Vaccination progress data_, and _Data and tools_ (which are already covered), here are the pages that I found:

- [Vax for the Win](https://covid19.ca.gov/vax-for-the-win/) (probably not affected, but calling out just in case) @thepegisin
- [Current safety me

[2021-11-02 17:49] #5405 closed

[2021-11-02 18:25] mediajunkie commented on #5519
Thank you!

@thepegisin and @LizNobriga please let me know if you see the need for any
changes to Current safety or Education.

[2021-11-02 18:29] LizNobriga opened #5577 "Food page: WIC update"
Edits based on WIC stakeholder/SME input:
[Draft doc](https://docs.google.com/document/d/1XL0M9CDiANBEsU2hdxukYWQCb8UClgc8piy0tDgjxo0/edit#)

- [x] Draft
- [x] Internal review
- [x] Stage
- [ ] External review
- [ ] Revise if needed
- [ ] Publish
- [ ] Notify

[2021-11-02 18:30] LizNobriga commented on #5577
@m-sullivan7 Can you review the draft doc?

[2021-11-02 18:41] zakiya commented on #5555
@m-sullivan7 @mediajunkie Proposed changes to equity page here:

[2021-11-02 18:43] m-sullivan7 commented on #5577
Reviewed! One structural comment and one edit to eliminate some repetition.

[2021-11-02 18:53] m-sullivan7 commented on #5555
Looks great to me. Thank you @zakiya !

(I even spot checked a few other things this time around and found nothing. 😉)

[2021-11-02 19:36] mediajunkie commented on #5142
GSS changes look good to me.

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-11-02 20:37] LizNobriga commented on #5577
@mediajunkie The feedback from stakeholders for the WIC content has been incorporated and reviewed by Michael. The edits are not word-for-word but remain close to the input received.

Can you review the proposed [draft edits](https://docs.google.com/document/d/1XL0M9CDiANBEsU2hdxukYWQCb8UClgc8piy0tDgjxo0/edit#)? Lmk if you have any concerns and if they are ready to be staged.

[2021-11-02 21:21] LizNobriga commented on #5427
@m-sullivan7 Could you review a new section for utilities? I'll tag you at the start.
[Draft edits](https://docs.google.com/document/d/1pQM5euvY_p2btONcEDoLt9mG6FVdu_XD-IbIlsc7uE4/edit#heading=h.2zwwf8x2h6fa)

[2021-11-02 21:34] m-sullivan7 commented on #5427
Left a few edits. Great work Liz!

[2021-11-02 21:45] #5549 closed

[2021-11-02 21:48] #5119 closed

[2021-11-03 00:46] thepegisin commented on #5576
Staged and published 5:45PM 11/2/21.

[2021-11-03 00:46] #5576 closed

[2021-11-03 00:47] thepegisin commented on #5516
Agreed on a good winter holidays image, staged, and published 5:45PM on 11/2/21.

[2021-11-03 00:47] #5516 closed

[2021-11-03 16:51] jbum opened #5580 "Update CRON tasks and Charts for 5+ vaccine denominator"
* Preview queries to ensure that data is changing as expected.
* Test charts with updated queries.
* Make a PR for updated CRONs to be deployed on the release date (11/10)

[2021-11-03 17:02] LizNobriga commented on #5142
@m-sullivan7 Could you review the edits to the paid sick leave section? These edits are based on stakeholder review.
[google doc](https://docs.google.com/document/d/1IFdCizJVkwGHzXAUUnS7BwOT4-EO-l5ikyWEyuPeCBE/edit)

[2021-11-03 17:08] LizNobriga opened #5581 "Food page: update Apply for CalFresh link"
DSS stakeholder request to update the "Apply for CalFresh" button to the new online portal, [https://benefitscal.com/](https://benefitscal.com/)

[Draft doc](https://docs.google.com/document/d/18fnPqdHueTE-EfYwrwgv-hjXfpX1AKvi8PIsUE3V_70/edit#)

[2021-11-03 17:10] LizNobriga commented on #5577
@mediajunkie Ready for your review. Lmk if these are okay to stage. [Edits in google doc](https://docs.google.com/document/d/1XL0M9CDiANBEsU2hdxukYWQCb8UClgc8piy0tDgjxo0/edit#)

[2021-11-03 17:19] LizNobriga commented on #5581
@mediajunkie Received a request from the DSS CalFresh acting branch chief, Kat Yang, to update the "Apply for CalFresh" link to the new online portal at https://benefitscal.com/.

[See edit in doc](https://docs.google.com/document/d/18fnPqdHueTE-EfYwrwgv-hjXfpX1AKvi8PIsUE3V_70/edit#). Is this okay to publish?

cc @m-sullivan7

[2021-11-03 17:47] LizNobriga commented on #5427
Utilities content is in staging. Updates to other sections are still in progress.

[2021-11-03 20:37] thepegisin commented on #5562
Staged per @mediajunkie 1:30PM 11/3.

[2021-11-03 20:38] thepegisin commented on #5561
Checked all my pages for age references, and advised the rest of the content team to do so as well.

Staged per @mediajunkie 1:30PM 11/3.

[2021-11-03 21:08] mediajunkie commented on #5581
yes!
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-11-03 21:10] mediajunkie commented on #5577
edits looks clean to me. please do stage
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-11-03 21:47] thepegisin commented on #5562
Published 2:30 11/3.

[2021-11-03 21:48] thepegisin commented on #5561
Published 2:30PM on 11/3.

[2021-11-03 21:48] #5561 closed

[2021-11-03 23:37] LizNobriga commented on #5581
Published

[2021-11-03 23:37] #5581 closed

[2021-11-03 23:47] LizNobriga commented on #5577
@mediajunkie The WIC section [edits](https://docs.google.com/document/d/1XL0M9CDiANBEsU2hdxukYWQCb8UClgc8piy0tDgjxo0/edit#) are [staged](https://staging.covid19.ca.gov/food-resources/#families-with-children).

[2021-11-04 00:45] LizNobriga commented on #5142
@m-sullivan7 Revisions for review in the content about:
- Federal CTC
- CalEITC

[Google doc with edits](https://docs.google.com/document/d/1IFdCizJVkwGHzXAUUnS7BwOT4-EO-l5ikyWEyuPeCBE/edit#heading=h.d1n3mlm89plj)
[Staging](https://staging.covid19.ca.gov/help-for-individuals-and-families/)

[2021-11-04 01:37] LizNobriga commented on #5120
@mediajunkie Okay to close this ticket?

[2021-11-04 01:38] mediajunkie commented on #5120
Yes!
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-11-04 02:16] #5120 closed

[2021-11-04 15:58] m-sullivan7 commented on #5142
All good with no changes from me. Thanks @LizNobriga !

[2021-11-04 16:24] LizNobriga commented on #5577
@mediajunkie It was feedback that came through Alisa.

[2021-11-04 16:26] mediajunkie commented on #5577
ok, let's keep it staged and I will include it in the final email

[2021-11-04 16:34] zakiya commented on #5555
This is merged.

[2021-11-04 16:34] #5555 closed

[2021-11-04 17:21] m-sullivan7 opened #5590 "State dashboard: Update vaccinated/unvaccinated to 12+ age group"
[Within a few weeks of]* November 10, the population for the unvaccinated/vaccinated chart on the state dashboard will change 12+. It is currently 16+.

This issue is to:

- Update the state dashboard note for this chart
- Update the associated data dictionary in _Data and tools_
- Create highlight box text if we want to put a note up with the change (this language will also cover the 5+ populatio

[2021-11-04 17:37] m-sullivan7 commented on #5590
[Google Doc](https://docs.google.com/document/d/1aPxL79Wvysp95YSrbCKqEJP4Bt57x9Mn9BJ3eTLwBzU/edit?usp=sharing) with the change (only one content change needed)

Potential language for a highlight box:

cc: @mediajunkie for a look at state dashboard edits for 11/10 and highlight box copy we could keep in our back pocket. Regarding the unvaccinated and vaccinated charts, I don't know what the impact

[2021-11-04 18:05] LizNobriga commented on #5142
@mediajunkie These changes reflect what information people are looking for and where they expect to find it.

### New page: Help for individuals and families
This page includes:
- Existing content being relocated with no changes
- Content being updated:
  - Golden State Stimulus payments
  - Supplemental paid sick leave
- New content sections covering:
  - Benefits for families with children, incl

[2021-11-04 18:27] thepegisin commented on #5562
Edited and republished 9:30AM 11/4.

[2021-11-04 18:27] #5562 closed

[2021-11-07 15:07] jbum opened #5599 "Tech Debt: Fix formatDate2 / formatDate function to eliminate need for DST adjustments every 6 months."
* Identify all current uses of formatDate2, walk thru code and eliminate unused/broken features.
* Change arguments from positional to dictionary for clarity.
* Stop using a GMT offset for fixed hour display (instead supply an argument that specifies the display hour in pacific time, and apply the adjustment internally). Call the argument: force_display_time to make it clear it's artificial.

End

[2021-11-07 17:20] jbum opened #5603 "Tech Debt: DST sensitivity in Auto-Approver"
In the Cron repo, the file CovidTranslationPrApproval/AutoApprover.js contains a DST-sensitive bug that triggers on the two Sundays of the year when DST kicks in.

The expression moment().startOf('day') will produce a timestamp from before DST kicked in.  Adding a fixed number of hours to that will produce a time that is 1 hour different than desired.  For example, 10am on Nov 7 occurs 11 hours af

[2021-11-09 16:33] m-sullivan7 commented on #5519
Potential highlight box copy:

[2021-11-09 16:36] m-sullivan7 commented on #5590
Thanks for the update on timing and the changed description. I edited the potential highlight box content so it's limited just to this change to the data. I moved the 11/10-specific note content to https://github.com/cagov/covid19/issues/5519

[2021-11-09 16:38] mediajunkie commented on #5519
Thanks! Will run this by CDPH, as they show the same info on their
trackerbox. They have also suggested considering not having a special note,
while being more clear about the definition of eligible in the data note.
Let's discuss.

-x-

Michael wrote:

[2021-11-09 17:50] mediajunkie commented on #5519
shared draft with Carlos. I think CDPH doesn't love "we" -- they may
suggest change

On Tue, Nov 9, 2021 at 8:34 AM Michael Sullivan ***@***.***>
wrote:

[2021-11-09 18:54] m-sullivan7 opened #5611 "Homepage video: 11/10 governor media briefing"
Update homepage video to feature governor media briefing

[2021-11-09 18:57] m-sullivan7 commented on #5353
[Data and tools](https://covid19.ca.gov/data-and-tools/) is live. Jim is investigating getting a couple of links in the health equity page in the right place. Content is mostly staged and ready to go.

[2021-11-09 19:58] m-sullivan7 commented on #5353
[Health equity](https://covid19.ca.gov/equity/) is live too now.

That leaves just one source data link missing @mediajunkie: the [Positivity rate in California/county](https://covid19.ca.gov/state-dashboard/#county-statewide) chart. I suspect that it's the same data as the neighboring chart, _Total tests in California/county_. If they use the same source data, it's an easy content fix to make the

[2021-11-09 21:10] mediajunkie commented on #5353
It does appear that the same source that gives the total number of tests
per county also gives the number of positive tests, so maybe the question
to confirm with @jbum is whether that ratio is the source of the positivity
rate we report, or if it we have another source that is documented
elsewhere in the ODP.

[2021-11-10 00:37] m-sullivan7 commented on #5353
Thanks for the initial look! I'll wait for final confirmation from @jbum before preparing a quick edit for state dashboard.

[2021-11-10 01:25] LizNobriga commented on #5427
Published LIHEAP utilities edits. Other edits to this page still in progress so we'll keep this ticket open.

[2021-11-10 01:26] LizNobriga commented on #5577
Published 11/9/21

[2021-11-10 01:26] #5577 closed

[2021-11-10 01:28] LizNobriga commented on #4967
Healthcare and health insurance added to Help for individuals and families page. Think we've done what we can to address topics in this ticket. Closing.

[2021-11-10 01:28] #4967 closed

[2021-11-10 01:28] LizNobriga commented on #5243
Published

[2021-11-10 01:28] #5243 closed

[2021-11-10 01:41] LizNobriga commented on #5142
I think everything in this ticket has been published!

[2021-11-10 01:41] #5142 closed

[2021-11-10 15:45] mediajunkie commented on #5029
checking this against other sources:

<google-sheets-html-origin><style type="text/css"></style>

Cases, Hospitalizations, and Deaths by Vaccination Status (PVI) data pipeline |  
-- | --
  |  
Who | CDPH Science Branch
When | Tuesday afternoon?
What | Posts source data to the Blob (Azure)
Where | blob file location: CDPH_COVID_GOOD_DATASETS/POSTVAX_CASE_HOSP_DEATH
  |  
Who | Analytica
When | Tue

[2021-11-10 15:47] mediajunkie commented on #5029
<google-sheets-html-origin><style type="text/css"></style>

Cases, Hospitalizations, and Deaths by Vaccination Status (PVI) data pipeline |  
-- | --
  |  
Who | CDPH Science Branch
When | Tuesday afternoon?
What | Posts source data to the Blob (Azure)
Where | blob file location: CDPH_COVID_GOOD_DATASETS/POSTVAX_CASE_HOSP_DEATH
  |  
Who | Analytica
When | Tuesday afternoon?
What | Runs a schedule

[2021-11-10 17:31] m-sullivan7 commented on #5611
Livestream live on homepage.

[2021-11-10 17:31] #5611 closed

[2021-11-10 17:43] m-sullivan7 commented on #5519
All content updates are live. Will remove the note from homepage, state dashboard, and _Vaccination progress data_ on November 17.

[2021-11-10 17:43] #5519 closed

[2021-11-10 19:35] zakiya commented on #4979
This is done and on production!

[2021-11-10 19:35] #4979 closed

[2021-11-11 00:42] m-sullivan7 commented on #5353
@mediajunkie I confirmed with Jim that the charts use the same source data. I drafted [this content update](https://docs.google.com/document/d/1Z0-5SQOR_6Uhuqh36M8smVgQNki_xs1uOiJsUOIR3j0/edit?usp=sharing) to cover off our last piece of source data documentation. OK to publish?

I also updated [our spreadsheet](https://docs.google.com/spreadsheets/d/1pCYn_COc16VLmJmex9AF3eCLvsa_iAaOm5EuSkWAzng/edi

[2021-11-11 00:52] mediajunkie commented on #5353
Yes, please!

[2021-11-12 19:20] m-sullivan7 commented on #5353
The final source data link is on [state dashboard](https://covid19.ca.gov/state-dashboard/#county-statewide). Do we want to have the Data and tools overhaul on this ticket or will we close this one and move that to a new ticket?

[2021-11-12 19:41] mediajunkie commented on #5353
new ticket, in backlog
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-11-12 19:41] #5353 closed

[2021-11-12 19:51] mediajunkie opened #5632 "Tracker: clarify percent vaccinated"
context: request from Dr. Pan
![image](https://user-images.githubusercontent.com/3227378/141526723-88aa84ef-b08e-4402-82c4-276cea74f451.png)

stakeholders:

- [x] float language per mock (see details below)
- [x] get approval
- [ ] confirm once live

label update;
- [x] add second stack with this language: `(5+ with at least on dose)`
- [x] make sure parallel boxes in the layout grid are consisten

[2021-11-12 20:00] #4977 closed

[2021-11-12 20:08] mediajunkie commented on #4978
@jbum can we revive this next week?

[2021-11-12 21:44] adam-little commented on #5077
I don't think this is relevant anymore. This content no longer exists. Correct, @m-sullivan7?

[2021-11-12 21:46] mediajunkie commented on #5456
@jbum can you please either take this on or determine if it's something for @zakiya ?

[2021-11-12 22:09] m-sullivan7 commented on #5077
We do not have this content anymore. When we did, we wrote around the lack of an H5. I think the question now is if we want to create an H5 style for covid19.ca.gov and/or the Design System or just cut it off at H4?

If we do, for the covid19.ca.gov site I think this issue is better assigned to an engineer to implement Adam's existing style from the screenshot in the description.

[2021-11-12 22:12] m-sullivan7 opened #5633 "Data and tools: explore post-source data link version"
Original comment from https://github.com/cagov/covid19/issues/5353

This ticket is to rethink the _Data and tools_ page now that we have source data links accompanying all of the charts on our site.

[2021-11-13 00:42] jbum opened #5635 "Fix alignment on Tracker boxes."
Fix alignment on Tracker boxes at intermediate window sizes (roughly 760 - 980px).  Currently looks like this:

![image](https://user-images.githubusercontent.com/287977/141598793-36a085e1-1656-48f2-8b71-6e9c10667c73.png)

* Discuss with Xian and see if we want to switch to a 2x2 display for this range of sizes, which would simplify alignment issues.
* Daily Average and Test Positivity should shar

[2021-11-13 00:45] mediajunkie commented on #5635
can we consider a two-by-two layout in intermediate widths?

On Fri, Nov 12, 2021 at 4:42 PM Jim Bumgardner ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> |

[2021-11-13 00:46] jbum commented on #5632
Caption added.  Created a separate ticket for the remaining cosmetic issues.

https://github.com/cagov/covid19/issues/5635

[2021-11-15 17:53] #5580 closed

[2021-11-15 17:56] #5490 closed

[2021-11-15 17:56] #5469 closed

[2021-11-15 17:56] #5404 closed

[2021-11-15 17:57] #5542 closed

[2021-11-15 17:58] jbum commented on #5599
My current plan is to change the way publish dates are produced for these pages so that using a "canned" date/time is no longer used.

Date Proposal here: https://docs.google.com/document/d/1XAsh7LUbGRWq8vGYahotEmGb0ZGqMw3Iom39t7kVg-Y/edit

[2021-11-15 17:59] jbum commented on #5603
Suggested method

[code]

[2021-11-15 20:44] zakiya commented on #5635
@jbum @mediajunkie  I used [Bootstrap grid classes](https://getbootstrap.com/docs/4.0/layout/grid/) to break the sparklines to 6 columns at medium screens (keeping the original 3 columns at large screens).

Result is at:

https://staging.covid19.ca.gov/

If that looks good I can apply the same approach to the state dashboard. (Are there any other places these boxes exist?)

[2021-11-15 20:46] mediajunkie commented on #5635
That looks good to me!

We show these boxes in just those two places and then CDPH also displays
their own versions of them in two more places.

We can share with them ***@***.*** how best to brief Satya?) what we’ve done
here in case they’d like to match it.

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-

[2021-11-15 22:31] jbum commented on #5504
Fixed on production.

[2021-11-15 22:31] #5504 closed

[2021-11-15 22:36] m-sullivan7 opened #5645 "Health equity: timescale edits"
From @mediajunkie

- Make sure our chart and the CDPH charts have different titles so they are distinct in a way that clarifies that ours is a more recent trend summary.
- Make sure that each chart offers a link to the other in its surrounding content so that someone looking for the answer to the other question (recent vs. all-time) can find it regardless of which chart they find first.

[2021-11-15 22:44] zakiya commented on #5456
@m-sullivan7 @mediajunkie Ready for review at https://deploy-preview-4--nifty-turing-0ad445.netlify.app/state-dashboard/

2 Notes:
I was able to eliminate some of the white space by deleting empty <br> tags in the markup>  However, WordPress also  creates a trailing empty <p> that can't be eliminated  from the UI as far as I can tell. I fixed it with a somewhat fragile hack.

Additionally, by defa

[2021-11-15 22:52] m-sullivan7 commented on #5456
That preview looks like it solves both issues as far as I can see. All looks good on my end, so I'll pass to Christian for his review. As always, thank you @zakiya !

[2021-11-15 22:53] mediajunkie commented on #5456
Looks good to me!
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-11-15 22:53] zakiya commented on #5635
@mediajunkie is this okay to push to prod?

The code changes are captured in [in the PR](https://github.com/cagov/covid19/pull/5646/files) which is public. Not sure if that's the best format for sharing.

[2021-11-15 23:39] #5635 closed

[2021-11-15 23:40] #5456 closed

[2021-11-16 17:15] m-sullivan7 commented on #5633
@mediajunkie Here's a proposed new version of [Data and tools in Google Doc](https://docs.google.com/document/d/1mo4SoBytjUXVm51_StUKrW3g8mhuH5v1atSgEJkJ3AQ/edit?usp=sharing) form. I included a summary of changes at the top to assist in discussing the change with stakeholders.

[2021-11-16 17:21] m-sullivan7 commented on #5250
@mediajunkie I modified the [Google Doc](https://docs.google.com/document/d/1HzAmumTo7E-d-YETnOFaVTRRB557RTzhePpgxrQvzmE/edit?usp=sharing) to break out recommendations by what content can do now and what we'd need help with. Some of these changes would require engineering work that I suspect is significant. Let's discuss how ambitious we want to be with these changes.

[2021-11-16 17:26] mediajunkie commented on #5218
Yes sorry I missed that!

On Tue, Nov 16, 2021 at 9:24 AM Michael Sullivan ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cad

[2021-11-16 18:13] #5632 closed

[2021-11-16 23:43] thepegisin opened #5654 "Change homepage banner CTA to read "Find a walk-in clinic at My Turn""
My Turn does not yet have updated 18+ booster eligibility, so it was requested that we change this banner's CTA. Updated it from "Book your booster shot via My Turn" to "Find a walk-in clinic at My Turn."

Draft approved for publishing by @mediajunkie via Slack.

[2021-11-16 23:47] thepegisin opened #5655 "Vaccines page: New 18+ booster eligibility language"
Update _Vaccines_ page with new 18+ booster eligibility language.

- [x] Draft: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit#
- [x] Slack @mediajunkie for approval
- [x] Edit per CDPH
- [x] Stage upon approval
- [x] Publish

[2021-11-17 20:39] mediajunkie commented on #5013
assigning to @jbum to see if he or @zakiya can tackle this in the week ahead

[2021-11-17 20:40] mediajunkie commented on #5590
New target date for this is week of November 29. Brooke and Lauren are getting sample data ready for @jbum

[2021-11-17 21:00] jbum commented on #5645
Random @wrendo tag.

[2021-11-17 22:10] jbum commented on #5013
Fixed. Baking.

[2021-11-17 22:13] mediajunkie commented on #5013
yay
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-11-17 22:13] jbum commented on #5013
@m-sullivan7 I also notice that the zero does not have a dollar sign on it.  Lemme know if you want one.

[2021-11-17 22:30] thepegisin commented on #5655
Published 11/17/21 at 2PM.

[2021-11-17 22:30] #5655 closed

[2021-11-17 23:36] m-sullivan7 commented on #5013
Thanks @jbum ! The fix looks great. After discussing with the content team, we'd like to add the `$` to the zero. Thank you for your eagle eye!

[2021-11-17 23:41] m-sullivan7 commented on #5645
@mediajunkie It looks like the only change we need to make is adding the 30 day reference to the introductory info to the charts. I suggest we also remove the 30 day reference from the _Chart information_ accordion as that is supplemental information. Here's a [Google Doc with those changes](https://docs.google.com/document/d/190NXej-3sXL7j4xO-1Xo-n7pijAbXRg27Do46sBsKWc/edit?usp=sharing).

_Chart

[2021-11-17 23:47] mediajunkie commented on #5645
comment in doc - we need to help people who want data beyond 30 days also
to find the CDPH link

[2021-11-17 23:56] m-sullivan7 commented on #5645
Thanks. I like your solution. :smile:

[2021-11-18 00:01] jbum commented on #5645
@m-sullivan7 -- take your pick:

![image](https://user-images.githubusercontent.com/287977/142301456-3131c7a4-f896-4b64-a041-43ffbb263385.png)

![image](https://user-images.githubusercontent.com/287977/142301504-6e5cc094-079b-4474-97a6-e241bbee0c5e.png)

(Second one is more consistent, but also reads as "OK")

[2021-11-18 00:05] m-sullivan7 commented on #5013
I would go with the first one since zero is just "zero" as opposed to "zero thousands". The side effect of "OK" helps make up my mind. I appreciate the thought for consistency though!

[2021-11-18 00:08] jbum commented on #5013
I agree.  Baking.

[2021-11-18 00:15] jbum commented on #5013
Published.

[2021-11-18 00:15] #5013 closed

[2021-11-18 17:17] thepegisin commented on #5654
My Turn now allows booking appointments for boosters. Updated the banner's CTA to read "Book your booster shot."

[2021-11-18 17:17] #5654 closed

[2021-11-18 18:56] thepegisin opened #5668 "Update main homepage CTA "GET VACCINATED -->" to point to My Turn"
The GET VACCINATED --> link on our homepage currently points to the _Vaccines_ page. We think it would be more helpful to users if it pointed to My Turn.

- [x] Get approval from @mediajunkie
- [x] Find out where this can be edited
- [x] Stage change in WP
- [x] Publish

[2021-11-18 19:50] m-sullivan7 commented on #5645
[Page](https://covid19.ca.gov/equity/#community-impact) updated with new content.

[2021-11-18 19:50] #5645 closed

[2021-11-18 20:47] jbum commented on #5668
Staged and published.

[2021-11-18 20:50] jbum opened #5669 "Fix editability issues with home page."
The home page markup is currently not stored in wordpress, and much of it is not easily editable.  Let's fix this.  We did something similar with the state-dashboard not too long ago, and a similar treatment could work here.

[2021-11-18 21:28] m-sullivan7 commented on #5250
@mediajunkie Here's the [phase 1 content changes](https://docs.google.com/document/d/1D4_8M4zoxUQhL8oXfFDtDfjK2umEv5Iw_98-Wf8BC4w/edit?usp=sharing) we discussed in Google Doc draft.

[2021-11-18 22:08] thepegisin commented on #5668
Thank you, @jbum! Note for historical purposes: Updating the homepage CTA is not currently within content team editorial control. Requires an engineer. Jim did it last.

[2021-11-18 22:08] #5668 closed

[2021-11-18 23:11] mediajunkie commented on #5669
+1
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-11-19 01:30] LizNobriga opened #5679 "Mega-events update (exempt under age 2)"
See [draft edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit#)

- [x] draft
- [x] internal review
- [x] stage
- [ ] external review
- [x] publish

See [CDPH guidance](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Beyond-Blueprint-Framework.aspx)

[2021-11-19 01:33] LizNobriga commented on #5679
[Edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit#) for your review, @m-sullivan7. CDPH has clarified that children 2 and under don't need to provide a negative test for mega-event entry.

[2021-11-19 16:45] m-sullivan7 commented on #5679
These are simple and clear edits to me. All good here @LizNobriga !

[2021-11-19 17:04] mediajunkie commented on #5679
please stage!
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-11-19 17:34] m-sullivan7 opened #5685 "Internal documentation review"
Review the[ internal documentation for content practices](https://teamdocs.covid19.ca.gov/teams/content/) and update to reflect the current state of the covid19.ca.gov site.

Goals of this review:

- Update outdated information
- Remove information not directly tied to maintaining covid19.ca.gov currently (this documentation carried over work from alpha as part of consolidating guides, but is bett

[2021-11-19 18:25] LizNobriga commented on #5679
Mega-events is ready in [staging](https://staging.covid19.ca.gov/mega-events/), @mediajunkie.

[2021-11-19 18:27] thepegisin opened #5686 "Move "Vax for the Win" down the menu a bit"
User feedback about _Vax for the Win_ is slowing down, so I propose we move it down the _Fighting COVID-19_ menu a bit.

- [x] Get approval from @mediajunkie
- [x] Make change to menu post in WP
- [x] Stage
- [x] Publish

[2021-11-19 19:45] mediajunkie commented on #5679
looks good -- please publish.

(and i gather children age 3-4 would need a test as they could not possibly be vaccinated yet)

[2021-11-19 20:04] #5686 closed

[2021-11-19 22:18] LizNobriga commented on #5679
@mediajunkie Published https://covid19.ca.gov/mega-events/

Yes, I believe that's an accurate interpretation.

[2021-11-19 22:20] #5679 closed

[2021-11-22 16:52] aaronhans opened #5692 "Per PR preview sites in AWS for covid19"
Work with @xjensen to implement the techniques pioneered here on covid19 https://github.com/cagov/odi-engineering/issues/53

[2021-11-22 19:45] mediajunkie commented on #5250
Edits look good. Added a comment asking about location of the digital vax record link

[2021-11-23 02:19] xjensen commented on #5692
I've already done this, pretty much, for Covid. I used Covid to help me write the [documentation](https://github.com/cagov/odi-engineering/wiki/Set-up-PR-preview-sites).

Still to-do:
* Wait for CDT to implement the DNS entries for the PR preview sites.
* Finish Cloudfront set-up for the verified SSL certificate after that's done.
* Implement the GitHub Action.

@jbum, I'd be happy to walk you thr

[2021-11-23 16:28] aaronhans commented on #5692
Please walk both @jbum and me through these steps. I'd like to go through the setup steps on a remaining site. I believe we still have cannabis and digital to setup

[2021-11-23 17:27] jbum commented on #5692
Yes please :)

[2021-11-23 17:36] xjensen commented on #5692
Meeting invite sent for later this morning.

[2021-11-23 19:57] m-sullivan7 opened #5697 "Data and tools: update data dictionary"
Update vaccines data dictionary to include two new entries:

<html><body>

Variable | Format | Description | Update Frequency
-- | -- | -- | --
Booster Rate | Numeric | Calculated as Booster Recipients/Eligible Booster Recipients | Daily
Eligible Booster Recipients | Numeric | Recipients have received a third dose of any  vaccine 6 months or more after completion of at least two mRNA vaccines,  or

[2021-11-23 21:11] m-sullivan7 commented on #5697
[Google Doc with change](https://docs.google.com/document/d/1X8aSyHcwRFGMAxFYlIREPPnzx2BRv_IBNOGeLtjlJbA/edit?usp=sharing) is ready for publishing tomorrow.

[2021-11-24 16:51] m-sullivan7 commented on #5697
Update published.

[2021-11-24 16:51] #5697 closed

[2021-11-29 16:44] m-sullivan7 commented on #4908
@mediajunkie I used the CDPH Omicron fact sheet to draft an addition to our proposed content to cover Omicron. It's in [Google Doc form](https://docs.google.com/document/d/1zyCPMnHAeZdQVXP2QFGgQlN4EyX40piqriGwIk0QUtQ/edit?usp=sharing). If it looks good to you, I'll add it to the staged version.

Additionally, I remembered the [comparison view](https://docs.google.com/document/d/1bPa7dQdGfR_hvbsS2R

[2021-11-29 17:08] mediajunkie commented on #4908
thanks and thanks for the reminder

On Mon, Nov 29, 2021 at 8:44 AM Michael Sullivan ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitt

[2021-11-29 17:17] m-sullivan7 commented on #5590
@mediajunkie Here's a Google Doc with associated edits for [Data and tools](https://docs.google.com/document/d/16UxF8zSoyFzy-BFuipqexrQRDsV8M6LNVy4xwaEcWO4/edit?usp=sharing). I updated the description of the issue to include this in the scope.

[2021-11-29 19:14] mediajunkie commented on #4908
Please do stage.
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-11-29 19:24] m-sullivan7 commented on #4908
[Staged](https://staging.covid19.ca.gov/variants)!

[2021-11-29 21:33] thepegisin commented on #1345
Closing this as this page is no longer active on the COVID site, and there are no other pages we translate into Khmer.

[2021-11-29 21:33] #1345 closed

[2021-11-30 00:06] thepegisin opened #5707 "Holidays: update image and add link to CDPH advice"
CDPH has a new page of holiday advice that includes social images. Update our _Holidays_ page to link to it and use one of their images.

- [x] Pick image
- [x] Draft changes
- [x] Stage
- [x] Get approval
- [x] Publish

[2021-11-30 00:09] thepegisin commented on #5707
Staged for approval per @mediajunkie: https://staging.covid19.ca.gov/holidays/

[2021-11-30 00:10] thepegisin opened #5708 "Travel: update with CDPH image"
CDPH now has social share images specific to holiday travel this winter. Update our _Travel_ page with one of them.

- [x] Choose image
- [x] Draft change
- [x] Stage
- [x] Get approval
- [x] Publish

[2021-11-30 00:13] thepegisin commented on #5708
Staged per @mediajunkie: https://staging.covid19.ca.gov/travel/

[2021-11-30 00:15] thepegisin opened #5709 "Add variants info to Vaccines page"
CDPH has added some new info about variants. Until we have a Variants page, adding links to this in a section on the _Vaccines_ page.

- [x] Draft changes
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Publish

[2021-11-30 00:19] thepegisin opened #5710 "Create homepage banner pointing to variants info"
Highlight variants info recently published by CDPH and added to our _Vaccines_ page with a homepage headline.

- [x] Draft banner
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Once _Vaccines_ page is updated, publish

[2021-11-30 01:34] #5710 closed

[2021-11-30 01:35] #5709 closed

[2021-11-30 01:35] #5708 closed

[2021-11-30 01:35] #5707 closed

[2021-11-30 18:44] LizNobriga opened #5712 "Food page update: last round of Pandemic-EBT 2.0 benefits"
### Last round of P-EBT 2.0 benefits will be issued in December 2021
- Cards will be reloaded with $375
- Cards for newly eligible children will be mailed out

### P-EBT 3.0 coming in 2022
- The USDA’s Department of Food and Nutrition Service has authorized another round of P-EBT benefits for the 2021-22 school year.
- The California Department of Social Services and the California Department of E

[2021-11-30 22:11] thepegisin opened #5714 "Vaccines page: Expansion of vaccine requirement PHO for senior/hospice workers"
CDPH has [expanded the 9/28 public health order](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Order-of-the-State-Public-Health-Officer-Adult-Care-Facilities-and-Direct-Care-Worker-Vaccine-Requirement-FAQ.aspx) to cover new classes of healthcare workers. Need to update relevant content in _Vaccines_ page.

- [x] Find places to update
- [x] Draft update: https://docs.google.com/document/

[2021-11-30 23:44] #5714 closed

[2021-12-01 16:38] m-sullivan7 commented on #5712
Good update! I left a few comments.

[2021-12-01 18:27] m-sullivan7 commented on #5590
Edits to both pages have been published.

[2021-12-01 18:27] #5590 closed

[2021-12-01 18:34] m-sullivan7 commented on #5563
@mediajunkie Now that the 12+ population denominator is behind us, there's one other edit we can make to state dashboard.

We were previously limited to July 24 as the start date for hospitalization chart in vaccinated vs. unvaccinated. With today's date update, both the cases and hospitalization charts begin at July 24. (The deaths chart actually pulls more data, going back to July 10.) I propose

[2021-12-01 22:49] jbum commented on #5599
Closing, this need will be eliminated by using the different dating display system in https://github.com/cagov/covid19/pull/5725

[2021-12-01 22:49] #5599 closed

[2021-12-01 22:50] jbum commented on #5692
Implemented and working.

[2021-12-01 22:50] #5692 closed

[2021-12-01 22:53] jbum opened #5726 "Display more accurate update dates/times on dashboard pages."
Related PR: https://github.com/cagov/covid19/pull/5725

Currently the production site shows "canned" (inaccurate) times on the dashboard pages. The time on the state-dashboard page and vaccination-progress page was forced to 10:00AM, and the date AND time on the equity page was forced to the most recent Wednesday at 10:00AM.

The suggested PR corrects that situation. A separate workflow in covid-s

[2021-12-02 17:25] LizNobriga commented on #5712
Thanks @m-sullivan7! Resolved comments.

[2021-12-02 17:32] LizNobriga commented on #5712
@mediajunkie [Edits](https://docs.google.com/document/d/1vCgDthlJtoTsXlJGr_JZ4yx2y24s4IJWs4tCZcHaTD8/edit#) to the P-EBT section of the _Food resources_ page are ready for review in [staging](https://staging.covid19.ca.gov/food-resources/#pandemic-ebt).

[2021-12-02 17:55] mediajunkie commented on #5712
looks good to publish!

[2021-12-02 18:30] m-sullivan7 opened #5731 "State dashboard and health equity: chart information consistency - bullet points"
We are currently inconsistent on whether we use bullet points or single paragraphs in chart information accordions. The majority of chart information drawers use bullet points. This ticket is to update the paragraphs to bullet points. The two pages affected are the state dashboard and health equity.

[2021-12-02 18:47] m-sullivan7 commented on #5731
@mediajunkie Google Docs:

- [State dashboard](https://docs.google.com/document/d/1be_G080QrLPC9342l-FYQzih_-7tJindBESCf3O4tbY/edit?usp=sharing). There's one edit for https://github.com/cagov/covid19/issues/5563 in there as well as a question in comment form about a note we might be able to drop.
- [Health equity](https://docs.google.com/document/d/1cIpjfSgKtED2CkvIL0FxfvlePed0xQimbmHS2tXtqLw/edit

[2021-12-02 19:22] mediajunkie commented on #5731
will review today
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-12-03 00:01] mediajunkie commented on #5563
yes, let's please do this.

[2021-12-03 00:27] mediajunkie commented on #5731
that all looks good to me

[2021-12-03 00:33] m-sullivan7 commented on #5563
Update published.

[2021-12-03 00:33] #5563 closed

[2021-12-03 00:44] m-sullivan7 commented on #5731
I have made the updates to state dashboard, but need to talk with a developer about the health equity chart information accordions because they're coded differently. I'll do that tomorrow.

Thanks for the approval!

[2021-12-03 00:45] mediajunkie commented on #5731
thank you!

On Thu, Dec 2, 2021 at 4:44 PM Michael Sullivan ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-12-03 02:40] LizNobriga commented on #5712
Published

[2021-12-03 02:40] #5712 closed

[2021-12-03 18:04] jbum opened #5736 "Build data collection Cron for variants data."
Data will come from a table currently at

 snowflake/CDPH_DATA/CDPH_COVID_GOOD_DATASETS/COVID_VARIANTS
File name – WGS Variants Daily Table_2021-12-01.csv

[2021-12-03 23:58] m-sullivan7 commented on #5731
Bullet points implemented on health equity. This work is complete!

[2021-12-03 23:58] #5731 closed

[2021-12-07 01:25] thepegisin opened #5752 "Add banner headline encouraging use of My Turn for boosters"
CDPH identified that many users are having issues getting booster appointments at their doctor's office. Proposed we encourage them to use My Turn instead through a homepage banner. Devon Keeler agreed, but asked that we not say "we have plenty of doses."

- [x] Draft: https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKjL7qSw/edit
- [x] Get approval from @mediajunkie
- [x] St

[2021-12-07 01:28] #5752 closed

[2021-12-07 20:52] mediajunkie commented on #5250
This seems to be relatively straightforward, with no substantive content
changes. Perhaps the title is the most noticeable change. I think I can
primarily just inform the vax task force and CDPH comms folks vs. get their
approval, so please go ahead and stage when ready.

[2021-12-07 21:16] m-sullivan7 commented on #5250
[Staged](https://staging.covid19.ca.gov/vaccination-progress-data/) and ready for sharing externally. Would a Word Doc showcasing the differences be helpful?

[2021-12-07 22:11] mediajunkie commented on #5250
Yes, please!

[2021-12-07 22:58] jbum commented on #5323
Done.

[2021-12-07 22:58] #5323 closed

[2021-12-07 23:19] mediajunkie commented on #5736
presumably the file name iterates with the date

[2021-12-08 23:31] m-sullivan7 opened #5759 "State dashboard: testing note fixes"
Update state dashboard as appropriate to include:

- Appropriate lag times (if any)
- Any exclusions

[Google Doc with updates](https://docs.google.com/document/d/1TqdEmfoYsTSa16X4ALUMThu6MtgsAtUj2U3t-trstNw/edit?usp=sharing)

[2021-12-10 01:18] jbum opened #5762 "Add date-range selection to the histogram charts on the /state-dashboard/ page."
Work is currently being done in the branch jbum-dashboard-date-range-picker and is being previewed at

https://preproduction.covid19.ca.gov/state-dashboard/#county-statewide

[2021-12-10 20:38] thepegisin opened #5765 "Update Vaccines page with booster availability for 16/17-year-olds"
Update boosters section and Q/As with new Pfizer booster availability for 16- and 17-year-olds.

- [x] Analyze CDPH copy and draft update: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish

[2021-12-10 20:42] #5765 closed

[2021-12-13 18:00] thepegisin opened #5775 "Publish banner about booster availability for 16/17-year-olds"
Pfizer boosters are now approved for 16/17-year olds.

- [x] Draft banner: https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKjL7qSw/edit#
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish

[2021-12-13 18:21] #5775 closed

[2021-12-13 22:13] thepegisin opened #5776 "Add testing recommendation to Travel page"
As of today, CDPH is recommending that anyone arriving into or returning to California get tested 3-5 days later. The _Travel_ page needs to be updated accordingly.

- [x] Draft changes: https://docs.google.com/document/d/1wORwXEb2hwxRYiNp3zOw7f4CLZEbIZm43BjD3D6fStU/edit#
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish

[2021-12-14 00:30] m-sullivan7 opened #5777 "Vaccination data: vaccination over time copy change"
Cynthia Yen has suggested changing the milestones shown in this chart on _Vaccination data_:

![image](https://user-images.githubusercontent.com/69169190/145910703-a4e81fea-2980-48cd-a6e4-1e97ad151bef.png)

The introductory copy would need to change to match. Proposed copy:

[2021-12-14 20:22] m-sullivan7 commented on #5250
Changes published after approval from CDPH

[2021-12-14 20:22] #5250 closed

[2021-12-14 23:56] thepegisin opened #5782 "Publish banner about masking in indoor public spaces"
CDPH announced that masking will be required in indoor public spaces from December 15, 2021 to January 15, 2022. Need a banner that links to CDPH guidance on this.

- [x] Draft: https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKjL7qSw/edit
- [x] Get approval through @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish

[2021-12-14 23:59] #5782 closed

[2021-12-15 00:00] thepegisin opened #5783 "Update Masks page with indoor public spaces mask mandate"
CDPH announced a new masking requirement in indoor public spaces from 12/15 to 1/15. Updating the _Masks_ page accordingly. Recommend a highlight box at the top and body copy changes we can easily revert. Staging before approval so we can show (and I can troubleshoot) adding a highlight box.

- [x] Draft changes: https://docs.google.com/document/d/1W5c0cW81W54_GOaTW5FFupznnIiFCKmhJv_Kls3ALBs/edit#

[2021-12-15 17:08] LizNobriga opened #5785 "Mega-events: negative test result timeframe"
[Draft edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit#)
Reference: [CDPH mega-events guidance](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Beyond-Blueprint-Framework.aspx)

- [x] Draft
- [x] Internal review
- [x] Stage
- [x] Stakeholder review
- [x] Publish

[2021-12-15 17:15] thepegisin commented on #5783
Also removed "Learn more" button that linked to CDPH guidance so as not to direct people away from simple explanation. Guidance is already linked in body text.

[2021-12-15 17:15] #5783 closed

[2021-12-15 18:26] thepegisin opened #5787 "Update Testing page with shorter mega-events testing windows"
CDPH has shortened the testing windows for acceptable negative test results at mega-events (48 hours for PCR, 24 hours for antigen). The _Testing_ page needs to be updated accordingly.

- [x] Draft changes: https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edit
- [x] Get approvals through @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish

[2021-12-15 23:22] mediajunkie commented on #4978
or next week?

[2021-12-16 00:08] thepegisin opened #5788 "Update Masks page to include required masking indoors at workplaces"
The temporary masking requirement now includes workplaces. Update the _Masks_ page to reflect this.

- [x] Draft edits: https://docs.google.com/document/d/1W5c0cW81W54_GOaTW5FFupznnIiFCKmhJv_Kls3ALBs/edit
- [x] Send to @mediajunkie for approvals
- [x] Stage
- [x] Check
- [x] Publish

[2021-12-16 00:55] thepegisin commented on #5788
Also updated homepage banner to add "workplaces." Mirrored text in banner and _Masks_ page highlight box.

[2021-12-16 00:55] #5788 closed

[2021-12-16 00:56] #5776 closed

[2021-12-16 17:40] m-sullivan7 commented on #4908
After reviewing page feedback going back to November 11, there aren't many comments including `variant`, `delta`, or `omicron`. What feedback there was (all of which was searching for _variant_) came on the state dashboard. I agree with @mediajunkie 's suggestion that we place a variants chart on that page.

This [Google Doc](https://docs.google.com/document/d/1lxLpNyLpTz7cqQ6LdGGe2BqzmhQSuXtPHGUP

[2021-12-16 17:42] m-sullivan7 opened #5794 "Vaccination data: booster dose note"
CDPH has asked for a note to be added to the _Statewide vaccination data_ chart information drawer.

To align it with the chart content, I propose:

[2021-12-16 18:03] aaronhans opened #5795 "AWS migration"
Steps to complete frontend migration of covid19.ca.gov from Azure to AWS

- [x] staging traffic migrated to AWS, publishing flows verified
- [ ] @jbum to remove staging workflow
- [ ] @carterm to integrate redirect creation script into production workflow which will create redirects in production CloudFront: https://d1s2xkz90tmpy6.cloudfront.net/
- [ ] Aaron to create preproduction S3 buckets, cer

[2021-12-16 18:22] m-sullivan7 commented on #4908
Here's a [version of Variants that keeps the chart on a separate page](https://docs.google.com/document/d/1Cqo6P9pdlLTGHpL3h2MXsLHpD0D4TA2lTlsSX2KDWng/edit?usp=sharing), but focused only on the chart. It provides a link to the CDPH page for people to see the detailed info.

[2021-12-16 18:23] m-sullivan7 commented on #5794
New note approved by Cynthia.

[2021-12-16 19:03] m-sullivan7 commented on #5759
@mediajunkie Here's the change coming out of today's meeting on state dashboard testing notes. I didn't catch your final suggestion since I was flipping between windows. Could you confirm that [this is the edit](https://docs.google.com/document/d/1TqdEmfoYsTSa16X4ALUMThu6MtgsAtUj2U3t-trstNw/edit?usp=sharing) before I publish?

[2021-12-16 19:07] mediajunkie commented on #4908
ah, I thought you were leaning toward an stand-alone page. Did I mistake
what option No. 2 was?

(I'll support any preference you have but just want to understand.)

[2021-12-16 19:10] mediajunkie commented on #5759
looks good!

[2021-12-16 20:05] LizNobriga commented on #5785
The [edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit#) for the Mega-events page can be viewed in [staging](https://staging.covid19.ca.gov/mega-events/).

@m-sullivan7, there are 3 sentences that Hemingway flags as very-hard-to-read in the _Outdoor events_ section.

[2021-12-16 20:26] m-sullivan7 commented on #4908
I do lean towards a [standalone page](https://docs.google.com/document/d/1Cqo6P9pdlLTGHpL3h2MXsLHpD0D4TA2lTlsSX2KDWng/edit?usp=sharing).

Comment #1 from 9:40 is outdated, so disregard. 🙂

[2021-12-16 20:49] m-sullivan7 commented on #5759
[Change made and live.](https://covid19.ca.gov/state-dashboard/#county-statewide) Closing issue!

[2021-12-16 20:49] #5759 closed

[2021-12-16 20:52] m-sullivan7 commented on #5794
[Note published.](https://covid19.ca.gov/vaccination-progress-data/#overview) Closing this issue.

[2021-12-16 20:52] #5794 closed

[2021-12-16 20:53] m-sullivan7 commented on #5785
Thanks for highlighting that Liz. Any changes you'd like to propose in response to that Hemingway finding or would you like to stand pat?

[2021-12-16 20:56] mediajunkie commented on #4908
Perf

On Thu, Dec 16, 2021 at 12:27 PM Michael Sullivan ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-12-16 23:03] LizNobriga commented on #5785
I don't have any quick fixes.

[2021-12-16 23:04] LizNobriga commented on #5785
Hi @mediajunkie. We have the [edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit#) for Mega-events in [staging](https://staging.covid19.ca.gov/mega-events/). Let me know if you have any thoughts or if stakeholders have feedback.

[2021-12-16 23:07] mediajunkie commented on #5785
confirming with testing task force and will get back to you.
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-12-16 23:57] aaronhans commented on #5795
PR for longer cache on covid static files in production deploy https://github.com/cagov/covid19/pull/5798

[2021-12-17 00:04] jbum commented on #5795
approved

[2021-12-17 00:56] aaronhans commented on #5795
DNS help desk ticket https://github.com/cagov/Help-Desk/issues/329

[2021-12-17 16:34] zakiya commented on #5762
https://www.figma.com/file/LrzsOu8U5KcMAjJTQ1O3BG/COVID19.ca.gov-screens?node-id=8399%3A41798

[2021-12-17 18:00] m-sullivan7 commented on #5777
[Google Doc](https://docs.google.com/document/d/1DiOmAGpph6QeXkfMo96hw-wkd6zzYe1_HwlhA3L1v7c/edit?usp=sharing) showing proposed changes.

[2021-12-17 19:48] LizNobriga commented on #5785
Request to convert hours to days is complete. See [edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit) and [staging](https://staging.covid19.ca.gov/mega-events/).

[2021-12-17 20:42] m-sullivan7 commented on #5785
They look good to me!

[2021-12-17 22:00] aaronhans commented on #5795
Post launch checklist

- [ ] retire production deploy pipeline
- [ ] tell CDT we don't need premium akamai subscription
- [ ] remove Azure production publishing git action workflow steps
- [ ] retire Azure production app server

[2021-12-17 22:09] aaronhans commented on #5795
redirects integration into covid production workflow PR: https://github.com/cagov/covid19/pull/5756

[2021-12-17 22:21] m-sullivan7 commented on #5777
Change made and published.

[2021-12-17 22:21] #5777 closed

[2021-12-17 23:21] LizNobriga commented on #5785
Request to change "age 3" to "age 2" is complete. See [edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit) and updated [staging.](https://staging.covid19.ca.gov/mega-events/)

[2021-12-17 23:36] thepegisin commented on #5787
Published 12/17/21 at 3:30PM.

[2021-12-17 23:36] #5787 closed

[2021-12-20 21:41] m-sullivan7 opened #5813 "Data and tools: update data dictionary"
From Arcadio Bignayan:

The new wording hasn't been approved, but is expected to come in the new day or two.

[2021-12-20 23:00] mediajunkie opened #5814 "Precise dates for trackerbox"
Make the following changes to the trackerbox on the state dashboard:

1. Remove the statement under the heading. 'To date, California has confirmed a total of # COVID-19 cases and # deaths.'
2. Below the boxes, on days when all four boxes were updated, add the timestamp to the current sentence, making it something like , 'Updated December 20, 2021 at 10:00 AM with data from December 19, 2021.' _(e

[2021-12-20 23:40] jbum commented on #5814
@mediajunkie : Question -- do you want accurate times or rounded times where you are showing "10:00 AM"?  I am assuming rounded because you put "10:00 AM" and it's never actually 10:00 AM...  Also, slim possibility that if we show accurate, the two times might be a minute off, even though the dates are the same.

[2021-12-21 00:04] mediajunkie commented on #5814
Why don't we use that same formula you mentioned for the page dates,
rounded to the nearest 15 minute block?

On Mon, Dec 20, 2021 at 3:40 PM Jim Bumgardner ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alph

[2021-12-21 00:24] jbum commented on #5814
Okay, I'm actually rounding to next 30 minute block (cause we actually publish at 9:36, typically).

Implemented the above on preproduction.

[2021-12-21 00:29] mediajunkie commented on #5814
Ok

On Mon, Dec 20, 2021 at 4:24 PM Jim Bumgardner ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-12-21 23:18] mediajunkie opened #5820 "Stop showing suspected hospitalizations"
We want to stop showing confirmed plus suspected hospitalizations on the state dash chart and instead want to plot just confirmed hospitalizations, to stop including "and suspected" in the intro, and to show dynamic data based on confirmed totals and daily changes, not on the sum of confirmed and suspected

![image](https://user-images.githubusercontent.com/3227378/147009949-fc4b38ad-893b-432b-8b5

[2021-12-21 23:30] mediajunkie commented on #4981
@m-sullivan7 there is a request for better explanatory text above the chart indicating that the data ends at such and such a date (currently Dec 7, tomorrow December 14, for example), and potentially incorporating framing talking points that Carlos is gathering for us.

[2021-12-21 23:57] m-sullivan7 commented on #5813
Change is to update the age in eligible booster recipients from 18 to 16.

[2021-12-22 00:05] #5813 closed

[2021-12-22 00:13] thepegisin opened #5821 "Publish banner about getting tested before the holidays"
Tonya LaMont (GO) asked that we feature testing in coordination with the Governor's message planned for Wed 12/22. Proposed that we put this in a homepage banner headline.

- [x] Draft banner: https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKjL7qSw/edit#
- [x] Get approval from Tonya (per @mediajunkie )
- [x] Stage
- [x] Check
- [x] Publish

[2021-12-22 00:35] m-sullivan7 opened #5822 "12/22 governor press conference"
Update homepage with video livestream of governor's press conference scheduled for 10:40.

[2021-12-22 00:40] jbum commented on #5726
Dupe of #5814

[2021-12-22 00:40] #5726 closed

[2021-12-22 00:40] jbum commented on #5736
Done

[2021-12-22 00:40] #5736 closed

[2021-12-22 00:40] m-sullivan7 commented on #4981
Thanks! I've staged language to that effect. I've added in dynamic date fields per Jim, so once he builds those that should hook up automatically.

[2021-12-22 00:42] jbum commented on #5010
@aaronhans I'm curious if you most recent testing fix would have fixed this...

[2021-12-22 00:50] aaronhans commented on #5010
We have this workflow that runs on all translated PRs https://github.com/cagov/covid19/blob/master/.github/workflows/eleventy_validate.yml it checks to make sure that the build still runs....

This used to catch issues which broke page rendering because those would stop the build from completing, should look into this a bit more.

We could also add a test that runs through all urls in sitemap and

[2021-12-22 02:33] mediajunkie commented on #5822
TY

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2021-12-22 17:02] thepegisin commented on #5821
Published 12/22/21 AT 9AM.

[2021-12-22 17:02] #5821 closed

[2021-12-22 17:09] thepegisin opened #5824 "Change text of arrow link on homepage"
Tonya LaMont (GO) has asked that we change the **GET VACCINATED -->** text on the homepage to read **GET YOUR BOOSTER -->**. I agree that this would be effective.

- [x] Get approval from @mediajunkie
- [x] Change text in varHeroP1 field on homepage labels post
- [x] Stage
- [x] Check
- [x] Publish

[2021-12-22 17:33] thepegisin commented on #5824
Published 12/22/21 9:30AM.

[2021-12-22 17:33] #5824 closed

[2021-12-22 17:41] thepegisin opened #5825 "Update Vaccine page with new booster requirement for healthcare workers"
New requirement being announced by the Governor today: healthcare workers are required to get booster shots. Updating our _Vaccines_ page to reflect this.

- [x] Draft changes: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit#
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish

[2021-12-22 18:31] thepegisin commented on #5825
Published 12/22/21 at 10:30AM.

[2021-12-22 18:31] #5825 closed

[2021-12-23 00:44] m-sullivan7 commented on #5822
Video published in the morning and removed in the afternoon. Closing the issue.

[2021-12-23 00:44] #5822 closed

[2021-12-27 17:19] mediajunkie commented on #5820
- remove "and suspected" from three locations
- replace use of `HOSPITALIZED_COVID_CONFIRMED_PATIENTS`+`HOSPITALIZED_SUSPECTED_COVID_PATIENTS` 'hospitalized patients'  with just `HOSPITALIZED_COVID_CONFIRMED_PATIENTS` 'hospitalized patients'
- replace use of `HOSPITALIZED_COVID_CONFIRMED_PATIENTS_DAILY` (more/fewer etc,) with `HOSPITALIZED_COVID_CONFIRMED_PATIENTS_DAILY`

[2021-12-27 17:20] mediajunkie commented on #5820
@jbum for the first week of next year!

[2021-12-27 22:01] mediajunkie commented on #5820
updated mock of
- where to cut the phrase "and suspected" in three places
- plus highlight where the dynamic numbers will change (as well as in the chart not least of which)
- and also lest we forget, the chart itself would need to change:
![image](https://user-images.githubusercontent.com/3227378/147509873-bae4ca56-d87b-4cae-8c69-f2e52bcde352.png)

[2021-12-27 22:04] thepegisin commented on #5825
12/27/21: Added link to Adult Care Facilities and Direct Care Worker Vaccine Requirement Q&A, published 12/24/21.

[2021-12-28 16:58] thepegisin opened #5841 "Change 10-day isolation to 5-day"
The CDC changed their recommended period for isolation and quarantine of asymptomatic people. The Governor has tweeted that CA will comply. Here's what changed:

ISOLATION
- Those who test positive but are asymptomatic only need to isolate (stay home and avoid others) for 5 days instead of 10.
- The clock starts the day you test positive.
- After 5 days, if you still have no symptoms, you can retu

[2021-12-28 18:45] thepegisin commented on #5841
Testing the theory that a separate _Quarantine and isolation_ page is needed. Content on this topic is buried in Q/As.

- [ ] Check feedback and recent searches for frequency of related keywords.
- [ ] Share findings with @mediajunkie

[2021-12-29 00:19] chachasikes commented on #5277
Think we paused on this - moved it to the cannabis ICEBOX - also putting on the static site board so it gets tracked better.

[2021-12-29 16:45] m-sullivan7 opened #5843 "Vaccines administered data"
Today's vaccines administered data is delayed. Propose note to be placed on homepage and state dashboard:

Version for _Vaccination progress_:

[2021-12-29 17:11] m-sullivan7 commented on #5843
Updated note to include homepage, state dashboard, health equity, and _Vaccination data:_

[2021-12-29 17:23] m-sullivan7 opened #5844 "Health equity: note"
Due to problems running the health equity data, CDPH has proposed not providing updates health equity data for the week beginning December 29.

Proposed note:

[2021-12-29 17:35] m-sullivan7 commented on #5844
Note approved. Publishing now and will keep the ticket open until January 5, 2022, data update.

[2021-12-29 18:15] LizNobriga opened #5845 "Safety in the workplace - booster requirement"
Workers required to be fully vaccinated and boosted in healthcare and congregate settings.
[Draft](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit#)

- [x] Draft edits (Liz)
- [x] Internal review (Michael)
- [x] Stage (Liz)
- [ ] Stakeholder approvals (Christian)
- [ ] Publish (Liz)

These edits are linked to #5857.

[2021-12-29 18:15] LizNobriga commented on #5845
@m-sullivan7 Draft edits are ready for your review.

[2021-12-29 18:36] m-sullivan7 commented on #5843
All notes are publishing using the versions in the description. This issue will remain open until the data is updated and the notes are removed.

[2021-12-29 21:18] m-sullivan7 commented on #5845
Just one minor opinion thought. Looks great!

[2021-12-29 21:54] LizNobriga commented on #5845
@mediajunkie [Edits](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit) are ready for your review. Let me know when I should stage these changes.

[2021-12-29 22:12] LizNobriga commented on #5785
Forgot to close this ticket. These edits were published 12/17/21.

[2021-12-29 22:12] #5785 closed

[2021-12-30 00:42] thepegisin opened #5846 "Anchor links in search results - can we and should we?"

[2021-12-30 01:45] mediajunkie commented on #5845
edits look good to me

[2021-12-30 17:51] m-sullivan7 commented on #5843
Removed notes after this morning's data update.

[2021-12-30 17:51] #5843 closed

[2021-12-30 22:31] LizNobriga commented on #5845
@mediajunkie Should I stage these edits now? Or wait until we hear back from stakeholders?

[2021-12-30 22:35] LizNobriga opened #5852 "Mega-events: lower attendee thresholds"
CDPH may revise mega-events guidance to lower attendee thresholds to 500 people for indoor events and 5,000 people for outdoor events. Need to wait until CDPH has published their updated guidance before we can publish an update to our mega-events page.

[Draft edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit?pli=1#)

- [x] Draft (Liz)
- [x] Internal revie

[2021-12-30 23:22] thepegisin opened #5853 "Publish banner pointing to quarantine info"
Once quarantine content is published on our site, publish a banner that points to it. It will likely answer a question that will become more popular as people test positive that never did before.

- [x] Draft banner
- [x] Adapt to final version of quarantine content
- [x] Get approval through @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish

[2021-12-30 23:27] thepegisin commented on #5841
CDPH non-final drafts. Use to adapt
[Updated Mega Events 12.29.21 tr.docx](https://github.com/cagov/covid19/files/7794883/Updated.Mega.Events.12.29.21.tr.docx)
[Visitation SPHO - updated 12.29.21 CLEAN.docx](https://github.com/cagov/covid19/files/7794884/Visitation.SPHO.-.updated.12.29.21.CLEAN.docx)
[Isolation and Quarantine Updated 12.29.21 CLEAN.docx](https://github.com/cagov/covid19/files/7794

[2021-12-31 00:58] m-sullivan7 commented on #5852
Straight forward edits to me! All good!

[2021-12-31 02:01] LizNobriga opened #5857 "Safety in the workplace: return to work requirements"
This ticket now includes edits to _Safety in the workplace_ for:
- Booster requirements for healthcare and certain other workers
- Changes to isolation and quarantine periods (before returning to work)
- Mask requirements
- Exclusion pay
- How to file a wage claim or retaliation complaint
- 2022 supplemental paid sick leave (and other leave options)

See [draft edits](https://docs.google.com/docum

[2021-12-31 02:25] LizNobriga commented on #5852
@mediajunkie FYI - These [edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit?pli=1#) to **Mega-events** are ready for review (if CDPH decides to move forward with lowering the attendee thresholds for mega-events).

[2021-12-31 16:39] m-sullivan7 commented on #5633
Changes published!

[2021-12-31 16:39] #5633 closed

[2021-12-31 17:42] LizNobriga commented on #5852
[Draft edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit?pli=1#) are [staged](https://staging.covid19.ca.gov/mega-events/). Waiting for [CDPH mega-events guidance](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Beyond-Blueprint-Framework.aspx) update to publish before we publish updates to our Mega-events page.

[2021-12-31 18:06] thepegisin commented on #5853
Draft: https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKjL7qSw/edit#heading=h.ah68pjhj93yw

[2021-12-31 18:08] m-sullivan7 commented on #5857
I left a couple questions for clarity. These were tricky ones! I had to read through a couple of times, but I think it's as clearly communicated as we can get. Great job!

[2021-12-31 18:09] thepegisin commented on #5841
Approved and published 10 AM 12/31/21.

[2021-12-31 18:09] #5841 closed

[2021-12-31 18:22] thepegisin commented on #5853
Published 10:20 AM on 12/31/21.

[2021-12-31 18:22] #5853 closed

[2021-12-31 18:25] LizNobriga commented on #5857
@m-sullivan7 Thank you! I think your questions are resolved in the draft now. Yes, tricky ones for sure!

[2021-12-31 18:31] LizNobriga commented on #5857
@mediajunkie Do you want to share the [google doc](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit?pli=1#) (or screenshot) of the draft edits to the Returning to work after covid section of the Safety in the workplace page?

Reminder that this draft doc also contains our proposed edits to the section below about booster vaccination requirements for some workers

[2021-12-31 18:39] thepegisin commented on #5545
Published 12/30/21.

[2021-12-31 18:39] #5545 closed

[2021-12-31 18:40] thepegisin opened #5859 "Vaccines page: Update Q/A with rules for visiting healthcare facilities"
CDPH is amending the SPHO governing who can visit healthcare facilities. If vaccinated, you now need to have gotten your booster.
[Visitation SPHO - updated 12.31.21 CLEAN.docx](https://github.com/cagov/covid19/files/7796873/Visitation.SPHO.-.updated.12.31.21.CLEAN.docx)

- [x] Draft changes: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit#heading=h.uhyazrig37g

[2021-12-31 18:53] jbum commented on #5762
Shipped!

[2021-12-31 18:53] #5762 closed

[2021-12-31 18:53] jbum commented on #5092
Done.

[2021-12-31 18:53] #5092 closed

[2021-12-31 18:54] jbum commented on #5036
Added a cron-style trigger to staging deploy workflow.

[2021-12-31 18:54] #5036 closed

[2021-12-31 21:32] LizNobriga commented on #5426
Using this ticket for changes that take effect January 1, 2022 to the federal COVID-19 economic injury disaster loan (EIDL) program.

[Draft edits](https://docs.google.com/document/d/1DfMh04qNBA4xn1vHJw0vPnTIN5yEGvyuqM8vbKU5ZxU/edit#) include EIDL changes, and also update page content and style.

[2021-12-31 21:33] LizNobriga commented on #5426
@m-sullivan7 Can you do the internal review next?
[Draft edits](https://docs.google.com/document/d/1DfMh04qNBA4xn1vHJw0vPnTIN5yEGvyuqM8vbKU5ZxU/edit#)

[2021-12-31 21:48] LizNobriga commented on #5426
Background info from U.S. SBA email (news@updates.sba.gov):

SUBJECT: EIDL loan: there are only two actions that stop on Dec. 31

There are only two actions that stop on Dec. 31:
- SBA will no longer accept new applications for [COVID EIDL](https://www.sba.gov/funding-programs/loans/covid-19-relief-options/eidl/covid-19-eidl) loans and advances and
- SBA will no longer process applications for the

[2022-01-01 01:21] LizNobriga commented on #5427
FYI @m-sullivan7, I added content for the CA mortgage relief program to the [draft](https://docs.google.com/document/d/1vvbvdMJLP9LZ5KQwKJ1WY-bHez675MtFp1QUFhEFZns/edit#heading=h.c4836wull60q). **Who qualifies** needs more work but sharing it early for feedback. Also updated some content in other sections in the draft.

[2022-01-03 04:37] jbum commented on #5814
Deployed.

[2022-01-03 04:37] #5814 closed

[2022-01-03 17:39] m-sullivan7 commented on #5426
Left some first draft edits, Liz. Looks like a full overhaul of the page!

[2022-01-03 17:46] LizNobriga commented on #5426
@m-sullivan7 Edits look great, thank you!

[2022-01-03 17:54] LizNobriga commented on #5426
@mediajunkie The COVID-19 EIDL (loan) program stopped accepting new applications on Dec 31, 2021, so we need an update to that content on the Financial help for businesses page. These [draft edits ](https://docs.google.com/document/d/1DfMh04qNBA4xn1vHJw0vPnTIN5yEGvyuqM8vbKU5ZxU/edit#) also update the rest of the page (remove outdated content and update remaining content), improve readability, and

[2022-01-03 18:01] LizNobriga commented on #5852
CDPH published updated [mega-events guidance](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Beyond-Blueprint-Framework.aspx) on December 31, 2021. The guidance is not effective until January 15, 2022 (including the lower attendee thresholds).
@mediajunkie Should we plan to publish the Mega-events page we have ready in [staging](https://staging.covid19.ca.gov/mega-events/) at the end of

[2022-01-03 18:01] mediajunkie commented on #5426
yes these look good to stage
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-01-03 18:27] mediajunkie commented on #5852
how did we handle this sort of "anticipated date of the thing
taking effect" in the past?

[2022-01-03 19:17] m-sullivan7 commented on #5427
Wow, such huge edits! I left some edits and one question where I'd like to make sure I understand the process and will have some more edits once I've got that. I'll leave the assignment on me for the moment. 🙂

[2022-01-03 20:23] LizNobriga commented on #5426
@m-sullivan7 Could you take a look at this page in [staging](https://staging.covid19.ca.gov/business-and-employers/) and share any additional feedback?

[2022-01-03 20:41] LizNobriga commented on #5852
I made revisions to the [draft](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit?pli=1#) and in [staging](https://staging.covid19.ca.gov/mega-events/) to show what it could look like to include what's in effect now, and what will change on Jan 15. Thoughts @mediajunkie @m-sullivan7 ?

[2022-01-03 20:58] mediajunkie commented on #5820
@m-sullivan7 there are some small copy changes needed before we can stage this for quick review and approval

[2022-01-03 21:24] m-sullivan7 commented on #5820
Content changes look good and are staged! Here's a [Google Doc showing those changes](https://docs.google.com/document/d/1ObR6kPseuWvD7wjWyPPOlRI2IYtwf5rDme_HIbHYTnY/edit?usp=sharing).

[2022-01-03 21:42] m-sullivan7 commented on #5852
I think it's a good solution. I support this approach. Nice work Liz!

[2022-01-03 21:46] m-sullivan7 commented on #5426
I like the approach.

From a design-perspective, I don't like how the sub-bullets get a break added between them. It adds unneeded space (that might hinder comprehension). That's a styling issue, and one I could live with. The alternative would be to collapse those sub-bullets into the main ones like so:

- More funds. You have up to 2 years from the start of your first loan to request a loan incr

[2022-01-03 22:30] LizNobriga commented on #5852
@mediajunkie Do you think it's ready for stakeholder approvals?

- [Mega-events edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit?pli=1#) in google doc
- [Mega-events page in staging](https://staging.covid19.ca.gov/mega-events/)

[2022-01-03 23:01] LizNobriga commented on #5426
Agree! Good catch.

[2022-01-03 23:12] LizNobriga commented on #5426
@mediajunkie The [edits](https://docs.google.com/document/d/1DfMh04qNBA4xn1vHJw0vPnTIN5yEGvyuqM8vbKU5ZxU/edit#) for **Financial help for businesses** are ready for stakeholder review. I think GO Legal and GO-Biz, right?
Page with edits  in [staging](https://staging.covid19.ca.gov/business-and-employers/).

[2022-01-03 23:14] LizNobriga commented on #5845
Updating this ticket to show these [edits](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit) are ready in [staging](https://staging.covid19.ca.gov/workers-and-businesses/) (along with the edits in #5857).

[2022-01-03 23:25] LizNobriga commented on #5427
I think I got to all of them now.

[2022-01-03 23:55] thepegisin opened #5864 "Change Current safety measures page to add isolation and quarantine"
Feedback tells us that many people look for isolation and quarantine info on the [_Current safety measures_](https://covid19.ca.gov/safely-reopening/) page and aren't finding that. Since these are safety measures, propose that we add a link to that info on this page.

- [x] Draft an update that removes _Holidays_ and adds _Isolation and quarantine_: https://docs.google.com/document/d/1AUcqlSFcKZ0D

[2022-01-04 00:59] thepegisin opened #5865 "Update Masks page with upgrading your mask and extending mandate to Feb"
Update _Masks_ page to include advice about upgrading your mask, per CDPH: https://www.cdph.ca.gov/Programs/OPA/Pages/NR21-371.aspx

Also extending masking mandate to Feb 15, 2022.

- [x] Draft edits: https://docs.google.com/document/d/1W5c0cW81W54_GOaTW5FFupznnIiFCKmhJv_Kls3ALBs/edit#
- [x] Get approval through @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish

[2022-01-04 01:24] mediajunkie commented on #5427
who needs to approve this?

[2022-01-04 18:09] aaronhans commented on #5846
The slack conversation on this seemed like we were talking about a quick answer. This is pretty easy to handle there. Were you interested in this being part of the main search results section instead of quick answers @thepegisin? That is more complex

[2022-01-04 18:26] thepegisin commented on #5846
Yes, instead of quick answers. I know we have elevated quick answers in search to appear first, and I understand why, but that's actually problematic. In content design, we put the most important and most-needed content in body text, and put content that affects fewer people in FAQs. But then we elevate those FAQs to the top in search. So if someone searches on "quarantine," the best answer for ho

[2022-01-04 18:58] aaronhans commented on #5846
Great points about quick answers getting in the way @thepegisin. I believe @jaredwyee has the search initiative on his plate. We may need to switch search engine providers to fix this(We have access to several via Azure/AWS). There is also a CDT initiative to improve search @rkojik is heading, we could see if he has new tools for us. cc @jbum

[2022-01-04 19:12] jaredwyee commented on #5846
@aaronhans I'm not working on search

[2022-01-04 22:29] m-sullivan7 commented on #5844
Note removed after review by Tomas Leon.

[2022-01-04 22:34] m-sullivan7 commented on #5844
Note removed prematurely.

[2022-01-05 01:20] LizNobriga commented on #5427
@m-sullivan7 I needed to revise the mortgage relief program content because the link for 'create your profile' was not working anymore. Can you review it? (No changes to the bullets under the Who qualifies H3.)

Find the revised [edits](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit?pli=1#) in the google doc. The page is also in [staging](https://staging.covid

[2022-01-05 16:56] m-sullivan7 commented on #5427
The Google Doc link goes to _Safety in the workplace_. I dug up [this Google Doc](https://docs.google.com/document/d/1vvbvdMJLP9LZ5KQwKJ1WY-bHez675MtFp1QUFhEFZns/edit) instead and saw edits from you yesterday. Hopefully that's the right one to have looked at!

The readability edits looked good! No changes from me.

On the mortgage relief section, I left two suggestions where I saw opportunities to

[2022-01-05 17:40] #5685 closed

[2022-01-05 17:41] m-sullivan7 commented on #5820
I'm taking over the assignment of this ticket for publishing. I will keep the ticket open through January 12, 2022, at which point I will remove the reference to January 5, 2022, in the hospitalization note and close the ticket.

[2022-01-05 18:04] m-sullivan7 commented on #5844
Note removed with approval.

[2022-01-05 18:04] #5844 closed

[2022-01-05 18:15] LizNobriga commented on #5427
@m-sullivan7 I made two more changes and tagged you with comments to make them easy to find.

[2022-01-05 18:32] m-sullivan7 commented on #5427
Additional link looks good.

I found the first sentence a bit tough to understand. What do you think of the proposed revision to reorder it? I also had one suggestion and a maybe thought in a note.

[2022-01-05 18:37] LizNobriga opened #5876 "Get financial help: update cards/links"
Split mortgage card into two (one for forbearance and one for relief) once Housing and rent update publishes.
Check if other updates are needed.

[Draft edits in google doc](https://docs.google.com/document/d/16ptLNf5ShmUVwMB0RUNFf0xQP3B1UsTI3puoxHPKDrE/edit#)

[2022-01-05 18:39] jbum opened #5877 "Add beta.covid19.ca.gov branch and S2/Cloudfront distro"
The **preproduction** branch is actually serving as a **beta** branch, used to preview features which are not yet ready for staging.

I would like to create a new beta.covid19 subdomain / distro, and then stop misusing preproduction for that purpose.

We can either retire preproduction, or use it more sparingly for complicated staging efforts.

The "beta" domain will be a clearer indicator of the

[2022-01-05 18:55] thepegisin opened #5878 "Change definition of mega-events as of 1/15"
On 1/15/22, the definition of mega-events is changing.

- Indoor events will be 500 people or more (was 1,000)
- Outdoor events will be 5,000 people or more (was 10,000)

- [x] Find places on all my pages where this needs to be updated: _Testing_, _Current safety measures_
- [x] Draft edits: [_Testing_](https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edit), [_Curren

[2022-01-05 19:04] LizNobriga commented on #5427
@mediajunkie The update to the **Housing and rent** page is ready for you to review and move forward.

Here are the links to the [draft edits in the google doc](https://docs.google.com/document/d/1vvbvdMJLP9LZ5KQwKJ1WY-bHez675MtFp1QUFhEFZns/edit#), and to the [staged page](https://staging.covid19.ca.gov/housing-and-homelessness/).

We also talked about tracking down the email threads from around O

[2022-01-05 21:31] thepegisin opened #5879 "Edit Vax for the Win page to reflect end of program 1/7"
Meet with Melanie Perkins and Jennifer Brown to edit _Vax for the Win_ page to reflect the end of the program on Friday 1/7.

- [x] Edit draft with pair writing: https://docs.google.com/document/d/1QRebgp-VkgHrj0mJF4j1QtRNmsLyIKhnqDGIndm9zQk/edit#
- [x] See what should happen to _Vax for the Win - Six Flags ticket clinics_ and _Dream Vacations_ - Melanie and Jen say delete
- [x] Get approval throu

[2022-01-05 22:29] #5864 closed

[2022-01-05 23:35] LizNobriga opened #5880 "Contracts: 3 new items"
Request to post 3 new ones.

[2022-01-05 23:36] LizNobriga commented on #5880
Items posted and GO legal notified they are live.

[2022-01-05 23:36] #5880 closed

[2022-01-05 23:37] m-sullivan7 commented on #5876
Looks solid. No changes from me!

[2022-01-05 23:57] LizNobriga commented on #5876
Just a heads up @mediajunkie.

[2022-01-06 17:54] #5865 closed

[2022-01-06 18:05] aaronhans commented on #5846
I checked in with CDT search folks and they didn't have any quick fixes. Tagging @mediajunkie on this because the point that current implementation of quick answers is not optimal is an important. Will let product team drive this so we can get  feedback to determine optimal engineering approach.

[2022-01-06 18:16] aaronhans commented on #5846
Would it be better to move quick answers below the main search results?

[2022-01-06 18:20] aaronhans commented on #5846
We could create two separate quick answers datasets, one which is more general and then one we put at the bottom which is more specific FAQs. We can also test different main content search tools

[2022-01-06 18:25] thepegisin commented on #5846
We could try putting quick answers under main search results, but they should still appear on the first page, IMHO. Maybe after the first 5 results? Or the first 2?

[2022-01-06 18:27] thepegisin opened #5885 "Banner about mask mandate extension"
Mask mandate has been extended to February 15, 2022.

- [x] Draft banner to publicize this: https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKjL7qSw/edit#
- [x] Get approval through @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish

[2022-01-06 18:45] thepegisin opened #5886 "Rename CA Notify menu item"
Menu item for CA Notify is unhelpful unless you know what CA Notify is. Proposing we rename it "Exposure notifications."

- [x] Get approval from @mediajunkie
- [x] Stage change in Menu Links post
- [x] Check
- [x] Publish

[2022-01-06 19:16] thepegisin commented on #5886
Also reordered menu items in _Safety in daily life._ They were in alphabetical order (though other menus aren't) and this put _Holidays_ way too high. Now ordered roughly by popularity of topic.

[2022-01-06 19:16] #5886 closed

[2022-01-06 19:55] m-sullivan7 commented on #4908
[Page published](https://covid19.ca.gov/variants/). Will follow after lunch to update navigation on data pages and in the site navigation menu.

[2022-01-06 21:30] m-sullivan7 commented on #4908
Added to site navigation and data page navigation. Issue complete!

[2022-01-06 21:30] #4908 closed

[2022-01-06 22:41] thepegisin opened #5887 "Vaccines page: Update for new booster info CDPH posts 1/6"
Updated booster info coming from CDPH:

- Pfizer boosters available for ages 12-15
- mRNA booster can be given 5 months after last mRNA vaccination (instead of 6 months)
- Additional doses are available for immune-compromised kids aged 5+

Tasks:
- [x] Draft edits: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit#
- [x] Get approval through @mediajunkie (emailed

[2022-01-06 23:19] m-sullivan7 opened #5888 "State dashboard and homepage: case and death note"
Carlos Sanchez reported an undercount in the state and county data. This requires a note on the homepage and state dashboard.

After discussion with Carlos, he provisionally approved the following note for state dashboard:

The homepage version comes from CDPH with one minor edit to match the context of the COVID site:

[2022-01-07 00:44] thepegisin commented on #5859
Published 1/6/22 at 5 PM.

[2022-01-07 00:44] #5859 closed

[2022-01-07 00:45] thepegisin commented on #5887
Published 1/6/22 at 5 PM.

[2022-01-07 00:45] #5887 closed

[2022-01-07 00:51] LizNobriga commented on #5852
Made revisions based on stakeholder input, along with additional improvements to content. Revised draft is back out for approval to publish. Also awaiting stakeholder input on masks at outdoor mega-events.

[2022-01-07 18:57] thepegisin opened #5905 "Update to quarantine guidance for employees"
CDPH is updating quarantine guidance for employees. It's a bit confusing at the moment. Have drafted an update, but still see problems and expect change.

- [x] Draft changes to _Testing:_ page: https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edit
- [ ] Get final CDPH version and adjust
- [ ] Get approval through @mediajunkie
- [ ] Stage
- [ ] Check
- [ ] Publish

[2022-01-07 19:01] thepegisin commented on #5905
[IQ_1.6.2022 TC.docx](https://github.com/cagov/covid19/files/7830783/IQ_1.6.2022.TC.docx)

[IQ_1.6.2022 CLEAN.docx](https://github.com/cagov/covid19/files/7830777/IQ_1.6.2022.CLEAN.docx)

[2022-01-07 19:13] m-sullivan7 commented on #5888
Notes removed.

[2022-01-07 19:13] #5888 closed

[2022-01-07 20:00] LizNobriga commented on #5857
@m-sullivan7 Could you look at revised edits to the H4, **Workers that do not have COVID-19 symptoms, but had close contact**?
References:
- [CDPH isolation and quarantine guidance updated Jan 6, 2022](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Guidance-on-Isolation-and-Quarantine-for-COVID-19-Contact-Tracing.aspx)
- [DIR FAQs about CDPH isolation and quarantine](https://www.dir.ca.g

[2022-01-07 20:08] m-sullivan7 commented on #5857
One proposed edit for concision, plus a potential accuracy edit. I looked at the CDPH guidance from January 6 and they say to test 5 days after instead of 3-5 days.

I also propose removing some text I don't think is needed around mask wearing.

[2022-01-07 22:16] thepegisin opened #5906 "Banner for 12+ boosters"
Publish banner on the homepage about booster availability for those 12 and up.

- [x] Draft: https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKjL7qSw/edit#
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish 5PM 1/7/22

[2022-01-07 23:39] LizNobriga commented on #5857
Made edit for concision. Kept 3-5 day testing exception for fully vaccinated booster-eligible workers that have not gotten their booster.

Revised section updated in [staging](https://staging.covid19.ca.gov/workers-and-businesses/#workplace-safety-standards) and ready for stakeholders to review. Edits also in [google doc](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4f

[2022-01-07 23:41] LizNobriga commented on #5852
Received more stakeholder feedback and proposed new revisions including highlight box. See [staging](https://staging.covid19.ca.gov/mega-events/) and [google doc](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit?pli=1#).

[2022-01-07 23:50] LizNobriga commented on #5852
Approved to publish.

[2022-01-07 23:55] #5852 closed

[2022-01-08 00:02] LizNobriga opened #5907 "Mega-events: Update on January 15, 2022"
Lower thresholds for mega-events take effect. Remove outdated content and alert box. Sync with @thepegisin for #5878.

[Draft edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit?pli=1#)

- [x] Draft
- [x] Internal review
- [x] Stage
- [ ] Stakeholder approval
- [x] Publish

[2022-01-08 00:13] mediajunkie commented on #5846
I'm happy to try either!

First, is there something we can benchmark to capture the problem (user feedback where it's clear the Q/A distracted them from the main point, etc.), so when we try changing it, after a while we can check or measure it again to see if the problem got better?

[2022-01-08 00:23] thepegisin opened #5910 "Engineering tasks for archiving two pages"
I'm archiving two pages that are no longer needed:

- https://covid19.ca.gov/vax-for-the-win-six-flags/
- https://covid19.ca.gov/dream-vacations-terms/

Need you to:

- [x] Remove translated page files
- [x] Do a crawl to update Q/As (which changed on a related page)

[2022-01-08 01:07] thepegisin commented on #5879
Published 1/7/22 at 5 PM.

[2022-01-08 01:07] #5879 closed

[2022-01-08 01:07] #5906 closed

[2022-01-08 01:18] LizNobriga opened #5912 "Safety in the workplace: indoor mask requirement through Feb 15"
DIR provided clarification on how the CDPH face mask order affects the ETS workplace requirements in their [FAQs](https://www.dir.ca.gov/dosh/coronavirus/COVID19FAQs.html#controls):

Update content for **Masks at work** on the [Safety in the workplace](https://covid19.ca.gov/workers-and-businesses/#workplace-safety-standards) page. One option is to link to the [Masks in the workplace](https://covi

[2022-01-08 01:53] rkojik commented on #5846
The creative (maybe not-so creative... maybe even crazy...) way I would've done this if I had pages... created a blank one with a server-side-include redirect to the page/anchor. Though, this would require that SSI redirect page be linked to _somewhere_ in content so that Google crawls it.

[2022-01-10 17:06] #5820 closed

[2022-01-10 17:06] #4981 closed

[2022-01-10 18:15] m-sullivan7 commented on #5907
Solid edits. No changes from me!

[2022-01-10 19:57] LizNobriga commented on #5907
@mediajunkie This update to Mega-events would ideally publish end of day this Friday (January 14, 2022) since the lower attendee thresholds take effect on January 15. Can we run this update through stakeholders by Friday?

See [edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit?pli=1#) in google doc and in [staging](https://staging.covid19.ca.gov/mega-event

[2022-01-11 18:38] LizNobriga commented on #5907
@mediajunkie Actually, I think we are okay if this update cannot happen by this Friday. The current page is clear on what takes effect on Jan 15, so I think we have more time than I initially thought. Maybe this update can get in the queue for publishing sometime next week. I'm not expecting stakeholder concerns since we did the related update of "what's coming on Jan 15" with them last week (but

[2022-01-11 22:36] thepegisin opened #5925 "Update Moderna booster interval to 5 months"
Change the time until you can get a Moderna booster from 6 months to 5. Already changed on CDPH site and My Turn.

- [x] Draft changes to _Vaccines_ page
- [x] Stage
- [x] Check
- [x] Get approval from @mediajunkie
- [x] Publish

[2022-01-11 22:38] #5925 closed

[2022-01-12 16:34] m-sullivan7 opened #5928 "Homepage: 1/12 governor briefing"
Update the homepage video section with YouTube link to governor media briefing at 12:45 p.m. Remove the link at the end of the day.

[2022-01-13 00:36] m-sullivan7 commented on #5928
Video posted before media briefing began and removed at the end of the day.

[2022-01-13 00:36] #5928 closed

[2022-01-14 03:39] jbum commented on #5016
I'm working on this now.  For the bottom chart, here's a sample:

![image](https://user-images.githubusercontent.com/287977/149447156-a4fc29d0-96ab-4f8f-84e3-2d3e7a9f7333.png)

Two questions.

1. Is this inserted placement where we want it?  below the chart, above the data reference?

2. Should I remove the date from the drawer and end the sentence with “7-day lag.“?

There is a similar situation

[2022-01-14 16:37] m-sullivan7 commented on #5016
For the Income/Crowded housing/Access to health insurance chart
1. Yes. We use "below the chart, above the source data link" on state dashboard and _Vaccination data_. I like the consistency.
2. Yes, let's remove the date and have the line about the 7-day lag stand as you propose.

For the data completeness chart, let's do the same placement of the date outside the accordion and have the first bul

[2022-01-14 17:23] jbum commented on #5016
:NP:  :-)

[2022-01-14 18:50] jbum commented on #5016
@mediajunkie  In preview on Preproduction. Also addresses the issue in #4978 (top two charts need dates).

[2022-01-14 18:50] jbum commented on #5016
Note: This will require a 2-day rollout -- we will want to collect translations for the modified captions first.

[2022-01-14 19:15] mediajunkie commented on #5016
no rush. let's do it right!

On Fri, Jan 14, 2022 at 10:51 AM Jim Bumgardner ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/c

[2022-01-14 19:58] thepegisin opened #5938 "Adding links to new/updated CDPH documents"
CDPH has updated or new PDFs or pages for the following:

- https://www.cdph.ca.gov/Programs/CID/DCDC/CDPH%20Document%20Library/COVID-19/self-isolation-instructions.pdf
-  https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Get-the-Facts-on-Vaccines.aspx
- https://www.cdph.ca.gov/Programs/CID/DCDC/CDPH%20Document%20Library/COVID-19/Which-Vaccine-is-Right-for-Me-Fact-Sheet.pdf
- https://www.cd

[2022-01-14 20:19] jbum commented on #5016
Okay, let me know @m-sullivan7 if there are any issues with the current display on

https://preproduction.covid19.ca.gov/equity/

I've added consistent date displays to all the charts.  For the top 3 charts, where I don't have a REPORT_DATE, I'm using PUBLISH_DATE - 1.  (and for the bottom chart, I'm showing REPORT_DATE+1, as before, which makes all the report dates match under normal conditions).

[2022-01-14 21:34] m-sullivan7 commented on #5016
Things look great to me @jbum !

[2022-01-14 22:05] #5938 closed

[2022-01-14 22:29] thepegisin commented on #5878
Updated 1/14/22 at 2:30 PM.

[2022-01-14 22:29] #5878 closed

[2022-01-14 22:57] LizNobriga commented on #5857
The FAQs for the ETS were revised Jan 12, 2022 (specifically the Q&As that address [quarantine and isolation](https://www.dir.ca.gov/dosh/coronavirus/COVID19FAQs.html#iso) were updated to better align with CDPH's changes). I'll review and update our proposed edits as needed.

[2022-01-14 23:01] LizNobriga commented on #5907
Published afternoon of Jan 14.

[2022-01-14 23:02] #5907 closed

[2022-01-14 23:02] mediajunkie commented on #5857
Thank you!
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-01-15 00:35] LizNobriga commented on #5857
@m-sullivan7 Could you review the latest edits? Revised the return to work section (left comments to indicate which are new edits). Also revised the masks section (see #5912).

[2022-01-15 00:38] m-sullivan7 commented on #5857
The edits (both for this issue and https://github.com/cagov/covid19/issues/5912) look good! I added one suggestion to clearly link recommendations to CDPH for maximum clarity. If you think it's overkill, I trust you!

[2022-01-15 00:49] LizNobriga opened #5939 "Mega-events: remove highlight box"
Remove the highlight box around the end of January 2022 (~2 weeks)

[2022-01-18 19:43] thepegisin opened #5953 "Homepage banner: How and when to get tested"
Refresh banner space and address a timely topic (according to user feedback) by publishing a banner about how and when to get tested.

- [x] Draft: https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKjL7qSw/edit#
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-01-18 19:47] #5885 closed

[2022-01-18 19:48] thepegisin commented on #5910
I believe @jbum told me he did this.

[2022-01-18 19:48] #5910 closed

[2022-01-18 20:18] thepegisin commented on #5953
Published 1/18/22 at 12:15 PM.

[2022-01-18 20:18] #5953 closed

[2022-01-18 20:43] jbum commented on #5016
Live on production.

[2022-01-18 20:43] #5016 closed

[2022-01-18 20:44] jbum commented on #4978
Currently live on production.

[2022-01-18 20:44] #4978 closed

[2022-01-18 22:37] LizNobriga commented on #5426
@m-sullivan7 Can you review this round of [edits](https://docs.google.com/document/d/1DfMh04qNBA4xn1vHJw0vPnTIN5yEGvyuqM8vbKU5ZxU/edit#)? This incorporates all of the stakeholder requests we discussed last week.

[2022-01-18 22:57] m-sullivan7 commented on #5426
I left some thoughts! Good job with it!

[2022-01-19 01:16] LizNobriga commented on #5426
@mediajunkie We revised our [edits](https://docs.google.com/document/d/1DfMh04qNBA4xn1vHJw0vPnTIN5yEGvyuqM8vbKU5ZxU/edit#) to incorporate the feedback from stakeholders. [Staging](https://staging.covid19.ca.gov/business-and-employers/) is updated with these changes.

Stakeholder suggestions were to add:

- Homeless Hiring Tax Credit to the Tax credit section
- New section for Grants with 3 grant p

[2022-01-19 02:23] LizNobriga commented on #5857
@mediajunkie We revised the section that covers returning to work after being sick or exposed to align with CDPH guidance for isolation and quarantine. We also updated the section about masking at work. These edits need stakeholder approvals.

[Edits](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit?pli=1#) in google doc
[Staging](https://staging.covid19.ca.gov/

[2022-01-19 15:29] mediajunkie commented on #5857
thanks! Have time set aside today to push on open approvals.

On Tue, Jan 18, 2022 at 6:23 PM Liz Nobriga ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | t

[2022-01-19 17:44] LizNobriga commented on #5427
Checking in on this one. Any updates from stakeholders? @mediajunkie

[2022-01-19 19:00] thepegisin opened #5958 "1/19/22: Add links to new CDPH docs"
New CDPH docs need to be linked appropriately on our site. Drafts:

- On _Masks_ page, link to Masks for Kids:
https://docs.google.com/document/d/1W5c0cW81W54_GOaTW5FFupznnIiFCKmhJv_Kls3ALBs/edit#heading=h.gjdgxs
- On _Testing_ page, link to Self-Quarantine Instructions: https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edit
- On _Vaccines_ page, link to Public Health

[2022-01-19 19:30] thepegisin opened #5959 "Add free at-home tests link to Testing page"
Add free at-home tests link to _Testing_ page.

- [x] Draft: https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edit
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-01-19 20:42] thepegisin commented on #5959
Published 1/19/22 at 12 PM.

[2022-01-19 20:42] #5959 closed

[2022-01-19 20:44] thepegisin commented on #5958
Published 1/19/22 at 12:30 PM.

[2022-01-19 20:44] #5958 closed

[2022-01-19 20:52] thepegisin opened #5960 "Make new homepage banner about free tests"
Create a banner that points to the US govt's free tests link.

- [x] Draft: https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKjL7qSw/edit#
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-01-19 23:56] thepegisin commented on #5960
Published 1/19/22 at 4

[2022-01-19 23:56] #5960 closed

[2022-01-20 00:13] thepegisin opened #5961 "Vax for the Win: Fix header hierarchy and change to past tense"
SiteImprove says that headers on this page are out of order. Also, language around the Jan 7 end of the program needs to change to past tense.

- [x] Draft: https://docs.google.com/document/d/1QRebgp-VkgHrj0mJF4j1QtRNmsLyIKhnqDGIndm9zQk/edit#heading=h.a7lc23fd5t0r
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-01-20 00:58] thepegisin commented on #5961
Changes published 1/19/22 at 4:45 PM.

[2022-01-20 01:56] thepegisin opened #5964 "Add CDPH Treatments link to Fighting COVID-19 menu"
CDPH has a new _Treatments_ page. We no longer have a _Treatments_ page, and we probably shouldn't make one now. But we can link to CDPH's page in our menu, much like we do now with _Symptoms and risks_.

- [x] Get approval from @mediajunkie
- [x] Stage adding this to _Fighting COVID-19_ menu
- [x] Check
- [x] Publish
- [x] Check

[2022-01-20 02:00] #5964 closed

[2022-01-20 17:20] m-sullivan7 opened #5970 "Variants: chart information update"
Update second bullet point in chart information drawer to:

[2022-01-20 17:29] m-sullivan7 opened #5971 "Variants: minor edits"
We deferred a number of items when we launched the _Variants_ page for later consideration. This ticket is to take up those items again and consider them.

[2022-01-20 17:51] m-sullivan7 commented on #5970
Updated note published.

[2022-01-20 17:51] #5970 closed

[2022-01-20 19:45] LizNobriga opened #5972 "Exclusion pay for employees"
Exclusion pay is trending topic in page feedback (on different pages, including Get local information, Safety in the workplace, and Get financial help).

Examples (from Jan 2022 page feedback for /workers-and-businesses/ page):
- "What if I got covid from my work place what do I do about getting paid while I'm at home due to covid"
- "If you get sick with COVID are you supposed to get paid your re

[2022-01-21 00:41] thepegisin commented on #5961
Made more edits requested by Melanie Perkins and Jennifer Brown (call center). Sent to Eric Norton in CDPH for approval. Draft: https://docs.google.com/document/d/1QRebgp-VkgHrj0mJF4j1QtRNmsLyIKhnqDGIndm9zQk/edit#

[2022-01-21 19:14] thepegisin commented on #5961
Approved by Eric Norton.

- [ ] Stage
- [ ] Check
- [ ] Publish
- [ ] Check

[2022-01-21 19:38] thepegisin commented on #5961
Updated 1/21/22 at 11:15 AM.

[2022-01-21 21:39] thepegisin opened #5980 "Remove "photo of" from alt text of images per best practices"
The content team recently aligned on some best practices for writing alt text (example: [Harvard](https://accessibility.huit.harvard.edu/describe-content-images)). They specify that you not write "Photo of" or "Image of" or "Illustration of" in your alt text, as this is meaningless and unhelpful.

A few of our existing alt text instances start with "Photo of," so I will remove that.

- [x] Find in

[2022-01-21 22:58] #5980 closed

[2022-01-22 00:07] thepegisin commented on #5961
Reordered _Fighting COVID-19_ navigation menu so that _Vax for the Win_ appears last.

[2022-01-22 00:07] #5961 closed

[2022-01-24 18:33] m-sullivan7 opened #5992 "State dashboard: boosted line in vaccinated/unvaccinated chart content changes"
From @mediajunkie:

- Add another line to each chart showing the "fully vaxed and boosted" population
- The vaxed lines on the charts would then represent "vaxed but not boosted"
- And the ratios will be updated to show boosted vs. unvaxed

Changes affect the:

- Line labels
- Tooltips
- Intro ratio sentences
- Footnotes

[2022-01-24 20:29] LizNobriga opened #5993 "Food page: WIC fruits and vegetables benefits through March 2022"
Update December 2021 to March 2022 for the WIC benefits for fruits and vegetables

From [WIC website](https://www.myfamily.wic.ca.gov/Home/FruitsVegBenefits#FruitsVegBenefits):

[Draft edits](https://docs.google.com/document/d/1vCgDthlJtoTsXlJGr_JZ4yx2y24s4IJWs4tCZcHaTD8/edit?pli=1#)

[2022-01-25 01:34] thepegisin opened #5994 "Add FAQ with recommendations for people who were vaccinated outside the US"
CDPH has new recommendations for people who were vaccinated with a WHO/EUL vaccine outside the US (per email from Devon Keeler).

- [x] Draft an FAQ on the _Vaccines_ page with this info
- [x] Get approval through @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-01-25 01:35] thepegisin opened #5995 "Note on Travel page that non-US citizens must be vaccinated to travel into the US"
The CDC has ordered that all non-US citizens and non-US immigrants must be vaccinated before they enter the US. This went into effect Saturday, 1/22/22.

- [x] Draft this addition to the _Travel_ page
- [x] Get approval through @mediajunkie (approved by Devon Keeler)
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-01-25 18:08] mediajunkie commented on #5912
my last nudge to Trudy did not get a reply, but will now nudge with all three changes together to try to cleat these.

[2022-01-25 18:13] mediajunkie commented on #5857
re-nudged with a new summary Jan 25

[2022-01-25 18:13] mediajunkie commented on #5845
renudged along with https://github.com/cagov/covid19/issues/5857

[2022-01-25 19:10] LizNobriga commented on #5427
@mediajunkie Have we heard from stakeholders for the Housing page updates?

[2022-01-25 19:12] LizNobriga commented on #5426
@mediajunkie Are stakeholders good with how we incorporated their suggestions to Financial help for biz page?

[2022-01-25 19:23] LizNobriga opened #5997 "Supplemental paid sick leave for covid extending"
Extending CA COVID-19 supplemental paid sick leave through September 30, 2022

Update needed for [Paid sick leave section](https://covid19.ca.gov/help-for-individuals-and-families/#sick-leave) of Help for individuals and families page

[2022-01-25 22:03] thepegisin commented on #5995
Published 1/25/22 at 2 PM.

[2022-01-25 22:03] #5995 closed

[2022-01-25 23:03] LizNobriga commented on #5993
@m-sullivan7 Could you review this one? Pretty straightforward but you might spot something.

[2022-01-25 23:51] m-sullivan7 commented on #5993
It looks straightforward! I take it this doesn't impact any of the December 2021 dates in the P-EBT section? That was the only thing that caught my attention. I noticed this line:

I thought perhaps the WIC update could be part of that.

If no impact to P-EBT, all looks good!

[2022-01-26 00:26] LizNobriga commented on #5993
The WIC change has no impact on P-EBT.

I checked the P-EBT websites (https://capandemic-ebt.org/ and https://www.cdss.ca.gov/home/pandemic-ebt) earlier for any updates and I did not find anything new. But now that you pointed this out, I've looked again and noticed any mention of benefits coming for the 2021-2022 school year has been removed. I'll add an edit to remove that line.

[2022-01-26 00:32] LizNobriga commented on #5993
@mediajunkie These edits to the Food page are pretty straightforward:

WIC section:
- Change the end date for the extra WIC fruits and veg benefits from December 2021 to March 2022, and add a [link to the fruit and veg benefits info](https://www.myfamily.wic.ca.gov/Home/FruitsVegBenefits#FruitsVegBenefits)

P-EBT section:
- Remove sentence ("There are more P-EBT benefits coming for the 2021-2022 s

[2022-01-26 00:56] thepegisin commented on #5994
Published 1/25/22 at 5 PM.

[2022-01-26 00:56] #5994 closed

[2022-01-26 18:12] m-sullivan7 opened #6002 "Switch "Janssen" to "Johnson & Johnson""
Per @thepegisin, we've moved sitewide to saying "Johnson & Johnson vaccine" instead of "Janssen vaccine." This ticket is to update all instances of Janssen.

This work may overlap with other changes on the state dashboard: https://github.com/cagov/covid19/issues/5992

[2022-01-26 19:48] m-sullivan7 opened #6003 "Content edits to reflect Monday-Friday reporting of vaccination data"
CDPH has indicated they are looking to move from daily reporting of vaccine numbers to Monday-Friday reporting.

This task is to review impacts to content. This will likely impact:

- Homepage
- State dashboard
- Vaccination data

cc: @mediajunkie so he knows there's a ticket for this

[2022-01-26 20:14] mediajunkie commented on #6003
Thanks! I think this will mainly affect footnotes?

[2022-01-26 20:17] m-sullivan7 commented on #6003
I think so, but I'll poke around to test my assumptions.

[2022-01-26 20:48] m-sullivan7 opened #6004 "State dashboard: Clarify vaccinated/unvaccinated chart data lags"
From @mediajunkie feedback that may indicate we need to explain our data lags better:

User feedback about data dashboards:

This ticket is to explore being more explicit about why data lags exist and updating the content on the state dashboard, specifically around the vaccinated/unvaccinated chart.

[2022-01-26 21:02] m-sullivan7 commented on #6002
Found two instances in my pages. Here are Google Docs for each:

- [State dashboard](https://docs.google.com/document/d/1Jaw5pG_BR8oNJ0oFd8Wn2uOYIi1pGqeCItPAE8mKoJ4/edit?usp=sharing)
- [Vaccination data](https://docs.google.com/document/d/1z7QsaVANJbHIJh7cfLzbylDXAUjFP-CXcEYgvyVLQ9M/edit?usp=sharing)

[2022-01-26 21:09] mediajunkie commented on #6002
please go ahead and update

[2022-01-26 21:20] m-sullivan7 commented on #6003
After review:

- No impact to homepage as we do not have any notes about publishing cadence on that page.
- State dashboard impact is to shorten the first bullet in the _Data notes_ to: "Data is not reported on weekends or state holidays. This data is processed on the first day following the weekend or holiday and updated here on the following day." [Google Doc with this change.](https://docs.goog

[2022-01-26 21:21] m-sullivan7 commented on #6002
Changes made and published!

[2022-01-26 21:21] #6002 closed

[2022-01-26 21:48] m-sullivan7 commented on #6004
[Google Doc draft](https://docs.google.com/document/d/19vqCEetgFj423RCBV_57WKrdSjRJQg6EGD5oR495D3o/edit?usp=sharing), which has first draft thinking in it. I've circulated this with a couple of internal stakeholders for consideration.

[2022-01-27 00:43] LizNobriga commented on #5993
@mediajunkie These edits are ready in [staging](https://staging.covid19.ca.gov/food-resources/). Okay to publish?

[2022-01-27 01:03] mediajunkie commented on #5993
Yes, go ahead!

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-01-27 01:26] LizNobriga opened #6008 "Current safety measures: update CDPH link"
Update [CDPH link](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/COVID-19-Public-Health-Recommendations-for-Fully-Vaccinated-People.aspx) in Do's and don'ts on  _Current safety measures_ to [guidance in effect](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Guidance-on-Isolation-and-Quarantine-for-COVID-19-Contact-Tracing.aspx).

![currentsafetymeasures](https://user-images.gi

[2022-01-27 01:36] mediajunkie commented on #6008
Probably yes!

I recall some close debate over these.

On Wed, Jan 26, 2022 at 5:27 PM Liz Nobriga ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter

[2022-01-27 16:45] #5993 closed

[2022-01-27 21:10] zakiya opened #6012 "Main menu - Collapse menu on click away"
From @jaredwyee on slack: Think i've mentioned before. It would be nice if you could click off into any non-menu negative space for it to close. It's a convention a like... vs having to aim at the right button to collapse again. But at least you don't have to click the caret. You can click the words too.

Our language picker exhibits my desired behavior

![image](https://user-images.githubusercont

[2022-01-28 15:54] zakiya commented on #6012
Preview site available at [6012-main-menu-click-collapse.pr.covid19.ca.gov](https://6012-main-menu-click-collapse.pr.covid19.ca.gov/). @jaredwyee @mediajunkie

cc @jbum

[2022-01-28 17:14] jaredwyee commented on #6012
Thanks @zakiya  looks good for desktop.

Assuming the equivalent behavior isn't needed for the main nav on mobile since the hamburger menu drawer slides out to cover most of the phone screen, with the large HOME and CLOSE buttons?

[2022-01-28 17:40] jbum commented on #6012
Looks good. Ready to merge?  I'll approve the PR...

[2022-01-28 18:05] zakiya commented on #6012
@jaredwyee I think the mobile behavior is okay but I'm open to other opinions.

[2022-01-28 18:11] LizNobriga commented on #5997
@m-sullivan7 What do you think of adding a [highlight box](https://docs.google.com/document/d/1liJgXT3AKa_xwVefytOlorBJoam1gcVzgKsjl9jTcXo/edit#)? (Ignore other edits)

[2022-01-28 18:19] m-sullivan7 commented on #5971
Updates made to the page.

[2022-01-28 18:19] #5971 closed

[2022-01-28 18:22] m-sullivan7 commented on #6003
Updates made to state dashboard and _Vaccination data_ in advance of this reporting frequency going into effect this weekend.

[2022-01-28 18:22] #6003 closed

[2022-01-28 20:02] m-sullivan7 commented on #5997
I think it's good!

[2022-01-28 23:37] LizNobriga commented on #5997
@mediajunkie We're thinking of adding a highlight box that links to the recent announcement of extending covid supplemental sick leave to September 30, 2022. Do we need to get any stakeholder approvals before we publish?

See the proposed highlight box [edits](https://docs.google.com/document/d/1liJgXT3AKa_xwVefytOlorBJoam1gcVzgKsjl9jTcXo/edit#) in the google doc (ignore other edits besides the hi

[2022-01-28 23:58] LizNobriga commented on #5939
@m-sullivan7 [Draft edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit?pli=1#) to remove highlight box next week. Another straightforward one.

[2022-01-29 00:01] mediajunkie commented on #5997
If the information isn’t new, I think we can highlight it using our own
judgment.
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-01-29 00:01] m-sullivan7 commented on #5939
All good with me!

[2022-01-29 00:13] LizNobriga commented on #5939
Hi @mediajunkie We're planning to remove the current highlight box on _Mega-events_  next week. It's the one that announced Jan 15 changes (see screenshot below). I don't think we'll need to get stakeholder approval to do this.
![mega-events_highlightbox](https://user-images.githubusercontent.com/58706834/151637891-af1eead2-677a-4b99-a67b-2977dc3db1c3.png)
[Edits](https://docs.google.com/document/

[2022-01-29 00:33] mediajunkie commented on #5939
agreed!
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-01-29 00:42] LizNobriga commented on #5997
@mediajunkie I think it'd be okay to say paid sick leave will extend through Sept 30, 2022 and include the link to the GO's press release announcement because that's already public information (which is why we've had people ask about it in page feedback). We cannot safely say anything more specific because details have not been officially announced.

Maybe we should give GO a heads-up because, alt

[2022-01-29 00:45] mediajunkie commented on #5997
good point. I’ll ask for an OK today and likely need to nudge again on
Monday.

On Fri, Jan 28, 2022 at 4:42 PM Liz Nobriga ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium

[2022-01-31 16:30] zakiya commented on #6012
@jaredwyee @mediajunkie Can we merge?

[2022-01-31 16:31] mediajunkie commented on #6012
Yes, please!
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-01-31 19:00] thepegisin opened #6023 "Banner about free masks"
The US government is distributing free masks, and our users are searching for how to get them (search term "free masks" is #2 this week). Since it's a popular topic for which we have no content, we should direct people to information through a homepage banner.

- [x] Research details for info we can give
- [x] Draft banner: https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKj

[2022-01-31 19:51] thepegisin opened #6024 "Add highlight box about free masks to Masks page"
Need information about the US gov't free masks program to be added to the _Masks_ page. Propose it goes in the highlight box, as the indoor mask mandate been in effect for almost 2 months and is no longer news.

- [x] Draft update: https://docs.google.com/document/d/1W5c0cW81W54_GOaTW5FFupznnIiFCKmhJv_Kls3ALBs/edit
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish
- [x] Ch

[2022-01-31 19:57] thepegisin opened #6025 "Update Vaccines page with Moderna approval for 18+"
The Moderna vaccine is now FDA-approved for those 18 and up.

- [x] Find where on the _Vaccines_ page this needs to be updated
- [x] Draft changes: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-01-31 20:17] thepegisin commented on #6023
Published 12:15PM on 1/31/22.

[2022-01-31 20:17] #6023 closed

[2022-01-31 20:17] thepegisin commented on #6024
Published 12:15PM on 1/31/22.

[2022-01-31 20:17] #6024 closed

[2022-01-31 20:52] LizNobriga commented on #5426
@mediajunkie Incorporated stakeholder feedback to the COVID-19 EIDL content. See [draft](https://docs.google.com/document/d/1DfMh04qNBA4xn1vHJw0vPnTIN5yEGvyuqM8vbKU5ZxU/edit#) and [staging](https://staging.covid19.ca.gov/business-and-employers/).
CC @m-sullivan7

[2022-01-31 22:28] thepegisin commented on #6025
Published 2:30PM on 1/31/22.

[2022-01-31 22:28] #6025 closed

[2022-01-31 23:01] mediajunkie commented on #5997
(still trying to find out who can OK or has info about the 2022 program)

[2022-01-31 23:04] LizNobriga commented on #5426
Published

[2022-01-31 23:05] #5426 closed

[2022-02-01 00:39] sarah-letson opened #6027 "Research on Screenreader Accessibility"
Exploring how to best test user experience for those using screen readers.

Background:
In early Jan 2022, this feedback came in for the "On this page" link to the county charts. The comment was tagged with the #county-statewide section: "I was trying to find for Kings County what the situation is and I am totally blind using voiceover on the iPhone and I cannot seem to find it." This encouraged u

[2022-02-01 00:42] sarah-letson commented on #6027
Zakiya and I talked today. Zakiya shared that there is not a way to tell if someone is using a screen reader.

We can pivot this project into determining which resources state staff can use to test sites with screen reader users. We can follow-up with:
- [ ] DOR contacts
- [ ] CDT Accessibility Researchers

[2022-02-01 00:50] mediajunkie commented on #6027
Seems something worth understanding to me, though not a Covid project per
se?
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-02-01 01:16] zakiya commented on #6027
We could move it to odi-engineering but I'm afraid it would get lost there.

[2022-02-01 01:17] mediajunkie commented on #6027
Ok to keep it here nominally.
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-02-01 16:43] zakiya commented on #6012
This is merged. Closing.

[2022-02-01 16:43] #6012 closed

[2022-02-01 19:36] LizNobriga commented on #5939
Published

[2022-02-01 19:36] #5939 closed

[2022-02-01 21:33] m-sullivan7 opened #6049 "Chart information drawer sub-bullet formatting"
When using sub-bullets in a chart information accordion, this creates extra spacing between the sub-bullets and other bullet points, especially first-level bullet points.

![image](https://user-images.githubusercontent.com/69169190/152054948-726b6ef8-c1ba-47ca-a915-27e2b6f76a50.png)

I think a better solution would be to have uniform spacing between all levels of bullet points. This may need some

[2022-02-02 17:33] m-sullivan7 commented on #5992
Content published.

[2022-02-02 17:33] #5992 closed

[2022-02-02 17:33] m-sullivan7 commented on #6004
Content published.

[2022-02-02 17:33] #6004 closed

[2022-02-02 17:37] m-sullivan7 commented on #6049
We're using an `mb-0` solution right now, but the spacing is still larger than the first-level bullets.

![image](https://user-images.githubusercontent.com/69169190/152207197-68ae90a1-5f9b-40a4-9c1c-7211592f648a.png)

[2022-02-02 19:23] m-sullivan7 opened #6054 "Variants: update lag note"
Per CDPH, with tomorrow's update the chart for the _Variants_ page will have a 14-day lag. This issue is to update the associated note in _Chart information_ to match.

[2022-02-02 21:58] thepegisin commented on #5905
Closing as it's a month later and this content was never approved or published by CDPH.

[2022-02-02 21:58] #5905 closed

[2022-02-02 21:59] thepegisin opened #6055 "Update "Find a testing location" link"
Kristina Keller from the My Turn team emailed to let us know that testing will soon be available on the My Turn site, and that we should update our "Find a testing location" link to go to https://myturn.ca.gov/testing.
- [x] Draft change to _Testing_ page: https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edit
- [x] Hold until My Turn adds this functionality, likely b

[2022-02-03 17:33] m-sullivan7 commented on #6054
Edit published.

[2022-02-03 17:33] #6054 closed

[2022-02-03 21:25] m-sullivan7 commented on #4912
[Data posted on ODP](https://data.chhs.ca.gov/dataset/covid-19-variant-data).

[2022-02-03 21:34] m-sullivan7 commented on #4912
Edits published to _Variants_ and _Data and tools_.

[2022-02-03 21:34] #4912 closed

[2022-02-04 16:42] m-sullivan7 opened #6070 "Data and tools: Wastewater dashboard"
CDPH created a wastewater testing dashboard. They expect to launch it soon. This issue is to evaluate the dashboard and determine whether to add it to _Data and tools_.

[2022-02-04 19:55] m-sullivan7 opened #6073 "2/15 end of mask requirement content updates"
The state requirement to wear a mask in certain public spaces is expected to end February 15. This issue is to remove references to that requirement from appropriate places.

Affected pages and content:

[Masks](https://covid19.ca.gov/masks-and-ppe/)

This sentence was not present in October 2021. I recommend removing it.

In October 2021, this was the content we provided. I recommend we restore i

[2022-02-04 20:39] LizNobriga opened #6075 "Contracts: add 11 new items"

[2022-02-04 21:20] LizNobriga commented on #6075
Published

[2022-02-04 21:20] #6075 closed

[2022-02-05 03:35] LizNobriga commented on #5857
@m-sullivan7 I've incorporated all stakeholder feedback. I also made new edits to improve Masking at work, bumped all headings up a level, and reordered sections. Could you review these [edits](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit?pli=1#)?

[_Safety in the workplace_ in staging](https://staging.covid19.ca.gov/workers-and-businesses/)

[2022-02-07 18:16] #5042 closed

[2022-02-07 18:16] #5029 closed

[2022-02-07 18:28] LizNobriga commented on #5857
@m-sullivan7 Appreciate your suggestions to improve hyperlinks!

[2022-02-07 19:04] mediajunkie commented on #6070
update is this may be live later this week. will be/include a Tableau
dashboard either on its own page or on the CDPH main covid page

[2022-02-07 19:56] LizNobriga opened #6088 "Education: what to do if a student has or may have covid-19"
Add link on _Education_ to the CDPH decision tree for [managing confirmed or suspected COVID-19 at K–12 schools](https://www.cdph.ca.gov/Programs/CID/DCDC/CDPH%20Document%20Library/COVID-19/SS4A/School_Case_Decision_Tree.pdf) (i.e., what to do if a student has covid-19 symptoms, tests positive, or has close contact)

[2022-02-07 23:01] LizNobriga commented on #5857
@mediajunkie This is ready to go back to stakeholders for approval. We incorporated all of their feedback and made additional improvements.

_Safety in the workplace_:
- [Google doc edits](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit?pli=1#)
- [Staging](https://staging.covid19.ca.gov/workers-and-businesses/)
- Attached word doc, [Safety in the workplace_2.7.

[2022-02-07 23:05] mediajunkie commented on #5857
on it!
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-02-08 00:31] thepegisin opened #6089 "Face coverings and mega-events updates for 2/16"
CDPH is rescinding the mask mandate, and reinstating the former threshold for mega-events. Both changes are effective 2/16/22.

- [x] Draft mask mandate changes to _Masks_ page: https://docs.google.com/document/d/1W5c0cW81W54_GOaTW5FFupznnIiFCKmhJv_Kls3ALBs/edit#
- [x] Draft mega-events changes to _Current safety measures_ page: https://docs.google.com/document/d/1AUcqlSFcKZ0DCbTN0o3gko-7dfCdcXg4r

[2022-02-08 00:36] m-sullivan7 commented on #6073
@thepegisin has drafted [changes in Google Docs](https://docs.google.com/document/d/1W5c0cW81W54_GOaTW5FFupznnIiFCKmhJv_Kls3ALBs/edit) for February 15. I will run with them, if approved.

[2022-02-08 00:39] m-sullivan7 commented on #6089
Beat me to making this issue! 🙂 Thank you!

[2022-02-08 00:41] thepegisin commented on #6089
I'm leaving writing the banner to you, @m-sullivan7. Have @mediajunkie run it past the usual suspects for approval.

[2022-02-08 00:42] thepegisin opened #6090 "Healthcare visitation update for 2/8"
CDPH is updated their SPHO on visiting healthcare facilities. It shortens the acceptable period within which unvaccinated people must have a negative COVID test.

- [x] Draft changes to _Vaccines_ page: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit
- [x] Get approval through @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-02-08 01:40] LizNobriga opened #6095 "Mega-events: attendee thresholds and mask requirements changing back"
Attendee thresholds for mega-events will be 1,000 indoors and 10,000 outdoors effective February 16, 2022. Masks requirements also change on Feb 16, 2022.

[Proposed edits for _Mega-events_ in google doc](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit?pli=1)

[2022-02-08 16:54] m-sullivan7 commented on #6073
Closing this issue as @thepegisin has created a better issue for this in #6089

[2022-02-08 21:23] LizNobriga commented on #6095
@m-sullivan7 Could you review [proposed edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit?pli=1) to _Mega-events_ reflecting changes that take effect Feb 16?

[2022-02-08 21:40] m-sullivan7 commented on #6095
I picked up one bit that was probably duplicated by accident. Otherwise, it looks good!

[2022-02-08 22:33] LizNobriga commented on #6088
@m-sullivan7 Could you review [proposed edits](https://docs.google.com/document/d/1YQGVDtWHzOTlal-SZ3vYuIvvCAu29ztoIBptsD80B_g/edit#) to _Education_?

[2022-02-08 22:34] thepegisin opened #6100 "Add reimbursement info for at-home tests"
The federal government has ordered health insurers to pay for at-home COVID tests or reimburse their customers for their cost. Add this to the _Testing_ page and link to a reputable source for more info.

- [x] Find link to details: https://www.cms.gov/how-to-get-your-at-home-OTC-COVID-19-test-for-free
- [x] Draft: https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edi

[2022-02-08 23:02] m-sullivan7 commented on #6088
Nice work! Just a couple of areas where I think we could make small edits.

[2022-02-08 23:50] LizNobriga commented on #6095
@mediajunkie These [proposed edits for _Mega-events_](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit?pli=1) are ready for stakeholders to review. The edits reflect the changes that take effect on February 16, 2022 for mega-event attendee thresholds and mask rules.

Ideally these would be approved and ready to publish either end of day on Feb 15 or first thing

[2022-02-09 00:05] LizNobriga commented on #6088
@mediajunkie [Proposed edits to _Education and childcare_](https://docs.google.com/document/d/1YQGVDtWHzOTlal-SZ3vYuIvvCAu29ztoIBptsD80B_g/edit#) are ready for stakeholder review.

Quick summary of edits:
- Adds link to masking tips for children
- Adds link to decision tree for what to do if student has or might have covid
- Adds that everyone must wear masks indoors at childcare
- Removes outdate

[2022-02-09 00:07] LizNobriga commented on #6095
@mediajunkie Forgot to include that these edits are also in [staging](https://staging.covid19.ca.gov/mega-events/).

[2022-02-09 00:54] LizNobriga opened #6102 "Hotlines and local info: update some county links"
Review county links on [_Hotlines and local info_](https://covid19.ca.gov/get-local-information/) and update websites that are outdated.

[Draft](https://docs.google.com/document/d/122Ykc18Y7XeQik856nsGovi7hv9iydy8jynX39amO5o/edit#)

[2022-02-09 16:53] m-sullivan7 opened #6106 "2/9 governor livestream video"
Put video up in advance of livestream and remove at the end of the day

[2022-02-09 22:20] m-sullivan7 opened #6111 "State dashboard: LA and SD data lag"
From Brooke:

This issue is to add a new note to the appropriate places on the state dashboard.

[2022-02-09 22:33] thepegisin opened #6112 "Update Holidays page with Super Bowl safety tips"
Use CDPH campaign image to update _Holidays_ page with Super Bowl safety tips.

- [x] Source image, optimize, and upload: https://files.covid19.ca.gov/img/biggame2022.jpg
- [x] Draft changes: https://docs.google.com/document/d/17E23Rg3ChOq5M1EEmTR9M08tHMUPxnDXQjo6p60krv8/edit
- [x] Get approval through @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-02-09 22:39] thepegisin opened #6113 "Post banner headline about Super Bowl safety"
Direct attention to Super Bowl safety tips with a banner headline.

- [x] Draft banner: https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKjL7qSw/edit#heading=h.ah68pjhj93yw
- [x] Get approval through @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-02-09 22:45] m-sullivan7 commented on #6111
[Google Doc with edits](https://docs.google.com/document/d/1dwGqYg9Uu3MdwOSASEjb5KE2w7IwGxIEkxbGpuGisTU/edit?usp=sharing)

We will also need a note to cover February 10 when the lag goes into effect. Proposed language:

[2022-02-09 23:21] LizNobriga opened #6114 "Financial hep for businesses: expanded relief for small biz"
GGN signs [SB 114](https://leginfo.legislature.ca.gov/faces/billTextClient.xhtml?bill_id=202120220SB114) - expanded relief for small businesses and package to promote innovation and entrepreneurship

See [GO press release from 2/9/22](https://www.gov.ca.gov/2022/02/09/governor-newsom-signs-paid-sick-leave-extension-expanded-relief-for-small-businesses-and-historic-package-to-promote-innovation-and

[2022-02-10 00:09] m-sullivan7 commented on #6111
Temporary note, approved by Brooke:

[2022-02-10 00:24] m-sullivan7 commented on #6111
Brooke approved the Google Doc text. I will update the page tomorrow morning to publish with the daily data.

[2022-02-10 00:31] m-sullivan7 commented on #6106
Removed video at the end of the day.

[2022-02-10 00:31] #6106 closed

[2022-02-10 17:24] #1558 closed

[2022-02-10 23:36] thepegisin commented on #6113
Published 2/9/22 at 6PM.

[2022-02-10 23:36] #6113 closed

[2022-02-10 23:37] thepegisin commented on #6112
Published 2/9/22 at 6PM.

[2022-02-10 23:37] #6112 closed

[2022-02-10 23:38] thepegisin commented on #6090
Published 2/8/22.

[2022-02-10 23:38] #6090 closed

[2022-02-10 23:41] thepegisin opened #6119 "Testing page: Add links to new CDPH guides for exposure and testing positive"
CDPH has new guides for what to do if you are exposed or test positive. Link them in where appropriate on the _Testing_ page.

- [x] Draft: https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edit
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-02-11 01:54] thepegisin commented on #6008
Sorry, Liz - I didn't see this until now. Is this still something we should do? Adding @m-sullivan7 to the ticket in my absence.

[2022-02-11 06:37] mediajunkie commented on #6095
Thanks. I'm meeting with Devon from CDPH and Tonya from GO by Monday to
coordinate this rollout and will try to get all our related edits approved
together.

[2022-02-11 17:17] m-sullivan7 opened #6125 "Banner: paid sick leave"
We will need a new banner for after the Super Bowl. I propose one highlighting the passage of supplemental paid sick leave for COVID. This bill was signed by the governor on February 9, 2022.

[Google Doc with draft banner](https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKjL7qSw/edit?usp=sharing)

[2022-02-11 17:30] m-sullivan7 commented on #6125
@mediajunkie Here's a potential banner we can use on Monday to replace what will be an outdated Super Bowl banner.

There could be a minor complication: Liz shared that the [Industrial Relations COVID site](https://www.dir.ca.gov/covid/) says the "law is expected to take effect on February 19, 2022." That might make Monday premature. If so, I can stash this for February 21, 2022, (since the 19th i

[2022-02-11 17:35] m-sullivan7 commented on #6111
Removed highlight note.

[2022-02-11 17:35] #6111 closed

[2022-02-11 17:45] m-sullivan7 commented on #6008
@LizNobriga I think the link you originally sent is superseded by the guidance that came out yesterday. Do you think it would be appropriate to update that last sentence to:

[2022-02-11 18:50] LizNobriga commented on #6008
Linking those two new items from CDPH seems like the most useful info we can provide to people!

Suggestion:

Super technical, but I'd avoid calling them guidance because that has a specific legal meaning for the state.

[2022-02-11 18:55] m-sullivan7 commented on #6008
Thanks for that heads up on the use of guidance!

@mediajunkie I've put together some [edits for approval for _Current safety measures_](https://docs.google.com/document/d/1AUcqlSFcKZ0DCbTN0o3gko-7dfCdcXg4rZ0UbVJJZCc/edit?usp=sharing) that incorporates yesterday's CDPH isolation pages as well as adds a recommendation to get a booster when eligible. Liz used her eagle eye to find the opportunity fo

[2022-02-11 20:40] mediajunkie commented on #6008
Are these for right away or for the 15th?

[2022-02-11 20:41] mediajunkie commented on #6125
approved for Monday

[2022-02-11 21:00] LizNobriga commented on #5427
Approved to publish via email. Updates are live!

[2022-02-11 21:00] #5427 closed

[2022-02-11 21:03] m-sullivan7 commented on #6008
My changes are OK to go now. The CDPH links we're adding are the ones published yesterday and encouraging boosters.

Peggy's changes to the mega-events threshold are for February 15/16.

[2022-02-11 21:06] mediajunkie commented on #6008
OK to add the CDPH links.

On Fri, Feb 11, 2022 at 1:03 PM Michael Sullivan ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/ca

[2022-02-11 21:09] m-sullivan7 commented on #6008
I realize now I inelegant phrased my reply as a result of editing mid-stream. Apologies! This proposed update has two parts:

- Adding CDPH links
- Modifying the current "Get vaccinated" line to read "Get vaccinated and boosted, when eligible"

Both OK?

[2022-02-11 21:22] mediajunkie commented on #6008
Yes, both are OK to go.

On Fri, Feb 11, 2022 at 1:09 PM Michael Sullivan ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cado

[2022-02-11 21:30] m-sullivan7 commented on #6008
Confirmed published and checked links to make sure all worked well. All does. Closing issue. Thank you to all involved!

[2022-02-11 21:30] #6008 closed

[2022-02-11 23:22] m-sullivan7 opened #6131 "Homepage and state dashboard: 2/14 note"
Carlos Sanchez has alerted us that we will need a note for the 2/14 update. Version from CDPH:

Proposed revision:

[2022-02-11 23:34] LizNobriga commented on #5876
Published (after Housing and rent updates were published today)

[2022-02-11 23:34] #5876 closed

[2022-02-14 16:59] m-sullivan7 commented on #6125
New banner published. Thanks!

[2022-02-14 16:59] #6125 closed

[2022-02-14 17:00] m-sullivan7 opened #6136 "Holidays: Remove Super Bowl info"
With the Super Bowl over, @thepegisin and I propose reverting the _Travel_ page to the previous version with the added tweak of removing the previous image, which was fall-themed.

[2022-02-14 17:02] mediajunkie commented on #6136
approved
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-02-14 17:03] m-sullivan7 commented on #6136
Actually, now that I'm in the _Travel_ page (and seeing nothing Super Bowl-related), I realized this is actually about _Holidays_. 🙃

[2022-02-14 17:12] #6136 closed

[2022-02-14 18:04] m-sullivan7 commented on #6089
@mediajunkie Here's a masks-only banner that @LizNobriga and I collaborated on based on the edits Peggy prepared for the _Masks_ page (also part of this issue). We could use this if we publish the afternoon of February 15 or merge with another banner desired by the governor's office.

Note: `mask mandate` is a top search term, so I thought we could best help people by including that somewhere in o

[2022-02-14 18:07] m-sullivan7 commented on #6131
Per Carlos Sanchez and CDPH experts, no note is needed today.

[2022-02-14 18:07] #6131 closed

[2022-02-14 19:11] m-sullivan7 opened #6142 "Update all facility letter links"
Kristal has asked that we change all links to all facility letters to [an evergreen link](https://www.cdph.ca.gov/Programs/CHCQ/LCP/Pages/LNCAFL.aspx) instead of linking to individual letters.

Using the root `https://www.cdph.ca.gov/Programs/CHCQ/LCP/`, I found links to this page in two places:

- Testing
- Essential workforce

This issue is to update the links on both of those pages.

[2022-02-14 19:11] mediajunkie commented on #6095
in review with Trudy (CDPH G&P)

[2022-02-14 19:42] LizNobriga commented on #5857
@mediajunkie _Safety in the workplace_ edits and staging are now updated to reflect mask requirements effective February 16, 2022. Can we bump this for approval? Lmk if you would like a Word doc version of the updated edits.
[Edits](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit?pli=1#)
[Staging](https://staging.covid19.ca.gov/workers-and-businesses/)

[2022-02-14 19:47] LizNobriga commented on #5912
The proposed edits for masks required indoors through Feb 15 have been removed. I'm going to close this ticket because we've incorporated this into our overall set of updates to _Safety in the workplace_ (see #5857).

[2022-02-14 19:47] #5912 closed

[2022-02-14 19:48] zakiya commented on #6027
Tiny update.
- I communicated the original feedback message to one of the CDT Accessibility Engineers. They don't have a formal process for doing a review. Waiting for a response.
- The [CA Department of Rehabilitation](https://www.dor.ca.gov/Home/AB434) offers offers training through CDT. Courses relevant to ODI are [currently full](https://cdt.ca.gov/workforce-development/course-schedule/).

[2022-02-14 20:08] LizNobriga opened #6143 "Education and childcare: new childcare guidance"
Review new childcare guidance once published and propose edits to update the Childcare section.

[2022-02-14 20:46] m-sullivan7 commented on #6142
Both pages are updated.

[2022-02-14 20:46] #6142 closed

[2022-02-14 20:56] m-sullivan7 opened #6150 "2/14 secretary live stream"
Put Secretary Ghaly live stream on homepage and remove at the end of the day

[2022-02-15 00:39] m-sullivan7 commented on #6150
Video posted shortly after 1:00 and removed at the end of the day.

[2022-02-15 00:39] #6150 closed

[2022-02-15 01:09] LizNobriga commented on #6102
@mediajunkie Okay to make these [edits](https://docs.google.com/document/d/122Ykc18Y7XeQik856nsGovi7hv9iydy8jynX39amO5o/edit#) to update some of the county links?
cc @m-sullivan7

[2022-02-15 14:06] mediajunkie commented on #6102
Yes!
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-02-15 16:26] zakiya commented on #6027
We'll be getting an assessment from CDT on the screen readability of the covid charts on the state dashboard. I'll post here when I get it.

[2022-02-15 18:30] #6102 closed

[2022-02-15 18:50] m-sullivan7 opened #6156 "Testing: add isolation guidance for under 2"
We received upcoming new guidance for childcare facilities. Included were recommendations for isolation for children. They had the following differences from the standard recommendations:

- If under 2: end isolation on day 5, no negative test required
- If 2 or older: end isolation on day 5, testing recommended

This issue is to add this detail to our _Testing_ page.

[2022-02-15 19:38] LizNobriga commented on #6088
@mediajunkie Have these edits gone out for stakeholder review?

[2022-02-15 19:43] mediajunkie commented on #6088
yes, will re-nudge

On Tue, Feb 15, 2022 at 11:38 AM Liz Nobriga ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-02-15 21:24] m-sullivan7 opened #6157 "Banner: endemic plan"
This issue is to work on a banner regarding any announcement from the governor related to the endemic plan.

[2022-02-15 21:26] m-sullivan7 opened #6158 "New page: endemic plan"
Create a new page with details about the endemic plan.

[2022-02-15 21:47] m-sullivan7 commented on #6157
First draft created. I will review it again once there are more plan details.

[2022-02-16 00:18] m-sullivan7 opened #6159 "Update Multi-Race labels"
The content team would like to adopt **Multi-race** as our standard for charts with demographics. We'd like to request this change in our charts. Here's where the term can be found:

- Health equity: cases/deaths/testing charts relative to percentage of population and per 100K (D3)
- State dashboard: cases and deaths by ethnicity, gender, and age (D3)
- Vaccination data: vaccinated status by group

[2022-02-16 00:43] jbum commented on #6159
I can take care of these. Let me know when it is okay to proceed @mediajunkie  ?

[2022-02-16 00:45] LizNobriga commented on #6095
Published

[2022-02-16 00:45] #6095 closed

[2022-02-16 00:53] m-sullivan7 commented on #6089
Both pages published. Waiting for approval to publish the banner.

[2022-02-16 01:20] m-sullivan7 commented on #6089
Published banner. All content published and complete.

[2022-02-16 01:20] #6089 closed

[2022-02-16 03:00] LizNobriga commented on #5857
@m-sullivan7 These sections have been updated:
- Masking at work
- Exclusion pay
- What to do if your employer does not follow the COVID-19 Prevention ETS requirements

Could you review those?

[Draft edits in google doc](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit?pli=1#)

[2022-02-16 03:55] mediajunkie commented on #6159
ok to do
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-02-16 15:50] jbum commented on #6159
Corrected D3 charts on state-dashboard and equity page.

The tableau chart will require working with the folks that maintain that. I'm not sure who that is...

Reassigning to @xian.

[2022-02-16 16:21] #5320 closed

[2022-02-16 16:21] jbum commented on #5320
We will likely drop support for IE11 before this is fixable.

[2022-02-16 16:21] #5172 closed, assigned to jbum

[2022-02-16 16:22] #5316 closed

[2022-02-16 16:37] m-sullivan7 opened #6166 "Variants: add COVIDNet link"
Add link to https://testing.covid19.ca.gov/covidnet/ to Variants page. This link can go in the chart information accordion.

[2022-02-16 16:50] m-sullivan7 commented on #5857
I left a few small edits. Thanks!

[2022-02-16 18:16] m-sullivan7 opened #6168 "Endemic plan page updates"
The endemic plan may result in updates to other pages. This issue is to review other pages assigned to Peggy and me for impacts and to edit them as necessary.

Pages with edits (links to Google Docs with changes):

- [Current safety measures](https://docs.google.com/document/d/1AUcqlSFcKZ0DCbTN0o3gko-7dfCdcXg4rZ0UbVJJZCc/edit?usp=sharing)
- [Testing](https://docs.google.com/document/d/18NG21vDRhqR

[2022-02-16 18:43] LizNobriga opened #6169 "Financial help for biz: update link to small biz centers"
Update link to find your local small business center: https://centers.calosba.ca.gov

[DRAFT](https://docs.google.com/document/d/1DfMh04qNBA4xn1vHJw0vPnTIN5yEGvyuqM8vbKU5ZxU/edit?pli=1)

[2022-02-16 18:44] m-sullivan7 commented on #6158
[Google Doc with v1 proposal](https://docs.google.com/document/d/1egGxENylHhj68IcsC-nAsX4FepEpKPhFIWkJFuByt2k/edit?usp=sharing). Grade 6 reading level.

[2022-02-16 18:44] m-sullivan7 commented on #6157
[Draft banner](https://docs.google.com/document/d/1pGhrWHVUgXVNfPETptRe1jayH38jlbaV6eyNKjL7qSw/edit?usp=sharing) for review before staging.

[2022-02-16 18:45] LizNobriga commented on #5845
(closing this ticket since we're now tracking all edits to this page as a group in #5857)

[2022-02-16 18:45] #5845 closed

[2022-02-16 19:15] m-sullivan7 opened #6170 "Testing: mega-event threshold"
Update _If you go to a high-risk event_ section to read:

This aligns with the new, higher threshold for indoor mega-events.

[2022-02-16 19:18] m-sullivan7 commented on #6170
[Google doc](https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edit?usp=sharing) with proposed change.

[2022-02-16 19:35] m-sullivan7 opened #6171 "Current safety measures: update images"
There are four images on _Current safety measures_ that could be updated.

- [x] **Masks**
Education and childcare - keeping
Travel - keeping
- [x] **Mega-events**

**Masks**

CDPH pointed out that some people in this image are not using recommended respirators.

![image](https://user-images.githubusercontent.com/69169190/154546032-6afb0cc9-1d61-410f-92a7-2e73748c3382.png)

They provided two possi

[2022-02-16 19:47] m-sullivan7 commented on #6170
Update published

[2022-02-16 19:47] #6170 closed

[2022-02-16 19:56] mediajunkie commented on #6157
looks good. ok to stage!
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-02-16 20:45] mediajunkie commented on #6166
Can we stage this today for Mayuri’s review?

On Wed, Feb 16, 2022 at 8:37 AM Michael Sullivan ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<htt

[2022-02-16 21:10] m-sullivan7 opened #6172 "Video: 2/17 governor live stream"
Update video for live stream and remove at the end of the day.

[2022-02-16 21:16] m-sullivan7 commented on #6166
It turns out we already have a link to this page on the _Variants_ page.

Options:

1. Keep the current link and also add one to the chart information accordion.
2. Remove the current link and add it to the chart information accordion.
3. Keep the current link without adding to the chart information accordion.

I'd vote for option 2

[2022-02-16 21:18] mediajunkie commented on #6166
yes, let’s stage 2 and show it to them

On Wed, Feb 16, 2022 at 1:17 PM Michael Sullivan ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://t

[2022-02-16 21:35] m-sullivan7 commented on #6166
[Option 2 staged.](https://staging.covid19.ca.gov/variants/)

[2022-02-16 22:00] m-sullivan7 opened #6173 "Vax for the Win - Six Flags 404"
It looks like the _Vax for the Win - Six Flags_ page has been archived. That URL currently provides a 404 error. We may want to update this:

- Redirect to the main _Vax for the Win_ page, like we do for the _Dream Vacations_ URL.
- Send people to the 410 page so search engines know there will no longer be any content at this page. This is best practice if we do not have an appropriate redirect.

[2022-02-16 22:06] m-sullivan7 opened #6174 "Potential vaccines content improvements"
I noticed a few things on the _Vaccines_ page that might need to be updated:

- In the _How COVID-19 vaccines work_ section, the language about no one dying during the vaccination trials and the chance of dying after vaccination seems like it might be out-of-date based on recent data from the Omicron surge. I recommend taking another look at it to see if we should suggest updates. Here are the sen

[2022-02-16 22:21] m-sullivan7 commented on #6168
@mediajunkie I reviewed Peggy's and my pages for potential impacts based on what we know about the plan right now. The description of the issue contains where there are possible impacts. Right now, the only page I know for sure is impacted is _Current safety measures_.

[2022-02-16 23:02] m-sullivan7 commented on #6171
@adam-little Definitely not urgent, but did you assist Peggy in creating the mega-events image on _Current safety measures_? We should probably replace it since Staples Center has been renamed.

![image](https://user-images.githubusercontent.com/69169190/154372114-74e4daac-1c2e-47b4-8f34-b25b72b5bd10.png)

[2022-02-17 00:37] m-sullivan7 opened #6176 "State dashboard: lag note updates"
Update the lag notes in the tracker box data notes accordion to reflect the exact lags as part of launching the exact date ranges in the tracker boxes.

[2022-02-17 00:49] m-sullivan7 commented on #6176
[Google doc with changes](https://docs.google.com/document/d/1CLV9iZmtXa98xi2imr4R41CtEaB_O7UzFQb_KHvN7Z0/edit)

[2022-02-17 01:08] LizNobriga opened #6178 "Housing and rent: Rent relief and eviction protection ends March 31, 2022"
End of rent relief program and eviction program on March 31, 2022.

[Draft](https://docs.google.com/document/d/1vvbvdMJLP9LZ5KQwKJ1WY-bHez675MtFp1QUFhEFZns/edit)

[2022-02-17 17:43] LizNobriga commented on #6169
@mediajunkie Just updating a link on the Biz page. Lmk if okay to publish.

[2022-02-17 17:48] mediajunkie commented on #6169
go ahead!

[2022-02-17 18:06] LizNobriga commented on #6169
Done

[2022-02-17 18:06] #6169 closed

[2022-02-17 18:29] m-sullivan7 commented on #6171
I've added a fourth image that should probably be replaced: the _Education and childcare_ image, based on thoughts from @LizNobriga

[2022-02-17 18:53] m-sullivan7 commented on #6070
CDPH has released the [wastewater dashboard](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/CalSuWers-Dashboard.aspx). However, I've tested it on two browsers (Firefox and Chrome) and on both of them I cannot see the graph portion of the dashboard, which is the key part. I've cleared my cache as Carlos suggested, but still no luck.

I've sent a screenshot to Carlos to see if we can figur

[2022-02-17 21:40] LizNobriga opened #6183 "Navigation: reorder pages in Services dropdown"
Reorder Services:
1. Education and childcare
2. Financial help
3. Food resources
4. Housing and rent
5. Help for individuals and families
6. Help for businesses
7. Help for agricultural workers
8. Help for immigrants
9. Hotlines and local info
10. Emotional support
11. Distance learning

[2022-02-17 22:32] LizNobriga opened #6184 "Education and childcare: update masks requirement for K-12"
[2/28/22 announcement](https://www.gov.ca.gov/2022/02/28/governors-newsom-brown-and-inslee-announce-updated-health-guidance/):

See [edits](https://docs.google.com/document/d/1YQGVDtWHzOTlal-SZ3vYuIvvCAu29ztoIBptsD80B_g/edit#).

Related tickets:
- #6269
- #6270

Summary of edits (for all 3 tickets):
- Update to reflect release of updated schools guidance effective after March 11
- Update mask poli

[2022-02-17 22:48] m-sullivan7 commented on #6158
Page published: https://covid19.ca.gov/smarter/

[2022-02-17 22:48] #6158 closed

[2022-02-18 16:36] m-sullivan7 commented on #6172
Video removed after bring published on 2/17 in time for the live stream.

[2022-02-18 16:36] #6172 closed

[2022-02-18 17:42] LizNobriga commented on #5997
@m-sullivan7 Could you review the edits to [_Help for individuals and families children and families_](https://docs.google.com/document/d/1liJgXT3AKa_xwVefytOlorBJoam1gcVzgKsjl9jTcXo/edit#)? The changes are listed at the top of the page, and include 2022 supplemental paid sick leave.

[2022-02-18 17:54] LizNobriga commented on #5972
@m-sullivan7 More [edits to _Safety in the workplace_](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit?pli=1#) for your review. Also in [staging](https://staging.covid19.ca.gov/workers-and-businesses/).

[2022-02-18 18:25] adam-little commented on #6171
The image came from Unsplash (https://unsplash.com/photos/cBWgXg-hYNs).

More recently, Jared has been asking RSE (agency) to provide images because they have a stock photo license for Getty images.

[2022-02-18 18:31] m-sullivan7 commented on #6171
Thanks for providing info about where they came from @adam-little and how we're sourcing images now! That's helpful.

@jaredwyee alerting you that there are four images on _Current safety measures_ that could use updating. A couple of them were pointed out by CDPH. I don't think any of these are super urgent, but leave it to you to discern the ultimate priority. 🙂

[2022-02-18 18:38] jaredwyee commented on #6171
For the masks ones, can update to the new hero banner. The masks image is from the prior hero. And nice that they supplied a travel/bus example.

@mediajunkie leaving to you

[2022-02-18 18:48] m-sullivan7 commented on #6171
I'd appreciate some assistance getting the image sizing correct for the masks banner. The most sophisticated tool I have for that is Microsoft Paint. 😉

[2022-02-18 18:50] LizNobriga commented on #5997
@m-sullivan7 Yes, I think the H4s help! Also, this page would have eight H2s, which is more than our standard of six.

[2022-02-18 19:23] LizNobriga commented on #5997
Interesting thought! I'll give it a try.

[2022-02-18 21:12] #6183 closed

[2022-02-18 21:19] kmbrlygl commented on #6171
@m-sullivan7 here ya go :) I matched the file name (card-masks.jpg) and size (1308x888) to the one on the website:
![card-masks](https://user-images.githubusercontent.com/20393247/154762526-ccd109dc-44d3-4588-84b3-b6f305f41125.jpg)

[2022-02-18 21:49] LizNobriga commented on #5857
@mediajunkie Updated [edits for _Safety in the workplace_](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit?pli=1#) need stakeholder approval. See in [staging](https://staging.covid19.ca.gov/workers-and-businesses/).

[2022-02-18 21:55] m-sullivan7 commented on #6171
@mediajunkie Do you want me to stage this updated image for masks for approval before publishing or is it OK to publish if all looks good when staged?

[2022-02-18 22:23] m-sullivan7 opened #6192 "Mega-events: update testing location link"
CDPH stakeholders have requested that we now point to MyTurn when helping people find testing locations. We've made this change on the _Testing_ page (https://github.com/cagov/covid19/issues/6055).

I searched WordPress for `arcgis` and noticed that we use this link on _Mega-events_ in this content in the _Indoor events_ section:

I believe you can update this content whenever you have a moment @L

[2022-02-18 22:27] m-sullivan7 commented on #6055
Link is live and I've noted a second place it needs updating on _Mega-events_. I don't think that's urgent, so I've assigned it to Liz since she's the regular content captain for that page.

@mediajunkie Would you like me to update the thread or would you like to handle since you've handled the communication with them thus far?

[2022-02-18 22:27] #6055 closed

[2022-02-21 20:25] mediajunkie commented on #6173
yes, let's please redirect to the main page.

[2022-02-22 17:31] m-sullivan7 commented on #6192
Updating based on a good suggestion from Christian: here's the link to use that takes people directly to the testing section of MyTurn:

https://myturn.ca.gov/testing.html

[2022-02-22 20:03] m-sullivan7 commented on #6176
Notes live in conjunction with Jim pushing the code.

[2022-02-22 20:03] #6176 closed

[2022-02-22 20:48] LizNobriga commented on #6192
Published link update.

[2022-02-22 20:48] #6192 closed

[2022-02-22 21:51] LizNobriga commented on #6114
Update [link to find your county contact](https://www.canva.com/design/DAE3VZBf6PY/RvMNyR1Ts_RXMicPMiwivA/view?utm_content=DAE3VZBf6PY&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton#2) for the [CA microbusiness covid-19 relief grant program](https://calosba.ca.gov/funding-grants-incentives/funding-programs/) (expand accordion).

[2022-02-22 22:02] LizNobriga commented on #6143
Reviewed new guidance. No additional edits besides what's currently in the [draft](https://docs.google.com/document/d/1YQGVDtWHzOTlal-SZ3vYuIvvCAu29ztoIBptsD80B_g/edit#) awaiting stakeholder approval.

[2022-02-22 22:02] #6143 closed

[2022-02-22 22:28] m-sullivan7 commented on #6173
I went to create the redirects. We already have them for this page (as I should have known given that Peggy was in charge of the page).

I reviewed my browser history and looked at the [Google Doc](https://docs.google.com/document/d/1TTmCBFSki16o0mChpcvXLHSDFSn9XcNtDqjqeBY8dBM/edit?usp=sharing) where I found the link that inspired this issue. It turns out that link went to the staging site. I assu

[2022-02-22 22:28] #6173 closed

[2022-02-22 23:01] LizNobriga commented on #5997
@mediajunkie These [edits to _Help for individuals and families_](https://docs.google.com/document/d/1liJgXT3AKa_xwVefytOlorBJoam1gcVzgKsjl9jTcXo/edit#) are ready for stakeholder review. The top of the doc summarizes the changes.

See page with edits in [staging](https://staging.covid19.ca.gov/help-for-individuals-and-families/).

[2022-02-24 16:58] m-sullivan7 commented on #6166
Published change and confirmed all is working well in production.

[2022-02-24 16:58] #6166 closed

[2022-02-25 00:38] LizNobriga commented on #6114
@m-sullivan7 Could you review the [edits](https://docs.google.com/document/d/1DfMh04qNBA4xn1vHJw0vPnTIN5yEGvyuqM8vbKU5ZxU/edit?pli=1) to the microbusiness grant program?

(I'm still expecting other edits about the restored tax cuts for businesses eventually, but I can't find anything describing those besides the bill itself.)

[2022-02-25 00:51] m-sullivan7 commented on #6114
They look good to me! No changes. 🙂

[2022-02-25 01:00] LizNobriga commented on #6114
@mediajunkie Are we okay to publish [this update for the microbusiness grant program](https://docs.google.com/document/d/1DfMh04qNBA4xn1vHJw0vPnTIN5yEGvyuqM8vbKU5ZxU/edit?pli=1#)?

Small businesses may be eligible for a grant of $2,500 from the California Microbusiness COVID-19 Relief grant program. **Find an organization on [this list](https://www.canva.com/design/DAE3VZBf6PY/RvMNyR1Ts_RXMicPMiwi

[2022-02-25 01:05] mediajunkie commented on #6114
Yes. Please publish.
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-02-25 01:53] LizNobriga commented on #6114
Published the microbusiness update.

Moving this ticket to backlog until there's more info available about the restored tax cuts for businesses.

[2022-02-28 17:59] zakiya commented on #6027
Here is the [Accessibility Evaluation Report for Covid19](https://github.com/cagov/covid19/files/8155566/accessibility-evaluation-report-covid-19-ca-gov.docx). I'll leave it to @mediajunkie and @jbum to see if we want to create issues for any of these.

[2022-02-28 18:23] jbum commented on #6027
Thanks so much!  Reviewing it today.

On Mon, Feb 28, 2022 at 9:59 AM zakiya ***@***.***> wrote:

[2022-02-28 19:24] m-sullivan7 opened #6224 "Masks: Unvaccinated mask requirement"
From governor press release:

This issue is to update unvaccinated mask requirements on _Masks_ and to draft a banner for the homepage.

I reviewed _Holidays and COVID-19_, _Travel_, _Vaccines_, and _Testing_, but did not find any content that talks about mask requirements for the unvaccinated.

[2022-02-28 19:37] m-sullivan7 commented on #6224
@mediajunkie  Here are my [preliminary recommended edits to the Masks page](https://docs.google.com/document/d/1W5c0cW81W54_GOaTW5FFupznnIiFCKmhJv_Kls3ALBs/edit?usp=sharing) to respond to today's announcement. (Apologies for the multiple edits, some of which are live. This is Peggy's preference while she's out. I can send you a clean version if needed.)

I think I need to check my suggestions agai

[2022-02-28 19:39] mediajunkie commented on #6224
TY
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-02-28 20:03] LizNobriga commented on #6184
@m-sullivan7 I updated this ticket in preparation for March 12 mask policy changes for k-12 and childcare. I incorporated notes/edits into the current [draft](https://docs.google.com/document/d/1YQGVDtWHzOTlal-SZ3vYuIvvCAu29ztoIBptsD80B_g/edit#) awaiting approval to publish (but did not move these newer edits/comments into staging since they cannot publish before March 12).

For higher ed, it's no

[2022-02-28 21:38] m-sullivan7 commented on #6184
The March 12 edits look good to me!

[2022-02-28 22:45] jbum opened #6225 "Address open issues in CDT Accessibility report"
CDT provided us with an accessibility report for the State-dashboard page which lists various issues reported by the Axe tool with the usage of Aria on the charts and UI on that page.

I've copied the report here:

https://docs.google.com/document/d/1UwkZnq-QFCLJQj_bSEtbfr3Kv33sGqUuFNfM2bwzdtQ/edit?usp=sharing

There are too many issues in the report to open up individual tickets, but we can use t

[2022-02-28 22:47] jbum commented on #6225
Currently preparing patches for issues #3 and #4.

[2022-03-01 17:34] m-sullivan7 commented on #6224
Banner and changes published.

[2022-03-01 17:39] LizNobriga commented on #5857
@m-sullivan7 _Safety in the workplace_ is now updated in staging. Can you review [Masking at work](https://staging.covid19.ca.gov/workers-and-businesses/#masking-at-work)?

See [draft edits](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit?pli=1#).

[2022-03-01 17:41] LizNobriga opened #6230 "Mega-events: update mask policy changes"
Starting March 1, masks are not required for unvaccinated people indoors. They are strongly recommended for everyone.

[Draft edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit#) to update mask policy on _Mega-events_.

[2022-03-01 17:47] m-sullivan7 commented on #5857
_Safety in the workplace_ looks good on staging! Nice and clean.

[2022-03-01 17:54] LizNobriga commented on #5857
Hi @mediajunkie. The mask changes are now updated in [our draft edits](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit?pli=1#) and are also moved into staging (see [Masking at work](https://staging.covid19.ca.gov/workers-and-businesses/#masking-at-work) section). All other pending edits for this page are also in staging, so we need approval to publish together.

[2022-03-01 18:23] LizNobriga commented on #6230
@m-sullivan7 Could you please review?

[2022-03-01 18:38] mediajunkie commented on #5857
See email basically requesting this change, I think. I will share the
drafts with that thread.

On Tue, Mar 1, 2022 at 9:54 AM Liz Nobriga ***@***.***> wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog

[2022-03-01 18:42] m-sullivan7 commented on #5857
I was just talking with Liz about waiting for DIR/Labor to provide
direction on this point and not wanting to jump the gun.

I can remove this now. There is some other content about this on that page
too, including questions about whether unvaccinated state workers need to
continue to wear masks when working in-person. Do you want that removed or
just the part that GO has highlighted?

Michael

On

[2022-03-01 18:58] m-sullivan7 commented on #6224
Reopening issue to deal with additional changes as a result of the governor's executive order.

@mediajunkie: I think that this is what the updated copy should be for the section highlighted by the governor's office. I am unsure about the last bullet. It does not appear to be explicitly repealed by the executive order.

I have questions about this associated content in _Masks_. I can ask this dire

[2022-03-01 19:01] mediajunkie commented on #6224
please feel free to follow up directly
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-03-01 19:06] m-sullivan7 commented on #6230
Looks good to me!

[2022-03-01 19:53] LizNobriga commented on #5857
Thanks @mediajunkie. Lmk if a Word doc or anything else would be helpful.

[2022-03-01 20:04] LizNobriga commented on #6230
@mediajunkie Edits to update _Mega-events_ with the new mask policy are ready for review in [staging](https://staging.covid19.ca.gov/mega-events/).

Masks are covered in two places on the _Mega-events_ page:
- Indoor events
- Outdoor events

Proposed edits are shown in the [google draft](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit#).

[2022-03-01 20:17] mediajunkie commented on #5857
I’m inclined to show them everything but if we have pending content that
needs SME review we should call it out as such.

On Tue, Mar 1, 2022 at 10:42 AM Michael Sullivan ***@***.***>
wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web

[2022-03-01 23:04] m-sullivan7 commented on #6224
Governor's office has provided updated copy and OKed several other changes. These are all published.

[2022-03-01 23:04] #6224 closed

[2022-03-02 16:37] m-sullivan7 opened #6238 "Testing: second round of free federal COVID tests"
The federal government will offer a second round of 4 free COVID home tests, as announced during the State of the Union. They expect to begin taking orders in the week of March 7. This issue is to update the _Testing_ page to let people know they can order another set. I recommend that we include a highlight box for people visiting the page.

[2022-03-02 16:50] m-sullivan7 commented on #6238
@mediajunkie edits!

[Testing page](https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edit?usp=sharing) itself. Here's the key text:

I also wrote a banner for whenever the tests go live next week. I used Peggy's previous banner on this topic as inspiration. As you can see, it's pretty close.

[2022-03-02 19:05] LizNobriga commented on #5857
Documenting email response 3/2/22:

[2022-03-02 19:33] m-sullivan7 opened #6240 "Testing: Update flyer links"
From Carlos at CDPH:

This issue is to review the new resources, update the links and any surrounding content as appropriate.

[2022-03-02 19:38] m-sullivan7 commented on #6240
@mediajunkie These edits are related to #6119, which proposed adding the links Carlos requested. I've put in new edits to remove the PDF flyer as part of them. The revised content would read:

I can move these edits independently from the others if needed.

[2022-03-03 00:40] LizNobriga commented on #5857
@m-sullivan7 The "Masking at work" section of _Safety in the workplace_ has been updated to reflect [DIR's updated faqs](https://www.dir.ca.gov/dosh/coronavirus/covid19faqs.html#controls) (which have GO's approval).

See [edits ](https://docs.google.com/document/d/14RZSitqD_RXyJqGfUU1lRUcgwu0C6Ox941msBF4fA7s/edit?pli=1#)and [staging](https://staging.covid19.ca.gov/workers-and-businesses/#masking-a

[2022-03-03 00:44] m-sullivan7 commented on #5857
Looks great to me!

[2022-03-03 01:32] mediajunkie commented on #5857
yes!
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-03-03 23:25] thepegisin opened #6244 "Update Testing page isolation/quarantine guidance per new docs and SMARTER plan"
Carlos Sanchez from CDPH requested these changes by email. Went to me and Michael as Xian was out. This ticket will deal with the changes he requested. Another ticket will handle elevating the isolation/quarantine info as a whole.

- [x] Draft changes: https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edit#
- [x] Send to @mediajunkie for approval
- [x] Get approval
-

[2022-03-04 00:13] thepegisin opened #6245 "Make new page for isolation/quarantine info"
Carlos Sanchez from CDPH has asked that we elevate isolation/quarantine info to be more prominent on the site. I propose giving this subject its own page, and naming it _Quarantine and isolation_ (since _quarantine_ is likely the most-used term, and is similar to the Spanish _cuarantena_).

- [x] Draft new page (moving text out from _Testing_ page, and linking to/from that page as appropriate)
- [

[2022-03-04 00:40] thepegisin opened #6246 "Update Masks highlight box"
Highlight box on this page has a forward-looking statement that is now in the past.

- [x] Draft edit: https://docs.google.com/document/d/1W5c0cW81W54_GOaTW5FFupznnIiFCKmhJv_Kls3ALBs/edit
- [x] Get approval from @mediajunkie
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-03-04 01:18] LizNobriga commented on #6184
FYI @m-sullivan7 @mediajunkie Added a highlight box for the school mask policy change to the [google doc edits](https://docs.google.com/document/d/1YQGVDtWHzOTlal-SZ3vYuIvvCAu29ztoIBptsD80B_g/edit#) and to [staging](https://staging.covid19.ca.gov/education/). Screenshot included:
<img width="974" alt="image" src="https://user-images.githubusercontent.com/58706834/156680558-e75bb668-66f0-465c-8638-

[2022-03-04 01:26] LizNobriga commented on #5857
List of the changes in this draft:
- Adds:
  - Exclusion pay and 2022 CA COVID-19 supplemental paid sick leave
  - Mortgage relief
- Removes outdated content:
  - Golden State Stimulus (need to also remove this from Get financial help page)
  - Federal child tax credit
- Updates:
  - CalEITC (there are temporary expansions for the 2021 tax year for individuals without dependents)
  - Young Child T

[2022-03-04 01:28] LizNobriga commented on #5997
List of the changes in this draft:
- Adds:
  - Exclusion pay
  - 2022 CA COVID-19 supplemental paid sick leave
  - Mortgage relief
- Removes:
  - Golden State Stimulus (outdated)
  - Federal child tax credit (outdated)
- Updates:
  - CalEITC
  - Young Child Tax Credit
- Improvements:
  - Reorder sections based current user need priority
  - Readability improvements to paid sick leave section
  - I

[2022-03-04 01:33] #6246 closed

[2022-03-04 01:50] LizNobriga commented on #5857
Summary of the changes in this draft:
- Adds:
  - Booster requirement for certain sectors (like healthcare, adult care, etc.)
  - Exclusion pay
  - How to file workplace safety and retaliation complaints
- Updates:
  - "Masking at work" section with March 1 changes
  - "Return to work after covid" section with shorter quarantine and isolation periods
- Improvements:
  - Headings reordered
- Remove