[2020-09-29 22:55] thepegisin commented on #1877
- [ ] Page edited and published

[2020-09-29 22:55] #1877 closed

[2020-09-29 22:56] #1811 closed

[2020-09-29 23:01] thepegisin opened #1878 "Minor edits to COVID Notify pages"
Mohsen Malekinejad at UCSF had some minor text edits to the **COVID Notify** webpages, which came in after launch.

[staging covid19 notify (1).docx](https://github.com/cagov/covid19/files/5302271/staging.covid19.notify.1.docx)
[staging covid19 notify privacy (1).docx](https://github.com/cagov/covid19/files/5302272/staging.covid19.notify.privacy.1.docx)

These were attached to his email of 9/21.

[2020-09-29 23:03] thepegisin commented on #1878
- [ ] Edits made to Staging docs and published.

[2020-09-29 23:03] #1878 closed

[2020-09-29 23:10] kenbasart opened #1879 "Add UCSF to Covid Notify Site"
Here is the URL that needs to be added to covid19.ca.gov/exposure:

https://infectioncontrol.ucsfmedicalcenter.org/coronavirus/exposure-notification

SF will technically “go live” on Wednesday 9/30/20 but this website will not be live until Friday 10/2/20.

[2020-09-29 23:12] thepegisin opened #1880 "Add URL for UCSF to COVID Notify Exposure Notice page"
Once it goes live on Thursday 10/1, add this URL to **COVID Notify Exposure Notice** page: https://infectioncontrol.ucsfmedicalcenter.org/coronavirus/exposure-notification

- [x]  Read the page title and label link accordingly
- [x]  Add it under **UCSF**
- [x]  [Stage](https://staging.covid19.ca.gov/exposure)
- [x]  Notify stakeholders that it's staged
- [x]  Check that [UCSF URL](https://infecti

[2020-09-29 23:20] #1879 closed

[2020-09-29 23:20] kenbasart commented on #1879
Duplicate with https://github.com/cagov/covid19/issues/1880

[2020-09-30 15:35] JasonKarim opened #1884 "Testing & treatment page: Add 3 drive-through testing sites and delete 2 sites"
Add 3 drive-through testing sites and delete 2 sites to match with Verily's project baseline website

[2020-09-30 15:36] #1884 closed

[2020-09-30 16:40] m-sullivan7 commented on #1823
@adam-little I'd appreciate a design perspective (when convenient) on how to make the definition of positivity rate more prominent on the [Blueprint page](https://covid19.ca.gov/safer-economy/). My draft idea is to work in the matrix since that puts the information closest to where readers will need it, but I welcome other ideas!

I'm working on a shorter and clearer definition than what's in the

[2020-09-30 16:53] kenbasart opened #1889 "Mass Events -- PDFs"
There are 4 PDFs that need to be added

From GO:

By close of business 9/30/2020 we hope to release guidance, and update the Blueprint, to incorporate four mass event sectors:
themeparks, fairgrounds, and water parks
convention centers
live audience pro sports
live audience concerts

Documentation attached.
[mass events - website summary.docx](https://github.com/cagov/covid19/files/5307063/mass.ev

[2020-09-30 16:56] m-sullivan7 commented on #1823
[Working space for new definition.](https://docs.google.com/document/d/1CScl4j4siEelnC2uNM0y2ve2sisKHi2LTl3wrOxYUJo/edit?usp=sharing)

[2020-09-30 17:41] kenbasart opened #1892 "Button + Copy to Dashboard for PPE"
Link of public dashboard:

https://public.tableau.com/views/COVID-19LogisticsDashboard/Logistics?:embed=y&:showVizHome=no#2
Button title: "COVID19 PPE distribution"

Sentence under button: Personal Protection Equipment (PPE) fulfilled by California Governor’s Logistics Task Force. PPE product families include N-95 respirators, procedure masks, gowns, face shields and gloves.

Placement: between ho

[2020-09-30 17:43] LizNobriga commented on #1889
[coordination / strategy doc](https://docs.google.com/document/d/1C-ovD6C4_d3wiqYB0SMn5E4KQZSSuGu85yVbnt8SdjQ/edit)

[2020-09-30 17:44] kenbasart opened #1893 "Homeless Button -- Improve Copy"
Please look at the sentence under the "homeless" button. Per @hannahslee "We could improve the language, e.g. 'help on our homeless population'"

https://public.tableau.com/views/COVID-19LogisticsDashboard/Logistics?:embed=y&:showVizHome=no#2

[2020-09-30 17:52] kenbasart commented on #1889
FYI the GO is expecting this to go to the very last minute: "End of day. Before midnight."

[2020-09-30 19:37] adam-little commented on #1823
@m-sullivan7 I think that's the obvious solution. Something like this:
![image](https://user-images.githubusercontent.com/69167298/94731431-9c859d00-0319-11eb-8659-dada7725c35d.png)

If we add a definition for the positivity rate, do we then need one for Adjusted cases?

I would love to take a second pass at this entire matrix.

[2020-09-30 20:46] #1892 closed

[2020-09-30 20:54] #1893 closed

[2020-09-30 21:50] ashleydraper opened #1895 "Equity page"
This page describes the inequitable impacts of COVID on populations and communities. Also provides visibility on how this data informs statewide strategy on addressing  / focusing interventions re: COVID (metrics, investments, data completeness).

Google [staging doc](https://docs.google.com/document/d/1xVJNjsq6WRvpKPaVur84SJjGot9P5Hgv39Z6D2rFrf0/edit#)

[2020-09-30 22:27] thepegisin commented on #1845
Sorry, I was wrong about this. Essential businesses are in the What's open search. See [Staging sheet for search data](https://docs.google.com/spreadsheets/d/1dpnJ20cD8Ip5StWgzNxp7EZpb08BkzPxEoS-DmIn7KE/edit#gid=503035500), where they have the category **Critical Infrastructure**.

There may be holes in this data, i.e. essential businesses that didn't make it into the search data. We should sweep

[2020-09-30 22:42] m-sullivan7 commented on #1823
@adam-little Awesome! Glad to know I was on the right track!

I think a second pass on the matrix as a whole would be great. Defining adjusted case rate is also a good idea. I'll add that to my working doc and see what I can come up with.

[2020-10-01 15:24] LizNobriga opened #1900 "Update to Higher education guidance PDF"
- [x] Replace Higher education guidance PDF (dated 9/30)
- [ ] Confirm with SMEs that no changes are needed for IG tiers. See [staging doc](https://docs.google.com/document/d/19WxuJ8mXoXJd4rP04oOvcDFA3T8HqtyifD2BNMkeZ4c/edit#) for Industry guidance.

[2020-10-01 15:37] adam-little opened #1901 "Fix header layout bug on mobile"
Menu icon breaks to a new line which results in the sticky header occupying a third of the screen height. Please fix so that menu icon/button is on the same line as language and search.

[2020-10-01 15:38] adam-little commented on #1901
Latest chrome app on iPhone SE

![image](https://user-images.githubusercontent.com/69167298/94831374-803d3b00-03c1-11eb-92e2-a0586aee8a03.png)

[2020-10-01 15:56] aaronhans commented on #1901
There isn't much room at 320 width but if we hide the placeholder text in the search box maybe it looks alright

<img width="494" alt="Screen Shot 2020-10-01 at 8 49 18 AM" src="https://user-images.githubusercontent.com/353360/94833238-bed3f500-03c3-11eb-8ab9-9cd9ddfd9a69.png">

That screenshot reduces the width of the search box to make things fit but it is so small the icon is on top of the plac

[2020-10-01 16:11] LizNobriga opened #1902 "Update to Employer playbook"
- [x] Replace updated Employer playbook (dated 9/25)

- [ ] Make related content changes (affects various pages)

[2020-10-01 16:52] kkoryaka commented on #1855
@kenbasart @m-sullivan7 where exactly can I find that anchor link on the site?

[2020-10-01 17:35] #1857 closed

[2020-10-01 17:50] aaronhans commented on #1901
In terms of priority, I am trying to fit in the remaining P1s for state-dash since we have a scheduled QA event tomorrow morning.

This is a severe bug indeed but has been present since the new homepage redesign so I'll prioritize it after the P1 state-dash QA event. Let me know if that is not appropriate

[2020-10-01 17:56] kenbasart commented on #1901
+ @hannahslee see Aaron's comment re: prioritization

[2020-10-01 19:02] adam-little commented on #1674
@kenbasart this looks complete to me. let's close it.

[2020-10-01 19:02] adam-little commented on #1855
@kenbasart this looks complete to me. let's close it.

[2020-10-01 19:02] adam-little commented on #1843
@kenbasart this looks complete to me. let's close it. (Note this is a duplicate of 1674)

[2020-10-01 19:04] LizNobriga commented on #1902
Please add staging doc links to this issue when you can! Thanks in advance :pray:

[2020-10-01 19:09] m-sullivan7 commented on #1855
I'm not getting the expected behavior when I pull up a county. The "Understand your data" link still goes to #reopening-data for me (see screenshot for the link that comes up when I hover over). I cleared my cache and still got this behavior.
![image](https://user-images.githubusercontent.com/69169190/94852512-d7053d80-03de-11eb-86eb-6331164ec177.png)

[2020-10-01 19:12] m-sullivan7 opened #1906 "Health equity explanation paragraph"
From @hannahslee: Goal: they'd like to highlight to the public the importance of bringing all communities along in reopening, and ergo a quick paragraph that summarizes the heath equity metric release (see [CDPH press release](https://www.cdph.ca.gov/Programs/OPA/Pages/NR20-251s.aspx))
Wonderful if we can suggest a short paragraph (2-3 sentences?) that would go in the "understand your county's sta

[2020-10-01 19:12] m-sullivan7 commented on #1906
CC: @kenbasart

[2020-10-01 19:14] m-sullivan7 commented on #1906
Additional CDPH resource on health equity metric: https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/CaliforniaHealthEquityMetric.aspx

[2020-10-01 19:28] #1674 closed

[2020-10-01 19:29] #1843 closed

[2020-10-01 20:24] m-sullivan7 commented on #1906
Proposing the following language:

COVID-19 has affected certain racial and income groups more than others. Counties must show how they’re addressing COVID-19 in these communities to move to a less restrictive tier. Learn more about this [focus on equity](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/CaliforniaHealthEquityMetric.aspx).

[2020-10-01 21:48] thepegisin opened #1908 "New counties to be added to Housing for agricultural workers page"
As more counties join the Home for the Harvest program, they must be added to the **[Housing for agricultural workers](https://covid19.ca.gov/housing-for-agricultural-workers/)** page. Counties are added alphabetically, along with their program administrator contact info and links to flyers in English and Spanish.

Stakeholder POC is Arima Kozina in CDFA. She updates the [Staging doc for this page

[2020-10-01 21:59] m-sullivan7 commented on #1902
After reviewing the redlined playbook, I did not identify any items that looked to impact my pages. Don't hesitate to let me know if I missed something! I'm still learning my pages. :)

[2020-10-01 22:28] kkoryaka commented on #1841
Updated in staging

[2020-10-01 22:31] aaronhans opened #1910 "People keep typing cities into the county search blueprint box"
During analytics analysis with @britt and @carter we noticed a ton of entries like Santa Cruz, Calaveras. The prevalence of Calaveras was immediately noticeable and pretty strange.

We were able to duplicate the probable cause:

- People are searching for city name, CA and then hitting enter which populates the form with the closest county to that string which is Calaveras...

Could be avoided by

[2020-10-01 22:36] kkoryaka commented on #1855
@m-sullivan7 this one is still in staging

[2020-10-01 22:44] m-sullivan7 commented on #1855
Got it! Thanks! @kkoryaka It's working perfectly on staging. :)

[2020-10-01 23:16] m-sullivan7 commented on #1823
@adam-little after scribbling and working with @thepegisin, here's the draft definitions for each term we propose:

- Adjusted case rate: 7-day average of COVID-19 cases per 100,000, adjusted for number of tests performed
- Positivity rate: 7-day average of all COVID-19 tests performed that are positive

Use away for any new designs you do!

[2020-10-01 23:40] LizNobriga commented on #1902
Agree with @JasonKarim's note above. Let's attempt to note the main areas where the playbook is not up to date with statute or current policy.

- CA COVID-19 Supplemental Paid Sick Leave - only references EO N-51-20, but changed again with recent legislation

[2020-10-02 12:18] JasonKarim opened #1913 "Symptoms & risks page: Add a Q/A about who is at risk of coronavirus infection"
Add a question and answer about who is at risk of coronavirus infection to address comments at content crit meeting. Reorganized entire page for ease of use.

[2020-10-02 15:25] adam-little commented on #1841
THis looks good to me. We can close @kenbasart

[2020-10-02 15:29] xjensen commented on #1910
The premium option would involve a geocoding service, like Azure Maps API. Then people could search by anything: county, city, neighborhood, street address, latitude/longitude (think auto-searching from a phone's GPS), etc. Of course, it'd be a project. But it might be worthwhile if we have other needs/uses/possibilities/wishes that could also make use of a geocoder.

(I built an [open source thin

[2020-10-02 15:45] aaronhans commented on #1910
Pretty impressive open source geocoder you've got there. I have similar reservations about container orchestration.

We used the Azure location resolver autocomplete for our road condition prototype in alpha and it was a great service, easy to integrate endpoints. Hitting a full service off the shelf endpoint to resolve whatever is typed in and get the county is a great idea

[2020-10-02 15:53] m-sullivan7 commented on #1823
For documentation, here's some per page feedback from Blueprint supporting making this change:
9/30/2020 7:01:57 AM: Please clarify the “positivity” rate. The website alludes that it is a percentage of the population, while in fact it is the percentage of tests taken, not the percentage of actual population. Statistically, the number being presented as a percentage of the population is not correct

[2020-10-02 15:55] m-sullivan7 commented on #1202
Content team discussed style guide on September 30 and have agreed to current draft as a v1 version for publication. We will continue iterating as we discuss new standards.

I will discuss with @abquirarte where the style guide will live and some lingering questions for her level upon her return next week.

[2020-10-02 16:22] #1908 closed

[2020-10-02 16:24] aaronhans commented on #1901
PR opened, linked above

Fix is in staging now @adam-little @koryfey

[2020-10-02 16:36] #1841 closed

[2020-10-02 16:38] kenbasart commented on #1901
On staging/closing

[2020-10-02 16:54] aaronhans commented on #1901
Are we being too quick on the trigger @kenbasart? We have an open PR still which may not pass code review. Let's document the QA steps we perform as well. Messing around with media queries like this can create bugs in other screen sizes so I'd like to document what we've tested to verify this

[2020-10-02 17:53] kenbasart commented on #1901
Makes sense -- reopening.

[2020-10-02 18:02] kenbasart opened #1916 "State Dashboard -- Align Positivity Rate numbers"
"Testing for Covid 19" Tableau chart for Positivity Rate uses a different rolling average (14-day) than the State Map/Tier Assignments Positivity Rate (7-day), so the numbers are different.

Request is to align the numbers.

[2020-10-02 18:03] aaronhans commented on #1839
Related: as part of the state dashboard update we changed how the county search works so it no longer does anything until you submit the form. This is now different from how the industry search field works.

If we make county required we will be removing the ability to quickly review the status of a specific industry in every county which we have now and seems helpful.

[2020-10-02 19:22] adam-little commented on #1839
Here are updated requirements for this functionality

![Frame 160](https://user-images.githubusercontent.com/69167298/94961099-e355cd00-04a8-11eb-905b-021a84eeccd9.png)
This is the default state. A user must enter at least 1 field (county or activity) in order to proceed.

![Frame 85](https://user-images.githubusercontent.com/69167298/94961336-4b0c1800-04a9-11eb-805a-117030534f29.png)
If a user cl

[2020-10-02 19:23] adam-little opened #1922 "Create new search results view for when no county is selected"
When a user searches for an activity _without_ selecting a county, they will see search results formatting in the following way:

![All activities - Full list truncated](https://user-images.githubusercontent.com/69167298/94961996-9a067d00-04aa-11eb-9d15-690d50863cf5.png)

- Activity name is in the header
- Link to industry guidance is in the header
- Alphabetical list of counties
- Status for each

[2020-10-02 19:37] adam-little commented on #1840
Here are further details:

![Frame 160](https://user-images.githubusercontent.com/69167298/94962303-16995b80-04ab-11eb-8338-3be1cb68660a.png)
If the field is empty, there is no clear buttons.

![Frame 37](https://user-images.githubusercontent.com/69167298/94962596-91627680-04ab-11eb-95f2-494e89feb6e2.png)
![Frame 161](https://user-images.githubusercontent.com/69167298/94962598-91fb0d00-04ab-11eb-8

[2020-10-02 19:39] adam-little commented on #1840
Search results when only industry is selected:
![All activities - Full list truncated](https://user-images.githubusercontent.com/69167298/94962914-21082500-04ac-11eb-8532-6a3d5bb2de9d.png)

Search results when only county is selected:
![03  Roadmap Page - Full List](https://user-images.githubusercontent.com/69167298/94963007-46952e80-04ac-11eb-97fa-013cb9a6c315.png)

[2020-10-02 19:41] adam-little opened #1923 "Remove "View all" from the activity dropdown on What's Open search to prevent people from viewing all activities for all counties"
Please remove the option to "view all" on the activity dropdown. If a user wants to view all activities for a county, they must select a county and leave this field blank.

[2020-10-02 19:41] adam-little commented on #1923
![image](https://user-images.githubusercontent.com/69167298/94963168-94119b80-04ac-11eb-972a-075fca732a28.png)

[2020-10-02 20:39] kenbasart opened #1925 "Positivity rate in California graph not displaying lead data"
**This is a Slalom ticket** based on the 1.1 Bug Bash.

Screenshot link

https://drive.google.com/file/d/1wNDnpM8khAmgWT6d3dquVsnsWdYwgCkj/view?usp=sharing

Desired treatment
https://drive.google.com/file/d/18hNvSlHO6psFCMWl3xRVbGCIQYiaHwPM/view?usp=sharing

cc: @hannahslee

[2020-10-02 20:40] kenbasart opened #1926 "Fix white gap between "Infections by group" and "Is this page useful?""
https://drive.google.com/file/d/1o0RwxOA5zfD8NollyZtzEqmundLZNyLy/view?usp=sharing

[2020-10-02 20:41] kenbasart opened #1927 "Inconsistent spacing for chart captions and H3 titles"
https://drive.google.com/file/d/1tIXmglj_HD53vOoXBb2scUQ-Q5S8x-yK/view?usp=sharing

Reduce spacing between charts and their captions and make spacing of H3s consistent

[2020-10-02 20:43] kenbasart opened #1928 "Adjusted case rate not displaying in county map when selecting a county"
**This is a Slalom case from the 1.1 Bug Bash**

https://drive.google.com/file/d/1R1xBlwXdnMvGTQSaQ6Vp0Jezqqj732kr/view?usp=sharing

Desired Treatment:

https://drive.google.com/file/d/1BhqEfug6P3-_GOl2k-jkgovZFrqqPKqB/view?usp=sharing

[2020-10-02 20:45] kenbasart opened #1929 "Map is not full column width"
per @adam-little

[2020-10-02 20:51] adam-little commented on #1929
Since we use the same map on State Dashboard and Dimmer Switch, this applies to both pages. I am assuming the content column on both pages is the same (if it's not, it should be).

**State Dashboard**

![Frame 31](https://user-images.githubusercontent.com/69167298/94968627-1f435f00-04b6-11eb-9e09-1a13af917b7b.png)

[2020-10-02 21:07] kenbasart opened #1930 "PDF Translations -- Cohorts"
New translated Cohorts FAQs for Schools documents to be uploaded:

https://drive.google.com/drive/folders/1xRvNx59wfAhvAhTupCibGKflvRd6pbvS

FYI there is a new language (Punjabi).

[2020-10-02 21:10] kenbasart opened #1931 "PDF Translations -- Cardroom Checklist"
New Outdoor Cardroom Checklist translated documents to be uploaded:

https://drive.google.com/drive/folders/1lZIFYqApWl-ZoAMHC4cJkUsGuJzFKC9g

[2020-10-02 21:32] aaronhans opened #1933 "homepage layout hosed on old iOS versions"
iOS versions 7 & 8 have immediately obvious massive layout problems on the latest homepage design

newer versions of iOS look fine

[2020-10-02 21:46] thepegisin opened #1934 "Broken links to fix from 10/2 SiteImprove report"
The following links are verified to be broken. Please remove or replace and check off.

- [x] **[Get local information](https://covid19.ca.gov/get-local-information/)**: Link to Orange County in **Find your county's website** has changed. Update to https://occovid19.ochealthinfo.com/. @thepegisin
- [x] **[Emotional support](https://covid19.ca.gov/resources-for-emotional-support-and-well-being/)**:

[2020-10-02 21:48] m-sullivan7 opened #1935 "Surgeon General stress playbooks (simplified Chinese)"
Upload updated simplified Chinese PDFs for:

- California Surgeon General’s Playbook: Stress Relief During COVID-19
- California Surgeon General’s Playbook: Stress Relief for Caregivers and Kids During COVID-19

Accessibility check has been confirmed by Department of Social Services.

[OSG General Stress Relief Playbook_Chinese.pdf](https://github.com/cagov/covid19/files/5320450/OSG.General.Stress

[2020-10-02 21:49] m-sullivan7 commented on #1935
cc: @kenbasart

[2020-10-02 21:53] thepegisin opened #1936 "Callout box looks bad on Emotional support page"
This callout box at the top of the page doesn't look good. Asking for a UX/ENG intervention:

<img width="757" alt="2020-10-02_14-51-22" src="https://user-images.githubusercontent.com/63249920/94972774-f2e01080-04be-11eb-8c4b-d819b10abd35.png">

[2020-10-02 23:00] adam-little commented on #1936
@thepegisin is this a custom HTML block? Or is this Wordpress content with a class attached to it?

[2020-10-02 23:12] m-sullivan7 commented on #1935
PDFs have been updated on the website.

[2020-10-02 23:12] #1935 closed

[2020-10-02 23:20] m-sullivan7 opened #1938 "Surgeon General caregiver stress playbook links"
While completing #1935, I discovered that the California Surgeon General’s Playbook: Stress Relief for Caregivers and Kids During COVID-19 PDF is using old, manual links to each translated PDF. The California Surgeon General’s Playbook: Stress Relief During COVID-19 was transitioned to the naming convention for PDFs that enables automatic switching between PDFs depending on site selected language.

[2020-10-02 23:21] m-sullivan7 commented on #1938
cc: @kenbasart this is the PDF maintenance issue that I mentioned on Slack

[2020-10-02 23:29] m-sullivan7 commented on #1906
Submitted new proposed language in response to thoughts from Dr. Chen and Caroline Kurtz:

COVID-19 has impacted some communities more than others. They face higher rates of infection and death. These include our Black, Latino, Pacific Islander, low income, and essential worker communities.

Our reopening must be safe for everyone. Counties must address COVID-19 in all communities to open further.

[2020-10-02 23:59] #1913 closed

[2020-10-03 00:20] thepegisin commented on #1880
Note: different URL. https://infectioncontrol.ucsfmedicalcenter.org/covid/california-covid-notify

[2020-10-03 00:20] #1880 closed

[2020-10-03 20:17] JasonKarim opened #1943 "Symptoms & risks page: Add a Q/A to address, “What is the long term effect of COVID-19?”"
“What is the long term effect of COVID-19?” was the single most important question over the weekend after the President was hospitalized. Currently CDPH does not address it, [CDC only addresses](https://www.cdc.gov/coronavirus/2019-ncov/long-term-effects.html) except as it relates to the heart. Most [comprehensive answer is given by UK.GOV](https://www.gov.uk/government/publications/covid-19-long-

[2020-10-04 16:59] JasonKarim opened #1944 "Data & Tools Page: Delete Bed Surge Dashboard"
Delete [Bed Surges Dashboard](https://public.tableau.com/views/COVID-19BedSurgeDashboard/BedSurge?:embed=y&:showVizHome=no) from the [Data & tools page](https://covid19.ca.gov/data-and-tools/), since there is no patient data left. This dashboard used to show temporary bed surge (like one at Arco Arena) and the last one at Orange county is now closed. They are unlikely to ever open again, since hos

[2020-10-05 15:35] kenbasart opened #1948 "Bring in Data and Tools CTA"
Google Doc says it is in stage but @hannahslee and @aaronhans do not see it

https://drive.google.com/file/d/1qmah9RSW8iqnS3L03hayprEYa3NZs6ff/view?usp=sharing

From the Google Doc:

No "Explore more data" CTA

Desired Treatment: "Confirm whether we want that button"

[2020-10-05 16:26] kenbasart opened #1951 "GET HELP, Health information, Working and How to Help Links are Misleading"
<img width="966" alt="Screen Shot 2020-10-04 at 7 48 46 AM" src="https://user-images.githubusercontent.com/4454420/95106198-0ec8f980-06ed-11eb-9f3b-5eb72bcb7680.png">
<img width="1032" alt="Screen Shot 2020-10-04 at 8 39 38 PM" src="https://user-images.githubusercontent.com/4454420/95106229-1a1c2500-06ed-11eb-8703-bffbbc94c244.png">

Per @clarita1980:

"The titles in the navigation (GET HELP, Heal

[2020-10-05 16:36] thepegisin commented on #1951
Suggest those section headers be orange, not underlined, and non-reactive to hover. Only links should look and behave like links.

[2020-10-05 16:38] m-sullivan7 commented on #1716
Published updates to Taxes page, the last remaining step in this issue. Closing issue.

[2020-10-05 16:38] #1716 closed

[2020-10-05 16:57] LizNobriga commented on #1931
These have been uploaded. @thepegisin The row in orange in the checklist tab of the translations pdf spreadsheet is ready to be added to the "Industry guidance in other languages" page.

[2020-10-05 17:08] m-sullivan7 commented on #1330
Approvals received for Taxes changes. Pertinent content moved to Taxes page, which has already been published. Confirmed publishing of Businesses and Employers page. This ticket is now complete.

[2020-10-05 17:08] #1330 closed

[2020-10-05 18:31] abquirarte commented on #1330
beautiful coordination :)
Angelica Quirarte, "Angie"
Assistant Secretary- Government Operations Agency
c: 916-526-5510
Digital Crisis Standard- covid19.ca.gov
<https://github.com/cagov/covid19/wiki/Crisis-Standard>

Follow us:
Web <https://alpha.ca.gov/> | Blog <https://medium.com/cadotgov> | Twitter
<https://twitter.com/cadotgov>

On Mon, Oct 5, 2020 at 10:08 AM m-sullivan7 <notifications@github.

[2020-10-05 20:19] m-sullivan7 commented on #1906
Staged proposed version: https://staging.covid19.ca.gov/safer-economy

[2020-10-05 21:47] ashleydraper commented on #1934
@thepegisin
I'm not sure of the intent of the Family Resource Center link. Here is the paragraph in context, but I've called this place, I've poured over their directory, I've search food assistance on this site, I'm not seeing why we would send our users there.

[2020-10-05 21:59] LizNobriga commented on #1930
Translations have been uploaded. @thepegisin can you add the ones that need to go on the IG in other languages page?

[2020-10-05 22:09] thepegisin commented on #1934
I think the replacement link may be this: https://frcnca.org/resources-directory/

@ashleydraper, what do you think?

[2020-10-05 22:54] thepegisin opened #1953 "New page: Holidays"
Need a page to hold upcoming Halloween-specific guidance, and other holiday guidance as it becomes available.

**User story:** As a parent living in California, I need to know whether it's safe and recommended to take my kids trick-or-treating.
**User story:** As a person living in California, I need to know whether trick-or-treaters are likely to show up on Halloween.
**User story:** As a person

[2020-10-06 15:55] m-sullivan7 opened #1957 "10/6 tier updates to state dashboard"
Update two dates on State Dashboard page to reflect today's tier assignments:

- "Current tier assignments as of September 29, 2020" becomes "Current tier assignments as of October 6, 2020"
- "All data and tier assignments are based on results from week ending September 19, 2020." becomes "All data and tier assignments are based on results from week ending September 26, 2020."

Screenshots also at

[2020-10-06 15:56] m-sullivan7 commented on #1957
cc: @kenbasart

[2020-10-06 16:28] carterm commented on #1957
(Fixed in this PR, moving to staging)
https://github.com/cagov/covid19/pull/1955

[2020-10-06 17:53] thepegisin commented on #1856
Would be even better if the link could take you to an opened version of the County websites accordion. @aaronhans says this is do-able.

[2020-10-06 18:31] #1957 closed

[2020-10-06 18:41] clarita1980 opened #1963 "Update workers page regarding "More benefits for workers receiving UI or PUA""
Information is outdated.

[2020-10-06 18:42] clarita1980 opened #1964 "Update information on workers page regarding More benefits for workers receiving UI or PUA"
Information is outdated

[2020-10-06 18:56] abquirarte commented on #1964
Can we specify this more? And tag the content lead/owner?

Angelica Quirarte, "Angie"
Assistant Secretary- Government Operations Agency
c: 916-526-5510
Digital Crisis Standard- covid19.ca.gov
<https://github.com/cagov/covid19/wiki/Crisis-Standard>

Follow us:
Web <https://alpha.ca.gov/> | Blog <https://medium.com/cadotgov> | Twitter
<https://twitter.com/cadotgov>

On Tue, Oct 6, 2020 at 11:42 AM C

[2020-10-06 19:38] m-sullivan7 commented on #1906
New content has been published as part of the 10/6 tier updates to _Blueprint for a Safer Economy_.

[2020-10-06 19:38] #1906 closed

[2020-10-06 19:49] m-sullivan7 opened #1965 "Stress playbooks translated PDF uploads (6 languages)"
Upload new PDFs for:
- California Surgeon General’s Playbook: Stress Relief During COVID-19
- California Surgeon General’s Playbook: Stress Relief for Caregivers and Kids During COVID-19

For the following languages:
- Arabic
- Korean
- Tagalog
- Vietnamese
- Simplified Chinese
- Traditional Chinese (these were accidentally uploaded as simplified Chinese in #1935 )

[2020-10-06 19:50] ashleydraper commented on #1934
I like getting folks to the resources. I considered the front door, but couldn't reconcile it given the intent from that paragraph.
All links are now functioning properly, proposing to close this issue!
@thepegisin

[2020-10-06 19:50] m-sullivan7 commented on #1965
cc: @kenbasart

[2020-10-06 19:58] m-sullivan7 commented on #1935
Note: these translations were actually for traditional Chinese, not simplified. See #1965 for the actual uploading of simplified Chinese.

[2020-10-06 20:02] kenbasart opened #1966 "Update Wording in Content Box"
Please change the words "Total People Tested" to "Total Tests" in this data box (image attached)

Found here: https://covid19.ca.gov/state-dashboard/

![image](https://user-images.githubusercontent.com/69479727/95253750-b4569880-07d3-11eb-99b8-8ef2f35215b8.png)

[2020-10-06 20:03] kenbasart commented on #1824
@clarita1980 any update on this?

[2020-10-06 20:28] m-sullivan7 commented on #1965
All playbooks uploaded.

[2020-10-06 20:28] #1965 closed

[2020-10-06 21:04] adam-little commented on #1951
Here's a screenshot and Figma link for a suggested design.

Key changes:

- Remove link and underline from section headers
- Make section headers sentence case capitalization (not all caps)
- Page links should not be bold
- Menu button label should read "Close"

![Main menu](https://user-images.githubusercontent.com/69167298/95259939-eed12d00-07f5-11eb-8194-ac6c5705b95f.png)

https://www.figma.com

[2020-10-06 21:11] adam-little commented on #1840
Note that this is complete on staging for State Dashboard but not for Dimmer Switch.

[2020-10-06 21:23] adam-little opened #1968 "Description of data charts should update when a user toggles between county data and statewide data"
**Current behavior:**
When the county tab is selected, a user sees description for statewide data.

<img width="968" alt="Screen Shot 2020-10-06 at 5 15 12 PM" src="https://user-images.githubusercontent.com/69167298/95261002-a1ee5600-07f7-11eb-9ffa-aed470d2550d.png">

**Desired behavior:**
Description of statewide data only appears when a user is viewing statewide data charts.
In other words, chan

[2020-10-06 22:39] adam-little commented on #1936
If we are looking for a quick one-off fix: left align the blue titles

If we are looking to make this a global component that can be easily re-used on other pages, let me know and I will create a component in Figma and have the developers create a class for it.

 @thepegisin @kenbasart

[2020-10-06 22:54] adam-little commented on #1823
@kenbasart Can we assign this to a developer?

Proposed solution: Add "Adjusted case rate" and ""Positivity rate" definitions to the matrix on the Blue print page.

Adjusted case rate: 7-day average of COVID-19 cases per 100,000, adjusted for number of tests performed
Positivity rate: 7-day average of all COVID-19 tests performed that are positive

![Group 30](https://user-images.githubusercontent

[2020-10-06 22:56] m-sullivan7 commented on #1823
There's a _chance_ that content might be able to do it. Want me to try before we involve developers?

[2020-10-06 22:57] kenbasart commented on #1823
Yes go for it Michael

[2020-10-06 23:03] thepegisin commented on #1934
BAM! Thank you!

[2020-10-06 23:03] #1934 closed

[2020-10-06 23:17] m-sullivan7 commented on #1823
Good news: in theory, content could do this!
Less good news: we probably need some help (which may require developers) to style the text. They're doing some cool things to style the text that probably need tweaking.
![image](https://user-images.githubusercontent.com/69169190/95269977-6f405f80-07ef-11eb-82eb-4a97e403ced1.png)

[2020-10-06 23:24] kenbasart commented on #1823
Ok let's talk to them tomorrow when Aaron gets back.

[2020-10-06 23:46] #943 closed

[2020-10-06 23:47] #1435 closed

[2020-10-06 23:47] #1757 closed

[2020-10-06 23:51] #235 closed

[2020-10-06 23:54] JasonKarim opened #1971 "Symptoms & risks page: Update to include couple of QAs for airborne transmission of coronavirus"
Symptoms & risks page: Update to include couple of QAs for airborne transmission of coronavirus

- [x] Content created

- [x]  Reviewed by @thepegisin

- [x] Approved by @abquirarte

[2020-10-07 17:26] Mark-Tyler commented on #1966
@kenbasart Change was made. Please review production and close if fix met issue.

[2020-10-07 17:57] m-sullivan7 opened #1974 "Update labels on positivity rate on state dashboard"
Per @hannahslee, in the next rev of state dashboard, we will move the positivity rate data from a 14-day average to a 7-day average, which syncs it with the map on _Blueprint for a Safer Economy_ (also featured later on in this page). This will require an update to the labels for the  _Positivity rate in California_ graph.

![image](https://user-images.githubusercontent.com/69169190/95367655-da3e7

[2020-10-07 18:19] kenbasart commented on #1966
Looks great! Closing as complete.

[2020-10-07 18:19] #1966 closed

[2020-10-07 18:45] Mark-Tyler commented on #1951
@kenbasart this is within the skills of Konstantin and not within mine. I would suggest setting this to him.

[2020-10-07 18:47] kenbasart commented on #1951
Ok will assign it back to him. Thanks!

[2020-10-07 18:52] Mark-Tyler commented on #1842
@kenbasart while I do have some experience with adjusting layout based on media, I do not have a detailed CSS understanding of Covid19 website CSS structure to make this change without possible detrimental effects. If this is not mission critical that this change takes place, then I would wait until Konstantin returns.

[2020-10-07 18:55] Mark-Tyler commented on #1855
@kenbasart it looks like this issue is good to be published (and is working properly in staging), but I think it being held up do to the issues associated with the to search boxes is keeping it from moving to prod.

[2020-10-07 18:59] adam-little commented on #1842
@Mark-Tyler this should be pretty easy but it's not mission critical.

Here's how it currently looks:
![IMG_3B545AE35E8B-1 1](https://user-images.githubusercontent.com/69167298/95375395-90678580-08ad-11eb-8b79-3f963a317680.png)

Here's how it should look:
![Frame 163](https://user-images.githubusercontent.com/69167298/95375414-98272a00-08ad-11eb-87c2-1316aa71bf45.png)

Basically we just want to re

[2020-10-07 18:59] kenbasart commented on #1842
Undertstand. Will put back to Konstantin.

[2020-10-07 19:00] kenbasart commented on #1842
@aaronhans assigning this to you per the meeting we just had, as Mark says this is beyond his capabilities.

[2020-10-07 19:01] kenbasart commented on #1855
Ok will assign to @aaronhans for final review. Aaron, please see the above.

[2020-10-07 22:30] m-sullivan7 commented on #1795
Prepared a clean copy for stakeholder review and provided to @TamaraIDEJA.

[Manage stress for health 10-5-20 edits.docx](https://github.com/cagov/covid19/files/5344272/Manage.stress.for.health.10-5-20.edits.docx)

[2020-10-08 00:07] xjensen commented on #1951
I saw this and wanted to clarify something, just in case. On mobile, those headers **do need to be links** because they trigger a pull-down menu. This isn't necessary on desktop.

Not expanded on mobile:
![headers](https://user-images.githubusercontent.com/1208960/95400149-c19c8180-08be-11eb-81e3-ab14d34734d8.png)

Expanded on mobile by clicking on the heading:
![headers-expanded](https://user-ima

[2020-10-08 00:24] abquirarte commented on #1951
☝️ such a great point!

cc: @adam-little @hannahslee @aaronhans

[2020-10-08 00:37] ashleydraper commented on #1392
@TamaraIDEJA
What's the status on this?

[2020-10-08 00:40] ashleydraper commented on #1902
I didn't see any changes that would effect my content pages.
@LizNobriga

[2020-10-08 01:17] xjensen commented on #1923
@adam-little This request should now be live on the site via #1970. Just let us know if any changes are needed.

[2020-10-08 16:35] ashleydraper commented on #1392
@aaronhans @carterm
This page is published, but I just added the "do-not-crawl" tag back on there so it shouldn't be searchable. Here is the url for the new **help for seniors** (https://as-go-covid19-d-001.azurewebsites.net/2020/09/14/help-for-seniors/(opens in a new tab) page.
Can you help me update the nav?

[2020-10-08 16:39] aaronhans commented on #1974
assigned to Hannah for organizational purposes because this looks like a tableau change. Let me know if that was not the right move

[2020-10-08 16:40] aaronhans commented on #1926
put this into in progress because there was some work done on it

[2020-10-08 16:44] aaronhans commented on #1951
Really appreciate that insight @xjensen

The task for this will be to change the user behavior only on large screens where those aren't really links so they:
- don't show clickable icon on hover
- aren't underlined as Peggy suggested
- we need to be careful that they still work as designed currently on mobile

[2020-10-08 16:46] aaronhans commented on #1636
FYI @kenbasart We are doing our own text filtering but we get a lot of false positives now because sometimes the string covid is present in a url linked in the summary. We could upgrade our parsing to focus only on the post title or filter out any HTML to make it more accurate. This might be able to be accomplished pretty quickly.

I don't see a priority on this ticket. It seems like a good thing

[2020-10-08 16:56] aaronhans commented on #1706
To clarify:
- If a user hits the submit button after typing in an activity that we don't have info on we will record that as an event

This seems like a great idea because it can inform us of things we might want to include

What should the GA event look like in this case @traintestbritt ?

We are currently doing:

| Category  | Action | Label |
| ------------- | ------------- | ------------- |
|

[2020-10-08 16:59] aaronhans commented on #1563
This seems outdated. I know several of these things have their own tickets now, some are done.

Can we close this because we've already created tickets for everything still undone we still want @kenbasart or should I help link each of these items to the appropriate tickets so we can be sure?

[2020-10-08 20:24] abquirarte commented on #1636
i agree with Aaron
Angelica Quirarte, "Angie"
Assistant Secretary- Government Operations Agency
c: 916-526-5510
Digital Crisis Standard- covid19.ca.gov
<https://github.com/cagov/covid19/wiki/Crisis-Standard>

Follow us:
Web <https://alpha.ca.gov/> | Blog <https://medium.com/cadotgov> | Twitter
<https://twitter.com/cadotgov>

On Thu, Oct 8, 2020 at 9:47 AM Aaron Hans <notifications@github.com> wrot

[2020-10-08 20:37] #1971 closed

[2020-10-08 21:30] #1943 closed

[2020-10-09 01:25] xjensen commented on #1951
See PR #1985 for possible solution.

[2020-10-09 15:59] kenbasart commented on #1839
Reassigning to @aaronhans per Hannah's notes re: open tickets.

[2020-10-09 16:05] kenbasart opened #1987 "Great Plates extension through Nov. 8"
The Great Plates program has been extended through November 8. Please update the site.

Updated documents attached.
[FINAL_Great Plates Delivered_Program Guidance_07May2020_v20.pdf](https://github.com/cagov/covid19/files/5356089/FINAL_Great.Plates.Delivered_Program.Guidance_07May2020_v20.pdf)
[FINAL_Great Plates Delivered__Local Administrators FAQs_COVID-19_05072020v12.pdf](https://github.com/cago

[2020-10-09 18:07] carterm commented on #1714
Query to retrieve...
`select top 1 * from PRODUCTION.VW_TABLEAU_COVID_METRICS_STATEWIDE order by date desc`

[2020-10-09 18:09] thepegisin commented on #1931
Added to **Industry guidance in other languages** page.

[2020-10-09 18:09] #1931 closed

[2020-10-09 18:10] #1783 closed

[2020-10-09 18:13] #1157 closed

[2020-10-09 20:20] m-sullivan7 commented on #1895
Sent draft content to Jason, Julie, and Brian for review.
[Health equity covid19.ca.gov content - 2020-Oct-9.docx](https://github.com/cagov/covid19/files/5357340/Health.equity.covid19.ca.gov.content.-.2020-Oct-9.docx)

[2020-10-09 22:51] LizNobriga commented on #1930
these are uploaded:tada:

[2020-10-09 23:44] kenbasart opened #1989 "Translated Docs -- Personal Care Guidance PDFs"
Tracking ticket for translated personal care guidance pdfs to be uploaded, received 10/8, uploaded 10/8 by Liz.

[2020-10-09 23:44] #1930 closed

[2020-10-09 23:57] xjensen commented on #1951
This fix is now live.

[2020-10-10 00:18] aaronhans commented on #1392
This has been added to the nav at the end of the Get help section as approved by @ashleydraper. The code change has been pushed to production

[2020-10-10 00:25] kenbasart opened #1990 "Institutions of HIgher Learning -- Translated PDFs"
Renamed PDFs have been added to Google Drive.

[2020-10-10 00:26] kenbasart commented on #1951
Closing per Jon Jensen

[2020-10-10 00:31] abquirarte commented on #1990
thank you!!

Angelica Quirarte, "Angie"
Assistant Secretary- Government Operations Agency
c: 916-526-5510
Digital Crisis Standard- covid19.ca.gov
<https://github.com/cagov/covid19/wiki/Crisis-Standard>

Follow us:
Web <https://alpha.ca.gov/> | Blog <https://medium.com/cadotgov> | Twitter
<https://twitter.com/cadotgov>

On Fri, Oct 9, 2020 at 5:25 PM kenbasart <notifications@github.com> wrote:

[2020-10-12 15:29] aaronhans commented on #1839
This is related to #1706

[2020-10-12 15:31] aaronhans commented on #1916
@kenbasart this seems like a tableau team issue and could have been already fixes, assigning to you for redirection

[2020-10-12 15:43] kenbasart commented on #1951
Following up with @thepegisin re: status. Reopening.

[2020-10-12 15:47] kenbasart commented on #1392
Closing per @aaronhans comment above.

[2020-10-12 15:47] #1392 closed

[2020-10-12 16:21] m-sullivan7 commented on #1202
Have begun loading content into [github wiki](https://github.com/cagov/covid19/wiki/Content-style-guide).

[2020-10-12 16:47] LizNobriga commented on #1990
Translated guidance PDFs for higher education have been uploaded.

[2020-10-12 17:09] kenbasart commented on #1990
PDFs live per Liz, closing ticket

[2020-10-12 17:09] #1990 closed

[2020-10-12 20:12] m-sullivan7 commented on #1202
Style guide upload to [github wiki](https://github.com/cagov/covid19/wiki/Content-style-guide) complete. The style guide is launched and will be updated as needed.

[2020-10-12 20:12] #1202 closed

[2020-10-13 04:47] abquirarte commented on #1916
Are going to start tracking these on JIRA now? or how does the integration work @kenbasart ?

cc: @hannahslee

[2020-10-13 14:16] JasonKarim opened #1996 "Treatment for COVID-19 page: Add couple of Q/As about FDA approval and Emergency Use Authorization (EUA)"
Add couple of questions and answers about FDA approval and Emergency Use Authorization (EUA) in preparation for adding upcoming EUA for COVID-19 monoclonal antibody drugs and coronavirus vaccines

[2020-10-13 15:34] ashleydraper commented on #1987
Extension has been posted.

[2020-10-13 15:34] #1987 closed, assigned to ashleydraper

[2020-10-13 16:17] carterm commented on #1820
Looks like this is ready to deploy.  Shall we push?

[2020-10-13 19:22] thepegisin commented on #1953
10/13/2020: Holidays page published from Nathan Click's edits. Banner linking to it published. Nav addition requested (Jira ticket CCG-119)

[2020-10-14 00:13] abquirarte commented on #1944
We are not removing this. Thank you! @JasonKarim !

[2020-10-14 00:53] #1944 closed

[2020-10-14 05:27] abquirarte commented on #1996
✔️ reviewed by AQ @JasonKarim

[2020-10-14 17:38] #1953 closed

[2020-10-14 18:01] carterm commented on #1948
I don't know what this is.  What's a CTA?

[2020-10-14 18:03] carterm commented on #1714
PR to add stats updates to wordpress process.
https://github.com/cagov/wordpress-integration-api/pull/52

[2020-10-14 18:04] kenbasart commented on #1948
@hannahslee see above can you clarify for Carter please?

[2020-10-14 18:04] kenbasart commented on #1948
@carterm but CTA is "Call To Action" so a button or link to reach the page

[2020-10-14 18:42] LizNobriga commented on #1900
This PDF was updated as noted above, and the date in the accordion title was changed to: Higher education - **updated October 1**. SMEs did not request edits to tier status content within the Higher education accordion.

[2020-10-14 18:44] LizNobriga commented on #1889
Updating the status - we are still awaiting this guidance.

[2020-10-14 22:30] JasonKarim opened #2039 "Symptoms & risks page: Adding a Q/A about risk of children becoming sick with COVID-19"
Parents of children going back to school pointed out in a PTA meeting that COVID19.CA.GOV website does not address the risk of children getting sick with COVID-19. Hence the addition of [Q/A from CDC website](https://www.cdc.gov/coronavirus/2019-ncov/faq.html#Children) with light edits.

- [x] Content drafted

- [x] Reviewed by @thepegisin

- [ ] Approved by @abquirarte

[2020-10-14 23:36] abquirarte commented on #2039
Thank you! where are you adding this?

Angelica Quirarte, "Angie"
Assistant Secretary- Government Operations Agency
c: 916-526-5510
Digital Crisis Standard- covid19.ca.gov
<https://github.com/cagov/covid19/wiki/Crisis-Standard>

Follow us:
Web <https://alpha.ca.gov/> | Blog <https://medium.com/cadotgov> | Twitter
<https://twitter.com/cadotgov>

On Wed, Oct 14, 2020 at 3:30 PM JasonKarim <notificat

[2020-10-15 00:07] JasonKarim commented on #2039
Symptoms & risks page
<https://docs.google.com/document/d/1z0oUjoknPaM2_VffV4rCO3CgJ3-F6taYVdvPFHAiNyc/edit#>(State
at the beginning of the title)

Karim
CHHS Office of Innovation
Ph. 916-214-6311

On Wed, Oct 14, 2020 at 4:36 PM abquirarte <notifications@github.com> wrote:

[2020-10-16 16:59] #1717 closed

[2020-10-17 13:11] #2039 closed

[2020-10-19 13:32] JasonKarim opened #2074 "Health care page: Update Q/A, "How is the state protecting incarcerated people in California?""
This Q/A is moved from [Local info page](https://covid19.ca.gov/get-local-information/) onto the [Health care page](https://docs.google.com/document/d/1L7NZ90FdqaSnQSzfdOpttJEfyBqXFxgHBsmcUAw2ac8/edit#heading=h.gqjmrioo4dok) at Peggy’s request. Content of the Q/A does not match with COVID-19 Preparedness information at CDCR website. Q/A is revised to make it consistent with CDCR/CCHCS website.

-

[2020-10-19 19:01] JasonKarim opened #2076 "Treatment for COVID-19 Page: Add a Vaccination Planning Section to align with CDPH and CDC."
Vaccination planning section is added to the [Treatment for COVID-19 page](https://docs.google.com/document/d/1gG-LR-_1SzuLowylaYQObZyXZ14yQIkaLuba2dbW_iM/edit#) in preparation for potential COVID-19 vaccines and to align with CDPH & CDC.

- [x]  Content drafted

- [ ] Reviewed by @thepegisin

[2020-10-20 00:44] #1820 closed

[2020-10-21 13:39] #1810 closed

[2020-10-21 19:04] #1996 closed

[2020-10-21 19:44] #2076 closed

[2020-10-21 20:13] #2074 closed

[2020-10-22 18:48] m-sullivan7 commented on #1795
Edits published to production.

[2020-10-22 18:48] #1795 closed

[2020-10-30 19:41] kenbasart commented on #1840
Done. Jira ticket https://digital-ca-gov.atlassian.net/browse/CCG-122

[2020-10-30 19:41] #1840 closed

[2020-10-30 19:43] kenbasart commented on #1948
Verified done

[2020-10-30 19:43] #1948 closed

[2020-10-30 19:44] #1722 closed

[2020-10-30 19:44] #1851 closed

[2020-10-30 19:45] kenbasart commented on #1889
Closing as duplicate with Jira -- issue still open.

[2020-10-30 19:45] #1889 closed

[2020-10-30 19:46] kenbasart commented on #1916
New ticket will be created in Jira -- issue is still open but we have received guidance. Closing as out-of-date.

[2020-10-30 19:46] #1916 closed

[2020-10-30 19:49] kenbasart commented on #1636
@aaronhans this was resolved, wasn't it?

[2020-10-30 19:51] #1686 closed

[2020-10-30 19:52] kenbasart commented on #1927
Closing as duplicate with https://digital-ca-gov.atlassian.net/browse/CCG-126

[2020-10-30 19:52] #1927 closed

[2020-10-30 22:18] kenbasart commented on #1823
Addressed with new design of matrix.

[2020-10-30 22:18] #1823 closed

[2020-10-30 22:19] kenbasart commented on #1089
New tickets created in Jira with new work. Closing ticket.

[2020-10-30 22:19] #1089 closed

[2020-10-30 22:23] kenbasart commented on #1926
Closing as duplicate with https://digital-ca-gov.atlassian.net/browse/CCG-188

[2020-10-30 22:23] #1926 closed

[2020-10-30 22:25] kenbasart commented on #1855
Closing as duplicate with https://digital-ca-gov.atlassian.net/browse/CCG-125

[2020-10-30 22:25] #1855 closed

[2020-10-30 22:26] kenbasart commented on #1714
Live per Carter comment above.

[2020-10-30 22:26] #1714 closed

[2020-10-30 22:28] kenbasart commented on #1842
Closing as duplicate with https://digital-ca-gov.atlassian.net/browse/CCG-124

[2020-10-30 22:28] #1842 closed

[2020-10-30 22:28] kenbasart commented on #1902
Closing as duplicate -- tracked in Jira per Liz.

[2020-10-30 22:28] #1902 closed

[2020-10-30 22:29] kenbasart commented on #1562
Closing as obsolete -- new Avantpage issues tracked in Jira

[2020-10-30 22:29] #1562 closed

[2020-11-06 19:01] m-sullivan7 commented on #1895
Closing this issue as it is now being tracked in Jira: https://digital-ca-gov.atlassian.net/browse/CCG-75

[2020-11-06 19:01] #1895 closed

[2020-11-06 19:01] m-sullivan7 commented on #1938
Closing this issue as it is now being tracked in Jira: https://digital-ca-gov.atlassian.net/browse/CCG-93

[2020-11-06 19:01] #1938 closed

[2020-11-19 23:42] aaronhans commented on #959
completed

[2020-11-19 23:42] #959 closed

[2020-11-19 23:43] #946 closed

[2020-11-19 23:50] #1299 closed

[2020-11-19 23:50] #1178 closed

[2020-11-19 23:51] #1159 closed

[2020-11-19 23:51] #1065 closed

[2020-11-19 23:52] #977 closed

[2020-11-20 00:00] aaronhans commented on #227
CCG-641

[2020-11-20 00:00] #227 closed

[2020-11-20 00:02] aaronhans commented on #944
CCG-642

[2020-11-20 00:02] #944 closed

[2020-11-20 00:03] aaronhans commented on #960
CCG-642

[2020-11-20 00:03] #960 closed

[2020-11-20 00:21] aaronhans commented on #953
CCG-643

[2020-11-20 00:21] #953 closed

[2020-11-20 00:23] aaronhans commented on #954
CCG-644

[2020-11-20 00:23] #954 closed

[2020-11-20 00:23] #957 closed

[2020-11-20 00:24] aaronhans commented on #956
CDT is taking ownership of this, we are aligned on retiring unnecessary app services

[2020-11-20 00:24] #956 closed

[2020-11-20 00:24] aaronhans commented on #798
will create new tickets for this after migration to new CDN is complete

[2020-11-20 00:24] #798 closed

[2020-11-20 00:24] #1354 closed

[2020-11-20 00:25] aaronhans commented on #1331
this problem did not reoccur, the way we push files here is pretty standard, will reopen if delay occurs again, in the meantime getting redirects working is a higher priority

[2020-11-20 00:25] #1331 closed

[2020-11-20 00:26] aaronhans commented on #1320
this process still sucks but we are reevaluating pdf usage and management, this ticket is obsolete

[2020-11-20 00:26] #1320 closed

[2020-11-20 00:27] aaronhans commented on #952
CCG-645

[2020-11-20 00:27] #952 closed

[2020-11-20 00:31] aaronhans commented on #910
CCG-646

[2020-11-20 00:31] #910 closed

[2020-11-20 00:32] #801 closed

[2020-11-20 00:32] #987 closed

[2020-11-20 00:32] #1086 closed

[2020-11-20 00:32] #1275 closed

[2020-11-20 00:32] #1177 closed

[2020-11-20 00:32] #1298 closed

[2020-11-20 00:32] #1297 closed

[2020-11-20 00:32] #1293 closed

[2020-11-20 00:32] #1294 closed

[2020-11-20 00:32] #1295 closed

[2020-11-20 00:32] #1296 closed

[2020-11-20 00:32] #1321 closed

[2020-11-20 00:32] #1358 closed

[2020-11-20 00:33] #1401 closed

[2020-11-20 00:34] #1951 closed

[2020-11-20 00:34] #1925 closed

[2020-11-20 00:34] #1928 closed

[2020-11-20 00:34] #1929 closed

[2020-11-20 00:34] #1968 closed

[2020-11-20 01:49] #1636 closed

[2020-11-20 01:49] #1573 closed

[2020-11-20 01:50] #1565 closed

[2020-11-20 01:50] #1343 closed

[2020-11-20 01:50] #1424 closed

[2020-11-20 01:50] aaronhans commented on #1419
service retired

[2020-11-20 01:50] #1419 closed

[2020-11-20 01:52] aaronhans commented on #1839
CCG-123

[2020-11-20 01:52] #1839 closed

[2020-11-20 01:52] #1563 closed

[2020-11-20 01:53] #312 closed

[2020-11-20 01:54] #357 closed

[2020-11-20 01:57] #1923 closed

[2020-11-20 01:57] aaronhans commented on #1922
CCG-123

[2020-11-20 01:57] #1922 closed

[2020-11-20 01:58] #388 closed

[2020-12-15 01:37] tallguyjenks commented on #1831
Events / Gatherings?

Both point to close proximity of people v.s. focusing on what those people are doing (activity) thereby drawing attention away from the focus: Reducing infection vectors by minimizing gatherings and events.

or is this off base?

[2021-01-11 16:57] #1750 closed

[2021-01-11 16:57] #1673 closed

[2021-01-11 16:57] #1662 closed

[2021-01-11 16:58] #1860 closed

[2021-01-11 16:58] m-sullivan7 commented on #1974
Being tracked in JIRA.

[2021-01-11 16:58] #1974 closed

[2021-01-20 17:43] #715 closed

[2021-01-20 17:44] #1386 closed

[2021-01-20 17:45] #1402 closed

[2021-01-20 17:45] #1446 closed

[2021-01-20 17:46] #1500 closed

[2021-01-20 17:47] #1700 closed

[2021-01-20 17:47] #1699 closed

[2021-01-20 17:47] #1731 closed

[2021-01-20 17:48] #1814 closed

[2021-01-20 17:48] #1815 closed

[2021-01-20 17:49] #1644 closed

[2021-01-20 17:51] #1989 closed

[2021-01-20 17:51] #1900 closed

[2021-01-20 17:52] #1642 closed

[2021-01-20 17:52] #1621 closed

[2021-01-20 17:55] #1364 closed

[2021-01-20 17:55] #1506 closed

[2021-01-20 17:55] #796 closed

[2021-01-20 17:56] #595 closed

[2021-01-20 17:56] #556 closed

[2021-01-20 17:56] #546 closed

[2021-01-20 17:58] #517 closed

[2021-01-20 17:58] #308 closed

[2021-01-20 17:58] #400 closed

[2021-01-20 17:59] #145 closed

[2021-01-20 18:30] #1963 closed

[2021-01-20 18:34] #1856 closed

[2021-01-20 18:35] #1832 closed

[2021-01-20 18:36] #1824 closed

[2021-01-20 18:36] #1735 closed

[2021-01-20 18:43] #877 closed

[2021-01-20 18:44] #794 closed

[2021-01-20 18:44] #787 closed

[2021-01-20 18:44] #608 closed

[2021-01-20 18:44] #462 closed

[2021-01-20 18:45] #352 closed

[2021-01-20 18:45] #906 closed

[2021-01-20 18:45] #1035 closed

[2021-01-20 18:46] #1154 closed

[2021-01-20 18:46] #1175 closed

[2021-01-20 18:46] #1279 closed

[2021-01-20 18:46] #1339 closed

[2021-01-20 18:54] #1325 closed

[2021-01-20 18:55] #1380 closed

[2021-05-24 20:53] wrendo opened #4521 "Ignore: Just running a test"
Ipsum Lorem

[2021-05-24 20:53] #4521 closed

[2021-07-19 22:50] m-sullivan7 opened #4908 "Variants page - content development"
Current scope:

CDPH will continue to host its current content on variants. The COVID-19 site will host a chart showing the percentage of each variant over time. This chart will be hosted in an existing data page.

_Old scope:
CDPH is thinking about how they will report on COVID-19 variants. They currently have a [page on the topic](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/COVID-Va

[2021-07-19 22:52] m-sullivan7 commented on #4908
Previous comment, brought over from Jira:

- There's been steady interest in variants. There was a small spike around June 24. I checked when LA issues its mask guidance over Delta and that wasn't until June 28 or 29. Since then, we've been at roughly 1 comment about variant data per day.
-  We've had an equivalent number of comments in vaccinated vs unvaccinated data. People definitely want to kn

[2021-07-19 22:53] m-sullivan7 commented on #4908
[Google Doc with draft content](https://docs.google.com/document/d/1zyCPMnHAeZdQVXP2QFGgQlN4EyX40piqriGwIk0QUtQ/edit?usp=sharing)

[2021-07-19 22:58] m-sullivan7 opened #4909 "Archive Help for immigrants"
Before archiving:

- [x] Remove from navigation
- [x] Check for links to the page
- [x] Create redirects
- [x] Remove from per page feedback filters
- [x] Alert developers by creating a Jira ticket

[Full process available in internal docs](https://teamdocs.covid19.ca.gov/teams/content/editing.html#archiving-content)

This archiving is driven by reducing content around the green tier. This removal

[2021-07-19 23:04] m-sullivan7 commented on #4909
Relevant Google Docs:

- [Highlights of current page to ensure nothing gets missed](https://docs.google.com/document/d/15hfEH0F3rRGfwoHeHoff_YtMNMGQLf97mpywygbdziY/edit?usp=sharing)
- [Suggestions for CDT team maintaining immigrant guide solution](https://docs.google.com/document/d/1LI-Z9LfCGX46UVNv9OtJMmjpPnzMIqRZDRbDWpuDpHQ/edit?usp=sharing)

[2021-07-20 16:05] mediajunkie commented on #269
was this ever addressed?

[2021-07-20 16:07] #1765 closed

[2021-07-20 16:07] m-sullivan7 opened #4912 "Data and tools: variants info"
Update the [Data and tools](https://covid19.ca.gov/data-and-tools/) page with information about variant data, as well as the [Variants](https://staging.covid19.ca.gov/variants/) page itself.

[2021-07-20 16:08] #1229 closed

[2021-07-20 17:52] mediajunkie commented on #4908
Your edits look good to me and the explanations make sense. I added one comment, a question about how familiar the "public charge" terminology (and its implications are) for the audience of this page.

[2021-07-22 16:12] m-sullivan7 opened #4920 "State dashboard: navigation updates"
Per page feedback from July 13 to July 21 showed that significant numbers of visitors are not finding:

- County data
- Link to vaccination data
- Age breakdowns

This information is all on the site. This ticket is to improve the navigation of the page to make it easier for people to find this info.

[2021-07-22 18:02] m-sullivan7 opened #4921 "State dashboard: Vaccinated vs. unvaccinated data content"
Per @mediajunkie "no. 1 top priority from Dr. Pan's office right now is to report cases (and hospitalization and deaths) in terms of vaxed vs. unvaxed. ...but first cases"

This ticket is for creating content to support that, presumably on the state dashboard page.

[Draft Google Doc](https://docs.google.com/document/d/1daoUhuRyU0uq42SGuO0uYKPDT1TCcOxT0wQ6Lydzqeo/edit?usp=sharing)

[2021-07-23 21:57] m-sullivan7 opened #4924 "Equity page"
The health equity page contains references to the Blueprint for a Safer Economy, which is no longer in effect.

![image](https://user-images.githubusercontent.com/69169190/126845426-c5deab67-4210-4ede-9091-7656033d84d4.png)

This ticket is to remove these references.

[2021-07-23 22:19] m-sullivan7 commented on #4924
@mediajunkie Liz helpfully pointed out that the equity page got missed in our June 15 updates. OK to remove the language I've deleted in suggested mode in this [Google Doc](https://docs.google.com/document/d/1r7o9Huf8AiJfAjluhz6YR7EL22OjIxSJChHNGRxbp-0/edit?usp=sharing)?

[2021-07-26 15:44] m-sullivan7 opened #4933 "7/26 governor briefing"
Update homepage video section with YouTube link to governor's briefing. Remove at the end of the day.

[2021-07-26 16:20] LizNobriga opened #4935 "Get financial help - Golden State Stimulus update"
Bringing over from Jira
Golden State Stimulus (GSS) program is expanding (e.g., [GSS II](https://www.ftb.ca.gov/about-ftb/newsroom/golden-state-stimulus/gss-ii.html)) and info has been updated on FTB

See [Google doc with draft edits](https://docs.google.com/document/d/1pnfEvDK2d-8JK6cBomnYH1NB0oOLe1vSTcuYT6E0ot8/edit#)

- Michael and Christian have reviewed
- Edits with @abquirarte for review

[2021-07-26 16:41] LizNobriga opened #4936 "Education - updates"
Edits will:
- Add link to [Resources for Colleges & Universities to Reduce COVID Risk](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Resources-for-Colleges-Universities-to-Reduce-COVID-Risk.aspx) (released 7/15/21)
- Improve readability of lead class text and content in Higher education section
- Add link to [K-12 Schools Guidance 2021-2022 Questions & Answers](https://www.cdph.ca.gov/P

[2021-07-26 21:52] LizNobriga opened #4937 "Safely reopening - update to Current safety measures"
- People aren't looking for _Safely reopening_ anymore because that has passed
- Refresh page so users can find the current safety measures in place

Proposed edits include:
- Renaming page to _Current safety measures_
- Changing order of sections to reflect what's most relevant now (move reopening and BTB stuff down the page)
- Improving readability throughout
- Changes to menu navigation

See [e

[2021-07-26 22:05] LizNobriga commented on #4937
FYI @thepegisin

[2021-07-26 22:09] LizNobriga commented on #4937
Hi @mediajunkie. Can you review the edits that @thepegisin and I have proposed to update _Safely reopening_?

You can leave questions and suggestions directly in the google doc, or lmk if it would help to have a quick discussion about updating this page.

Thank you!!

[DRAFT FOR REVIEW](https://docs.google.com/document/d/1iEHsf9KTCTCFzXYFWlKu_4FdckCOqPqDGzMMYy3DDB4/edit)

[2021-07-26 23:30] m-sullivan7 commented on #4933
Removed the video and replaced it with the evergreen video. Closing this issue as fully done.

[2021-07-26 23:30] #4933 closed

[2021-07-26 23:38] mediajunkie commented on #4924
Yes, please do!

[2021-07-26 23:45] m-sullivan7 commented on #4920
Reassigning this to @mediajunkie for shepherding through any stakeholder approvals.

[2021-07-26 23:50] m-sullivan7 commented on #4924
I removed the content from the website and confirmed it's off the public site. Closing this ticket.

[2021-07-26 23:50] #4924 closed

[2021-07-27 00:27] LizNobriga opened #4939 "Workers and businesses: add financial help available to businesses"
People looking for grants, small biz relief, ca relief grants program, loans, etc. in PPF.
Some programs are still available, like EIDL.
- [U.S SBA COVID-19 guidance & resources](https://www.sba.gov/page/guidance-businesses-employers-plan-respond-coronavirus-disease-2019-covid-19?utm_medium=email&utm_source=govdelivery) - Status of all covid relief programs offered through U.S. SBA

[DRAFT EDITS](

[2021-07-27 00:51] LizNobriga commented on #1859
Closing this ticket - very old, no longer relevant

[2021-07-27 00:52] #1859 closed

[2021-07-27 15:42] m-sullivan7 opened #4944 "7/27 governor press conference"
Update homepage video section with YouTube link to governor's briefing. Remove at the end of the day.

[2021-07-27 19:27] abquirarte commented on #4937
These are great! I added some comments. I think we'll need to route by GO to make sure we are consistent with their messaging. LMK when you think we are ready to route for approvals @mediajunkie @LizNobriga @thepegisin

[2021-07-27 20:27] m-sullivan7 commented on #4909
Checked in with Gina at the governor's office about public charge rule information to move to the Immigrant Guide page.

[2021-07-27 20:41] m-sullivan7 commented on #4909
@mediajunkie [one more review](https://docs.google.com/document/d/1LI-Z9LfCGX46UVNv9OtJMmjpPnzMIqRZDRbDWpuDpHQ/edit?usp=sharing) (specifically of the public charge section) in light of Gina's response.

[2021-07-27 22:38] abquirarte commented on #4935
@LizNobriga good with these.

[2021-07-27 23:29] m-sullivan7 commented on #4944
Removed video at the end of the day.

[2021-07-27 23:29] #4944 closed

[2021-07-28 00:06] LizNobriga commented on #4937
Responded to all comments. Any final thoughts? @mediajunkie @thepegisin @abquirarte

[2021-07-28 00:21] LizNobriga commented on #4935
These edits are published.

[2021-07-28 00:21] #4935 closed

[2021-07-28 00:44] LizNobriga opened #4946 "Workers and businesses: vaccine verification and testing requirements for some workplaces"
New state public health order requires workers in healthcare and congregate settings to verify vaccination status or get tested regularly. Same for state workers.

- [State public health order](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Order-of-the-State-Public-Health-Officer-Unvaccinated-Workers-In-High-Risk-Settings.aspx) for healthcare facilities and congregate settings like seni

[2021-07-28 00:45] LizNobriga commented on #4946
@m-sullivan7 Can you review the [draft edits](https://docs.google.com/document/d/1NbYh1TnzBV7uDh-6SUXpWD0YbkBc1TWwLeL9yId8sqM/edit#)?

[2021-07-28 14:38] mediajunkie opened #4951 "Community public art map"
epic-level issue for this project (from the Main ODI board)

[one pager](https://docs.google.com/document/d/1wi4jI8JWU8ehYjZ8MFd4ZWxzaPlK3OGriG4hvOHImII/edit)

[2021-07-28 14:41] #4951 closed

[2021-07-28 16:09] m-sullivan7 commented on #4946
Reviewed! Also, feel free to assign a git ticket to me when you'd like me to review it. 🙂

[2021-07-28 17:18] LizNobriga opened #4965 "Food resources: CA P-EBT website"
These _Food resources_ edits will:
- Add the link to the new CA Dept of Social Services' Pandemic-EBT website ([https://capandemic-ebt.org/](https://capandemic-ebt.org))
  - Reduce duplicative content now easily found on new P-EBT site
- Rename the current H2 for "Families with school-aged children" to "Families with children" (because P-EBT now includes 0-6 year olds that are not school-aged)
- M

[2021-07-28 17:22] LizNobriga opened #4966 "Get financial help: FEMA financial assistance for funerals"
### NOTE: This ticket is being addressed in #4990

Add info about [FEMA funeral assistance](https://www.fema.gov/disaster/coronavirus/economic/funeral-assistance) to _Get financial help_ based on page feedback

[2021-07-28 17:26] LizNobriga opened #4967 "Get financial help: paying covid medical expenses"
People are looking for help with paying medical/health related expenses on _Get financial help_. From PPF:
- Health care coverage for covid
- Financial help with bills from side effects of covid covered?
- Help to pay medical bills
- Undocumented covid19 emergency care
7/26-8/1 pdf:
- I need help finding a doctor
- Ambulance payment relief
- Health insurance
- I want to go to the hospital urgently

[2021-07-28 17:29] LizNobriga opened #4968 "Get financial help: people without housing"
### NOTE: This ticket is being addressed in #4990

Californians without permanent housing are looking for what's available on _Get financial help_:

7/26-8/1 PPF:
- There's no resources for homeless families
- I am now homeless and trying to get help. I am in a motel room at the moment but I can’t afford to continue. I just turned 69 years old and I have asthma and cops, I lived in my van for a wh

[2021-07-28 17:37] LizNobriga commented on #4946
@mediajunkie @abquirarte  Could you review the [draft edits](https://docs.google.com/document/d/1NbYh1TnzBV7uDh-6SUXpWD0YbkBc1TWwLeL9yId8sqM/edit#)?

[2021-07-28 23:03] mediajunkie opened #4969 "Things start out as notes"
now this one is an issue

[2021-07-28 23:41] mediajunkie opened #4970 "Update Data 3.0 one-pagers"
There are three of them, grouped under this summary page: [Data 3.0 (one pager)](https://docs.google.com/document/d/1V1VE-KunKvvWDQKoLR2RpqNOjBZx4jqbxEzc5CSgudk/edit):

- [ ] [Cases by vax status](https://docs.google.com/document/d/1OGVRkTSgRy-BGWhC4HZHsc5iRKzL2oCY9UD1y5VbwGU/edit)
- [ ] [Variants page](https://docs.google.com/document/d/1YmgWRkw8fgThkYpT8Dp3UIw5OJSNf37sBmfQmXIgQ28/edit)
- [ ] [Tr

[2021-07-29 00:45] thepegisin opened #4971 "Readability edit and added content on *State response* page"
While I was on vacation, Michael and Liz did a readability edit of a portion of the drought.ca.gov **State response** page and left it in draft: https://docs.google.com/document/d/1cp7ujkAzTFpX1_Depm8Fcfrj3ruMItLqt4T39uoRKhg/edit

See what other readability edits to make to the page, then run it by stakeholders.

There is also some content sent by Heather Williams to incorporate.

[2021-07-29 15:09] LizNobriga commented on #4946
These edits are live.

[2021-07-29 15:09] #4946 closed

[2021-07-29 16:56] LizNobriga commented on #4936
@m-sullivan7 Could you do an initial review? [Edits in google doc](https://docs.google.com/document/d/1xMzjiasenpZe6D7nrhXS9_0Sj5woLTf-8BPk9qaYRJo/edit#)

[2021-07-29 17:56] mediajunkie opened #4976 "Remaining example charts for CDPH science branch review"
Referring to [this deck](https://docs.google.com/presentation/d/1UMZc7zWMejU3SxcJwo9MbPk4YubSRNA2mNgl8bOue-8/edit):

- [ ] Slides 5, 7, 8, 15 and 24 but with vaxed on the bottom
- [ ] Slide 8, but for hospitalizations & deaths
- [ ] Slides 9, 16, and 21 but with zero at the center, vaxed pointing left, unvaxed pointing right

[2021-07-29 17:57] m-sullivan7 commented on #4936
@LizNobriga I left some edits. I noticed that the reading level is up at 10 with my edits, but Hemingway is pretty clean with those edits. It would probably take some deep work to get the reading level down, but I thought I'd flag it. 🙂

[2021-07-29 17:59] mediajunkie commented on #4920
is the relevant document linked to this issue? I can find it from email threads most likely but just checking?

[2021-07-29 18:00] mediajunkie commented on #4920
I think it's [this doc](https://docs.google.com/document/d/1daoUhuRyU0uq42SGuO0uYKPDT1TCcOxT0wQ6Lydzqeo/edit), please confirm?

[2021-07-29 18:11] m-sullivan7 commented on #4920
I must have passed it along outside of github while navigating the switchover.

For the navigational changes, it's this Google Doc: [State dashboard 2021-7-23 organization changes](https://docs.google.com/document/d/1bL-orOeOTtaYVXNqoIt_L1A92dn6F467mi5EVWy8Kes/edit?usp=sharing). It's got a summary of changes at the top to help stakeholders/you in review (the other doesn't right now).

[2021-07-29 18:23] mediajunkie commented on #4920
thank you!

[2021-07-29 18:26] mediajunkie commented on #4920
These look ready for stakeholder review to me. Checking with @abquirarte for who needs to approve.

[2021-07-29 18:37] mediajunkie opened #4977 "ODP/Data Dictionary updates to Data & Tools page for Health Equity charts"
This is a pending jira task, [CCG-2008](https://digital-ca-gov.atlassian.net/browse/CCG-2008) - more specifically subtask [CCG-2079](https://digital-ca-gov.atlassian.net/browse/CCG-2079), that may still have steps left to do:

- [x] review section with CIO office and data stewards
- [x] Get tables added to ODP (ask Sam Hayashi and Scott Christman)
- [x] Keep Will Wheeler informed
- [x] Verify upda

[2021-07-29 18:53] mediajunkie opened #4978 "Add dataset level date stamps to the first two Health Equity charts"
Right now only the third and fourth charts on the [Health equity](https://covid19.ca.gov/equity/) have date stamps in their notes:
![image](https://user-images.githubusercontent.com/3227378/127549474-db826f8b-078a-4634-a2a5-7b2389812fda.png)
and
![image](https://user-images.githubusercontent.com/3227378/127549502-13eed5fd-ec96-46cb-9585-c8f695d9e3a1.png)

We need to add similar dynamic “updated on

[2021-07-29 19:04] mediajunkie commented on #4920
@m-sullivan7 please go ahead and stage & I will submit for approval. (Angie took a look and told me to "share track-change version, staged version, a summary of what changed/ and why, then tell them when we plan to publish."

All I need to do that is the staged version, as you've provided the rest, thanks!

[2021-07-29 19:05] mediajunkie commented on #4920
(assigning to you, plz reassign to me when done)

[2021-07-29 19:18] mediajunkie commented on #4937
i don't know if mentioning us all made us assignees but let's try to keep tickets assigned to only one person at a time, plz!

[2021-07-29 19:20] mediajunkie commented on #4909
looking now...

[2021-07-29 19:21] mediajunkie commented on #4909
Looks good to me. Ready to share with Art!

[2021-07-29 19:23] mediajunkie commented on #4909
(reassigned to ticket to you) -- please move it to the External review column when appropriate.

[2021-07-29 19:31] LizNobriga commented on #4937
Will do

[2021-07-29 19:32] LizNobriga commented on #4937
Update: this is with @thepegisin to update the Masks section

[2021-07-29 19:58] LizNobriga commented on #4936
@mediajunkie Could you review the [proposed edits](https://docs.google.com/document/d/1xMzjiasenpZe6D7nrhXS9_0Sj5woLTf-8BPk9qaYRJo/edit#) next?

[2021-07-29 21:59] mediajunkie opened #4979 "Upgrade global hamburger menu to ribbon that shows menu names"
We've wanted to do this for a while and there's no reason not to get it done now.

![Menu 3](https://user-images.githubusercontent.com/69167298/131573651-f575f734-82c7-4adf-ad9a-83145329d445.png)

[2021-07-29 23:25] LizNobriga commented on #4936
@m-sullivan7 I made changes to the K-12 section. Can you review that part again?

[2021-07-30 00:27] mediajunkie opened #4980 "Trackerbox 3.0"
[Trackerbox 3.0 (one pager)](https://docs.google.com/document/d/12p4ceHBXeG2TJOEhf4KJebO5Ndw7BqCFsDnr-9zNKY8/edit)

[2021-07-30 00:29] mediajunkie opened #4981 "New "Variants" page - charts (data & eng)"
[(one pager)](https://docs.google.com/document/d/1YmgWRkw8fgThkYpT8Dp3UIw5OJSNf37sBmfQmXIgQ28/edit)

![image](https://user-images.githubusercontent.com/3227378/128264301-44cbd233-3adb-4ec4-8b6b-5c0ab2a2dc94.png)

Critical path right now is data hygiene.

[2021-07-30 00:30] #1845 closed

[2021-07-30 00:30] #1936 closed

[2021-07-30 00:30] mediajunkie opened #4982 "Cases by vax status"
- [one pager](https://docs.google.com/document/d/1OGVRkTSgRy-BGWhC4HZHsc5iRKzL2oCY9UD1y5VbwGU/edit)

![image](https://user-images.githubusercontent.com/3227378/128762297-a332f454-5ad0-466e-9406-8523e543ee81.png)

- [x] @adam-little to iterate on Jim's chart concepts
- [x] @mediajunkie  to work out chart selection process with CDPH
- [x] [prototype #5309](https://github.com/cagov/covid19/issues/503

[2021-07-30 00:36] mediajunkie commented on #4936
edits look good to me

[2021-07-30 15:52] m-sullivan7 commented on #4936
Yes, good here too! Just found a couple extraneous spaces.

[2021-07-30 16:02] LizNobriga commented on #4939
@m-sullivan7 Could you do an initial review of these [edits](https://docs.google.com/document/d/1NbYh1TnzBV7uDh-6SUXpWD0YbkBc1TWwLeL9yId8sqM/edit#)?

[2021-07-30 16:16] LizNobriga commented on #4936
@abquirarte Could you review these edits next? Michael and Christian have both reviewed.

[DRAFT EDITS](https://docs.google.com/document/d/1xMzjiasenpZe6D7nrhXS9_0Sj5woLTf-8BPk9qaYRJo/edit#)

[2021-07-30 16:24] m-sullivan7 commented on #4939
Just a couple. Looks pretty straight forward thus far!

[2021-07-30 16:52] m-sullivan7 opened #4989 "State dashboard anchor link visual improvements"
As part of https://github.com/cagov/covid19/issues/4920, we propose adding a page index and anchor links to the state dashboard to help people find information on the site. Per page feedback indicates some users are not finding information on the page.

Our method of adding anchor links is to add separators between sections and assign the anchor link to the separator. This provides some breathing

[2021-07-30 17:18] LizNobriga commented on #4939
@mediajunkie Could you review these [edits](https://docs.google.com/document/d/1NbYh1TnzBV7uDh-6SUXpWD0YbkBc1TWwLeL9yId8sqM/edit#)?

[2021-07-30 19:44] LizNobriga opened #4990 "Get financial help: updates"
Edits to:
- Update eviction protection content
- Improve readability of CA covid-rent relief content
- add link to financial help for businesses
- add link for worker benefits
- add link to FEMA funeral assistance (#4966)
- add content for homeless (#4968)
- consolidate links for "more help" into set of six buttons at end of page (this helps us keep the Page Index to our preferred max of six ancho

[2021-07-30 22:25] m-sullivan7 commented on #4920
New version published.

[2021-07-30 22:25] #4920 closed

[2021-07-31 00:07] aaronhans opened #4992 "GA record click events on in page links"
Link clicks occuring on in page anchor links don't seem to be recorded.

We have TOC sections at the top of pages on covid. We should record click events on these type of events so we can determine how often people follow those links

[2021-07-31 00:10] mediajunkie commented on #4992
@traintestbritt what is the best way to request this setup?

[2021-08-02 16:44] thepegisin opened #5000 "Housing for agricultural workers update"
The *Housing for the Harvest* program no longer offers housing. Working with the stakeholder to update page so it stops appearing to offer housing. Working with Kirsten Raschko at DSS and original stakeholder, Jay Van Rein at CDFA.

[2021-08-02 17:08] mediajunkie commented on #4939
These look clear and uncontroversial to me. Unless there's something in here that's trickier than it looks, this all seems fine.

[2021-08-02 19:10] LizNobriga commented on #4939
Reviewed and approved by Angie (via slack).

[2021-08-02 19:11] LizNobriga commented on #4939
Edits ready [in staging](https://staging.covid19.ca.gov/workers-and-businesses/#financial-help-businesses)

[2021-08-02 19:21] LizNobriga commented on #4939
Edits approved to publish via slack.

[2021-08-02 19:33] LizNobriga commented on #4939
Edits are live

[2021-08-02 19:33] #4939 closed

[2021-08-02 19:34] LizNobriga commented on #4936
Angie has reviewed and given initial approval via slack. The next step is for stakeholders (CDPH and GO Legal) to review. Assigning to @mediajunkie.

[2021-08-02 23:25] traintestbritt commented on #4992
Hi Xian, this way works! Can you provide more context, please? Certain
click events are usually captured so I need to know what clicks and what
page. Also, when is this needed?

On Fri, Jul 30, 2021 at 5:10 PM Christian Crumlish ***@***.***>
wrote:

[2021-08-03 00:19] traintestbritt commented on #4992
@mediajunkie your comment came through via email and it didn't show me the whole thread, but now that I am here I have all of the context. I am still misunderstanding exactly what needs to be recorded, unfortunately. I'd want to double-check that @thepegisin's ask isn't already captured in existing analytics and just needs to be surfaced. Can someone explain to me what needs to be captured, please

[2021-08-03 00:24] mediajunkie commented on #4978
(testing to see if mentioning @jbum "adds" him to the ticket)

[2021-08-03 00:25] mediajunkie commented on #4978
ok it didn't but temporarily sharing the assignment with jim added him to the "involved" list:
![image](https://user-images.githubusercontent.com/3227378/127939272-80bc849c-ac4b-45ab-8998-9a320feb607b.png)

[2021-08-03 00:32] aaronhans commented on #4992
Creating a table of content with links to sections of the page is a common practice on covid19 site now. This is also used on cannabis. On cannabis we have the links in the left sidebar instead. Here is a screenshot of a set of on page anchor links on the covid site.

<img width="967" alt="Screen Shot 2021-08-02 at 5 29 11 PM" src="https://user-images.githubusercontent.com/353360/127939628-12ed327

[2021-08-03 00:57] mediajunkie commented on #4992
Thanks for that context, Aaron!

[2021-08-03 16:07] #1798 closed

[2021-08-03 16:26] traintestbritt commented on #4992
Ahh, I understand now! Thank you for clarifying @aaronhans. You're right, we have no way of tracking TOC clicks. Please let me know if you need me to review or test once tracking is set up. Thanks again.

[2021-08-03 16:28] m-sullivan7 commented on #4965
Just a couple of minor plainer language edits. Looks good!

[2021-08-03 16:32] LizNobriga commented on #4965
@mediajunkie Could you review these edits?

[2021-08-03 16:34] mediajunkie opened #5006 "Replace hero image with one with face coverings"
- [x] Ask for source images from RS-E
- [x] Choose new image
- [ ] update hero

[2021-08-03 16:36] LizNobriga commented on #4936
@mediajunkie Are these edits out for stakeholder review?

[2021-08-03 16:46] #1687 closed

[2021-08-03 16:46] #1326 closed

[2021-08-03 16:47] #1633 closed

[2021-08-03 16:51] LizNobriga commented on #4990
@m-sullivan7 Could you do an initial review?

[2021-08-03 17:46] mediajunkie commented on #4936
I think not yet. Was catching up on other items last night. Will update asap.

Re "Improve readability of lead class text" what is "lead class text"?

[2021-08-03 17:49] m-sullivan7 commented on #4990
Great job finding the funeral cost info and adding it in!

I left a question about how renters and landlords work together on a relief application. I feel like we could give more guidance on this point.

[2021-08-03 17:49] mediajunkie commented on #4936
sent for review/approval, asked for any concerns before cob today

[2021-08-03 17:51] mediajunkie commented on #4965
Edits look good to me!

[2021-08-03 17:59] LizNobriga commented on #4936
Lead class text refers to the first sentence on each page that explains the topic.

[2021-08-03 18:18] LizNobriga commented on #4965
@abquirarte Can you review today?

[2021-08-04 15:25] LizNobriga commented on #4965
@mediajunkie Does this need any further approvals before publishing?

[2021-08-04 15:27] LizNobriga opened #5008 "Contracts - post 3 new"
One new CDPH contract, an EDD purchase order, and an amendment to that purchase order

[2021-08-04 17:21] aaronhans commented on #4992
PR merged, events being tracked in GA, screenshot from realtime report below, data will show up in regular event reports starting tomorrow. Thanks for pointing this out so we could instrument it @thepegisin!

<img width="747" alt="Screen Shot 2021-08-04 at 10 20 12 AM" src="https://user-images.githubusercontent.com/353360/128225727-3e88a814-914e-4ccb-81e3-dc5ef38d8301.png">

[2021-08-04 18:23] LizNobriga commented on #4936
These edits are ready in staging. @mediajunkie Could you review?
[https://staging.covid19.ca.gov/education/](https://staging.covid19.ca.gov/education/)

Can share with stakeholders if that's helpful.

[2021-08-04 19:07] LizNobriga commented on #4937
@mediajunkie Can you update this ticket to document stakeholder approvals?

@thepegisin Can you indicate on this ticket that the approved edits were published today?

Then I think we can close this one out!!

[2021-08-04 19:32] LizNobriga commented on #4936
Edits are published.

[2021-08-04 19:33] #4936 closed

[2021-08-04 20:10] traintestbritt commented on #4992
Thank you for the update @aaronhans. And yes, thank you for pointing this out @thepegisin! I am thinking I can add the data to the covid-19 content analytics dashboard. Is there any other report you think it'd make sense to add the data to @mediajunkie @thepegisin? If so, can either of you create a ticket and assign it to me, please?

[2021-08-04 20:28] mediajunkie commented on #4937
Stakeholders approved this and it went love today around noon.

[2021-08-04 20:29] #4937 closed

[2021-08-04 21:31] jbum opened #5010 "Detect syntax errors in translated files that affect builds."
Twice recently, extraneous characters inserted into the headers on our translated files have affected the site, for example, a space in the arabic equity file caused the Arabic equity page to go down. This should be detected during build.

[2021-08-04 23:59] LizNobriga commented on #5008
Contracts are live

[2021-08-04 23:59] #5008 closed

[2021-08-05 00:39] #4965 closed

[2021-08-05 16:29] m-sullivan7 opened #5013 "Health equity: Factors chart 100k/100K"
On the health equity page in the [Factors that increase risk of infection and severe illness section](https://covid19.ca.gov/equity/#factors) there is a chart titled _Community case rate by median annual household income bracket_. In the labels for each bar, we inconsistently use k to denote multiples of 1,000.

![image](https://user-images.githubusercontent.com/69169190/128386402-e2619cce-6752-4f

[2021-08-05 16:33] m-sullivan7 commented on #5013
@mediajunkie Assigning to you for eventual reassignment to an engineer for this work. I labeled it as a P3 as it's definitely a nice to have. Nothing broken, just a small inconsistency. I checked WordPress to confirm that I cannot update chart labels on my side.

[2021-08-05 16:55] m-sullivan7 opened #5016 "Health equity: move date stamps out of accordions"
On the [health equity](https://covid19.ca.gov/equity/) page, the updated date is currently inside the _Chart information_ accordion.

![image](https://user-images.githubusercontent.com/69169190/128390180-d267057f-0eb8-4bf3-9e5c-02832e2a292c.png)

On the [vaccination progress data](https://covid19.ca.gov/vaccination-progress-data/) page, the updated date is outside the _Chart information_ accordion

[2021-08-05 17:55] m-sullivan7 opened #5017 "State dashboard: remove references to weekend update cadence"
In July 2021, CDPH moved to a data reporting cadence of Monday through Friday for everything except vaccines administered. The content work for this change was done on [CCG-2448](https://digital-ca-gov.atlassian.net/browse/CCG-2448).

This weekend, CDPH will begin reporting 7 days a week again. This ticket is considered done when we have removed the language from the July change from the state das

[2021-08-05 17:56] mediajunkie opened #5018 "Resume daily trackerbox updates"
- [x] Sync with @carterm to make sure the cron job & resulting JSON file will be unaffected (current assumption, @jbum )
- [x] Remove the conditional code that shows hyphens in the box on weekends (@jbum )
- [x] https://github.com/cagov/covid19/issues/5017

[2021-08-05 18:00] thepegisin opened #5019 "Homepage banner: Current safety measures"
Write and publish homepage banner pointing to *Current safety measures* page (nee *Safely reopening*).

Draft: https://docs.google.com/document/d/1T-sKeNUY1DaUJqpXQXzcv_FIzIXc1BG18YdTrMgtlAo/edit

Approved by @mediajunkie 8/4 and published by @thepegisin 10AM 8/5.

[2021-08-05 18:01] #5019 closed

[2021-08-05 18:03] jbum commented on #5017
Note: No engineering changes needed to remove the hyphens.

[2021-08-05 19:33] mediajunkie opened #5020 "Lunch & Learn checklist as of Aug 5"
For each event:

- [x] Update ordinal number: This one is the fourth
- [x] Line up speaker(s): Carter, Jim, Aaron, Chach
- [x] Agree on topic: communication
- [x] Check in with speaker(s) 2 weeks out
- [x] Get working title
- [x] Get blurb
- [x] Update calendar
- [x] Check in with speaker(s) 1 week out
- [x] Promote the week of
- [x] Start meeting early with background music
- [x] Record presentat

[2021-08-05 20:01] m-sullivan7 commented on #5017
Language updated and live on the production site.

[2021-08-05 20:01] #5017 closed

[2021-08-05 21:06] m-sullivan7 commented on #5016
Reassigned this to Christian as this actually requires an engineer now that I've delved into it. The Chart information drawers on the health equity page are built into the D3 chart rather than standing separately like they do on other pages where I'm familiar with those drawers.

That's at least what it looks like to me! I could be missing something and an engineer should feel more than free to po

[2021-08-05 22:20] LizNobriga commented on #4990
@m-sullivan7 @mediajunkie These [edits](https://docs.google.com/document/d/1pnfEvDK2d-8JK6cBomnYH1NB0oOLe1vSTcuYT6E0ot8/edit#) are now in staging for our continued internal review. I think we can make it easier to understand the connections between eviction protection and rent relief. Would appreciate your feedback (in doc or via slack are both fine).

[https://staging.covid19.ca.gov/get-financial

[2021-08-05 23:12] m-sullivan7 commented on #4990
I think you're right that there's a better way. I'm going to explore alternate approaches in [another document](https://docs.google.com/document/d/1Tmoid2T92vF-7rvM8tsEQM8Zgt9j4XVD0SljYA6nerw/edit?usp=sharing) where I can edit without messing up what's there to see what I can come up with.

[2021-08-05 23:13] mediajunkie opened #5029 "Pipeline for cases by vax status"
(child of https://github.com/cagov/covid19/issues/4982)

Pipeline locations:
- [x] blob file location: CDPH_COVID_GOOD_DATASETS/POSTVAX_CASE_HOSP_DEATH
- [ ] snowflake query location needed from Brendan

Pipeline workflow:
- [x] data updated weekly to the Blob at  by CDPH Science Branch (Lauren, Lawrence)
- [x] data to be uploaded from Blob to Snowflake (by Brendan/Analytica)
   - [x] a subset of

[2021-08-05 23:25] LizNobriga opened #5030 "Workers and businesses: vaccine and testing requirements for healthcare facilities"
Edits to update _Workers and businesses_ to reflect the new state public health officer [order of August 5, 2021](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Order-of-the-State-Public-Health-Officer-Health-Care-Worker-Vaccine-Requirement.aspx), which requires workers in healthcare facilities and similar settings to be vaccinated with limited exceptions.

[DRAFT EDITS](https://docs.goo

[2021-08-05 23:27] m-sullivan7 commented on #5030
Looks good to me! Passing to @mediajunkie.

[2021-08-05 23:44] m-sullivan7 commented on #4990
I thought I'd [share the results of my free thinking](https://docs.google.com/document/d/1Tmoid2T92vF-7rvM8tsEQM8Zgt9j4XVD0SljYA6nerw/edit#) before I finished for the day, @LizNobriga. This is grade 7 content (I was surprised I got it so low given the topic). What do you think of this direction? Any better? Any parts you think still need more explanation?

[2021-08-06 00:34] thepegisin opened #5031 "Update Vaccines and Current safety measures pages with 8/5 PHOs"
8/5/21 public health orders say:
- Healthcare workers must be vaccinated unless they qualify for approved exceptions
- Visitors to healthcare facilities must be vaccinated or show proof of negative COVID test

Drafted changes. Approved by @mediajunkie.

Updated *Vaccines* and *Current safety measures* pages accordingly. Published 5:30PM on 8/5/21.

[2021-08-06 00:35] #5031 closed

[2021-08-06 16:06] m-sullivan7 commented on #4978
As mentioned on https://github.com/cagov/covid19/issues/5016, the dates on the existing charts are built into the D3 chart code. While I can see it as a content editor, adding it to the charts where we don't have this data would be tricky. I recommend an engineer make this update as this is outside my skills as a content editor.

[2021-08-06 16:36] aaronhans opened #5036 "equity dash staging update needs to trigger stage build"
We update the data for the equity dash in staging and open a PR for CDPH to review. There isn't an automated trigger that links this event to the staging build process. We need one because the 11ty build process is what creates the HTML for the boxes at the top of the page. Having the boxes at the top of the page be part of the initial HTML is nice because they render as fast as possible.

We need

[2021-08-06 16:46] aaronhans opened #5037 "revisit GA error tracking"
## Background

We did some research and an initial implementation of error tracking using Google Analytics. We weren't really satisfied with the results.

The alternative is an error tracking service like sentry.io. These services do useful things like group errors for you  but they also cost money and worst of all require you to include a bunch of javascript on your site that is delivered to ever

[2021-08-06 16:51] LizNobriga commented on #5030
This published yesterday. Closing issue.

[2021-08-06 16:51] #5030 closed

[2021-08-06 16:55] LizNobriga commented on #4990
I think it looks good! Are you thinking this would still be followed by the "help for renters" info, or that this covers both eviction and rent relief?

[2021-08-06 16:56] m-sullivan7 opened #5038 "State dashboard: county search box improvement"
In looking at the increased per page feedback on the state dashboard, I've seen continued notes about "county data not working" (there were 55 comments to this effect from July 31 to August 5, 2021, out of 267 total--20% of the total feedback during the period). In almost half (26) of those cases, people used the anchor link in the page index to get to the [County and statewide data](https://covid

[2021-08-06 16:57] #5020 closed

[2021-08-06 16:59] aaronhans commented on #5038
Fantastic analysis @m-sullivan7! Good recommendations

[2021-08-06 17:00] m-sullivan7 commented on #4990
Yes. It does mean we say some things twice on the page. I'd have to do more deep thinking about how to blend the two if we wanted to combine them (and I can definitely do that if you'd like--today looks like a good day for it). It'll be easier to do that on November 1 when the current eviction protection ends and it gets tied to rent relief applications.

[2021-08-06 17:20] mediajunkie commented on #4982
Assigning to Jim for now as the remaining tasks on the list have their own tickets.

[2021-08-06 17:20] mediajunkie commented on #4982
scratch that. will make a subticket with the details...

[2021-08-06 17:28] mediajunkie opened #5039 "Prototype charts by vax status"
(child of https://github.com/cagov/covid19/issues/4982)

- [figma](https://www.figma.com/file/LrzsOu8U5KcMAjJTQ1O3BG/covid19.ca.gov-screens?node-id=7861%3A38915)
- [one pager (not always current)](https://docs.google.com/document/d/1OGVRkTSgRy-BGWhC4HZHsc5iRKzL2oCY9UD1y5VbwGU/edit)

![cases by vax mock](https://user-images.githubusercontent.com/3227378/128549373-9c808644-5d5b-4a27-918d-d1e05777e39

[2021-08-06 17:37] mediajunkie opened #5040 "Global labels right now"

[2021-08-06 20:58] LizNobriga commented on #4990
I made edits in the [separate doc](https://docs.google.com/document/d/1Tmoid2T92vF-7rvM8tsEQM8Zgt9j4XVD0SljYA6nerw/edit#) to get rid of a couple HTR sentences, and then incorporated all of the separate doc edits into the [DRAFT EDITS](https://docs.google.com/document/d/1pnfEvDK2d-8JK6cBomnYH1NB0oOLe1vSTcuYT6E0ot8/edit#). I will update staging to match.

[2021-08-06 21:23] LizNobriga commented on #4990
@mediajunkie I think we may be ready for stakeholders to review the **Get financial help** page in staging: [https://staging.covid19.ca.gov/get-financial-help/](https://staging.covid19.ca.gov/get-financial-help/)

[2021-08-06 21:55] LizNobriga opened #5041 "Workers and businesses: add "more help" buttons"
Use buttons for more help similar to those on the Get financial help page

[DRAFT EDITS](https://docs.google.com/document/d/1NbYh1TnzBV7uDh-6SUXpWD0YbkBc1TWwLeL9yId8sqM/edit#)

[2021-08-06 22:07] LizNobriga commented on #4990
@mediajunkie The current link to [Project Roomkey](https://www.cdss.ca.gov/Portals/9/FEMA/Project-Roomkey-Fact-Sheet.pdf) isn't a good place to send someone who has heard about the program and is looking to find out if they're eligible or how to get a room. Thinking stakeholders might be able to help us address this.
<img width="1035" alt="link" src="https://user-images.githubusercontent.com/58706

[2021-08-06 22:19] mediajunkie opened #5042 "Pipeline updates for Trackerbox 3.0"
child of https://github.com/cagov/covid19/issues/4980

Cases, Tests, and Deaths:
- [x] no changes to pipeline needed to prototype
- [x] may request calculated fields from CPDH (Brooke, Lauren, et al.) once format is locked

Vaccinations
- [x] data already supplied for weekly updates is likely sufficient (to the Blob) from Vax taskforce (Cynthia Yee as contact)
- [x] in snowflake:
   - [ ] The dail

[2021-08-06 22:28] #5018 closed

[2021-08-06 22:32] thepegisin opened #5043 "Check accessibility issues identified by SiteImprove"
Details: https://cadotgov.slack.com/archives/G01493HF6CU/p1628285898098800

[2021-08-06 23:26] thepegisin opened #5044 "Add in-home testing to Testing page per CDC"
As of 8/2/21, the CDC has added in-home test kits to its list of how you can get tested for COVID-19. Propose we do the same.

Draft: https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edit#

No change other than this, so should need minimal CDPH approval cycle.

[2021-08-07 00:00] mediajunkie opened #5045 "Check that all pages we meant to archive actually got archived"
-[ ] @jbum to submit a list of stubs that are in the repo to the content team, some of these are possibly inactive.

[2021-08-07 00:01] mediajunkie opened #5046 "Triage P2 and P3 design improvements"
Then prioritize them for the next sprint (if we still think we need them)

[2021-08-07 00:05] mediajunkie commented on #5046
comment from retro:

[2021-08-07 00:07] mediajunkie opened #5047 "Follow up with visitors"
To see if we met the goals we set or addressed the needs we identified.

[2021-08-07 01:01] LizNobriga opened #5048 "Education: add new links"
Add new links:

- [Schools Can Safely Open Despite Delta Variant](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Schools-safely-open-despite-Delta.aspx)
- [COVID-19 Testing at Schools](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/COVID19-Testing-at-School.aspx)

Or, link to [Parents](https://schools.covid19.ca.gov/pages/parent-page) page of the Schools Hub instead

Add childc

[2021-08-09 17:05] m-sullivan7 opened #5056 "Improve navigation between data pages"
In reviewing per page feedback, I noticed that people are often looking for information in the wrong places. Here are examples from August 6 to August 8.

- Equity: "Yuba County vaccination rate" (available on _Vaccination progress data_)
- Equity: "Wanted to see vaccination by age group Vaccination status by age group Cases, severe, death by age group  To roughly estimate vaccine efficacy" (also

[2021-08-09 17:06] m-sullivan7 commented on #5056
@mediajunkie assigned to you for considering with sprint planning. I'd estimate this is a P2 as nothing is broken, but we could help people find info that's already there more easily.

Side note: all three data pages have per page feedback comments about seeing vaccinated vs. unvaccinated cases. This says providing equity and _Vaccination progress data_ pages a path to the state dashboard may be i

[2021-08-09 17:07] mediajunkie commented on #5044
Getting name of Testing Task Force stakeholder from Carlos, possibly Rob McAndrews. Will update once we have approval.

[2021-08-09 17:08] mediajunkie commented on #5056
I like this idea. This way we can still show these various dashboard or subdashboard pages in context while giving a clear way to move among them

[2021-08-09 17:08] adam-little commented on #5006
Consensus is to use "selfie" image because it shows people wearing a mask with a positive attitude and it can be interpreted as being indoors.

This photo also works best compositionally for web and mobile.

![image](https://user-images.githubusercontent.com/69167298/128745950-ddad80a8-457f-40ed-958d-5413dc79bc46.png)

[2021-08-09 17:09] mediajunkie commented on #5044
ok, confirmed. running by rob.mcandrews@csd.ca.gov

[2021-08-09 19:23] LizNobriga commented on #4990
I updated the project roomkey content in the [DRAFT EDITS](https://docs.google.com/document/d/1pnfEvDK2d-8JK6cBomnYH1NB0oOLe1vSTcuYT6E0ot8/edit#) and in [staging](https://staging.covid19.ca.gov/get-financial-help/):
![image](https://user-images.githubusercontent.com/58706834/128762138-3ac817b7-9342-474a-b8f9-1dd7a594f7bb.png)
Because people are asking about project roomkey, we want to include thos

[2021-08-09 19:40] LizNobriga commented on #5041
Ready for review in [staging](https://staging.covid19.ca.gov/workers-and-businesses/#worker-benefits).

![morehelp](https://user-images.githubusercontent.com/58706834/128764322-b8177430-0839-42a1-bdeb-d6a7ad93955e.png)

[2021-08-09 20:33] m-sullivan7 commented on #5041
The links look good! I know that we don't usually center H3s, but _More help_ looks a little awkward left-justified. Maybe we could get Adam's opinion on whether it's OK to break with our usual formatting in this case?

[2021-08-09 20:47] LizNobriga commented on #5041
Hi @adam-little. We are thinking about using button links under an H3 on the **Workers and businesses** page. Could we get your opinion on whether to keep the _More help_ H3 left-aligned or if it would work better to center it?

**Left-aligned:**
![image](https://user-images.githubusercontent.com/58706834/128771592-c46c9b83-0f2c-4383-8757-da34ba01a287.png)

**Centered:**
![image](https://user-imag

[2021-08-09 20:51] thepegisin opened #5057 "Update Vax for the Win Q/A re: Food 4 Less cards"
Update *Vax for the Win* Q&A that informs about some Food 4 Less not accepting the cards. Drafted 8/6: https://docs.google.com/document/d/1QRebgp-VkgHrj0mJF4j1QtRNmsLyIKhnqDGIndm9zQk/edit#

MJ routed for approval through CDPH. Approved 8/9. Published 8/9.

Further request to provide list of participating stores. Converted Excel spreadsheet into PDF, uploaded, and linked. Staged and waiting for app

[2021-08-09 22:21] #5057 closed

[2021-08-09 23:11] #826 closed

[2021-08-09 23:13] #5043 closed

[2021-08-09 23:16] thepegisin commented on #5044
Published.

[2021-08-09 23:16] #5044 closed

[2021-08-09 23:47] m-sullivan7 commented on #5048
Reviewed!

[2021-08-10 00:18] LizNobriga commented on #5048
@mediajunkie Your turn for review.
[DRAFT EDITS](https://docs.google.com/document/d/1xMzjiasenpZe6D7nrhXS9_0Sj5woLTf-8BPk9qaYRJo/edit#)

[2021-08-10 00:24] LizNobriga opened #5059 "Emotional health refresh"

[2021-08-10 16:27] LizNobriga opened #5064 "Tracking end dates"
Track end dates of covid related benefits and programs

[Dates tracking doc](https://docs.google.com/document/d/1JCBncO1Xswp3knVnnJncpc-7PHWl5zV8A9yq3PuGUPs/edit)

[2021-08-10 18:31] adam-little opened #5067 "Fix spacing of content on Vaccine page"
When a content block has a background color, then it should not have the horizontal rules (separators) above or below.

Can we remove the horizontal rules that appear above and below the color-filled content blocks on the Vaccine page?

Example 1:
![image](https://user-images.githubusercontent.com/69167298/128915094-6a97254d-fb16-4004-9848-9424dd096a2b.png)

Example 2:
![image](https://user-images

[2021-08-10 18:35] adam-little commented on #5041
I would left align it. I realize that it looks wrong because the container with the buttons has space around it, so the buttons are not left aligned with the rest of the content.

But that bothers me less than having a title suddenly become centered.

Alternatively, you can put the buttons in a container with a background color and give it a centered H2. We can hide the H2 from the page index.  Th

[2021-08-10 20:25] jbum commented on #5036
A bit preoccupied at the moment. Will trigger a manual build this week.

[2021-08-10 20:43] #4970 closed

[2021-08-10 20:47] mediajunkie commented on #5048
Edits looks good to me.

[2021-08-10 21:15] mediajunkie commented on #4978
prioritywise I would put this behind cases-by-vax-status & trackerbox

[2021-08-10 23:04] LizNobriga commented on #5041
@mediajunkie This is ready for your review in staging: https://staging.covid19.ca.gov/workers-and-businesses/
[(see edits in google doc)](https://docs.google.com/document/d/1NbYh1TnzBV7uDh-6SUXpWD0YbkBc1TWwLeL9yId8sqM/edit#)

[2021-08-10 23:07] LizNobriga commented on #5048
@mediajunkie [Edits](https://docs.google.com/document/d/1xMzjiasenpZe6D7nrhXS9_0Sj5woLTf-8BPk9qaYRJo/edit#) to the **Education** page are staged. Okay to publish?
https://staging.covid19.ca.gov/education/

[2021-08-11 00:21] thepegisin commented on #5067
@adam-little @mediajunkie This fix is published. I had to get very cutesy with hiding anchor tags in unexpected places, since I couldn't add them to separators. Hope this passes accessibility checks and looks alright on browsers and phones other than mine. But the separators before and after colored blocks are removed. Will find out where to document this so we know how to do it in the future.

[2021-08-11 00:21] #5067 closed

[2021-08-11 15:35] m-sullivan7 opened #5069 "State dashboard 8/11 data note"
Post the following note on the state dashboard for the publication of today's data:

_The negative count of deaths reported today is due in part to Santa Clara County reporting -417 deaths due to data cleaning._

Remove the note when data updates again on August 12, 2021.

[2021-08-11 15:37] mediajunkie commented on #5069
is that a tilde instead of a minus sign?

[2021-08-11 15:39] m-sullivan7 commented on #5069
I was just looking at that. It is, which is incorrect!

[2021-08-11 15:42] m-sullivan7 opened #5070 "8/11 homepage video"
Update homepage video section with YouTube link to governor's briefing. Remove at the end of the day.

[2021-08-11 16:01] LizNobriga opened #5073 "Education: requiring vaccine or testing for teachers"
GGN announcement today, awaiting link for details

[EDITS](https://docs.google.com/document/d/1xMzjiasenpZe6D7nrhXS9_0Sj5woLTf-8BPk9qaYRJo/edit#)

[2021-08-11 16:45] m-sullivan7 commented on #5069
Note is live on the [state dashboard](https://covid19.ca.gov/state-dashboard/). I will remove it after the data updates tomorrow.

[2021-08-11 16:45] #5069 closed

[2021-08-11 17:10] jaredwyee commented on #5006
@jbum this is workable. we haven't heard any pushback (or comment) from GO.

[2021-08-11 17:12] m-sullivan7 commented on #5070
Livestream is up in production. I will remove it at the end of the day.

[2021-08-11 17:12] #5070 closed

[2021-08-11 17:24] mediajunkie commented on #5042
@carterm at some point soon-ish we will want you to change the code in the cronjob that updates the JSON that provides the data to the trackerboxes, by grabbing additional data points (for vaccination data). Should I make a related ticket for that?

[2021-08-11 17:24] LizNobriga opened #5076 "Workers and businesses: requiring vaccine or testing for teachers"
Awaiting details and link

Add links to the Q&As for healthcare worker vax requirements

[EDITS](https://docs.google.com/document/d/1NbYh1TnzBV7uDh-6SUXpWD0YbkBc1TWwLeL9yId8sqM/edit#)

[2021-08-11 18:21] m-sullivan7 commented on #5076
Looks good! No changes from me. (Nice slipping in a readability edit too.)

[2021-08-11 18:23] LizNobriga commented on #5041
Approved via slack. This is now published.

[2021-08-11 18:23] #5041 closed

[2021-08-11 18:24] #5048 closed

[2021-08-11 18:30] m-sullivan7 commented on #5073
Reviewed with one suggestion. 😄

[2021-08-11 19:03] m-sullivan7 opened #5077 "H5 styling"
The H5 header is small compared to the H4. It feels small, perhaps because the space beneath the header and above the text is small.

![image](https://user-images.githubusercontent.com/69169190/129087055-b18b5556-96dd-438f-ae1c-c614bf449393.png)

Here's Adam's specs for H5s in Figma. Are these loaded into the site? If so, does our visual design standards support using H5s with body content? It's u

[2021-08-11 19:16] mediajunkie opened #5078 "Education PHO swirl"
[on swirlbase](https://airtable.com/tblmIs67DpOt3B72M/viwT6BqRMBjSxoQ7k?blocks=hide)

going live:
- [x] Banner
- [x] Current safety measures
- [x] Education (Liz)
- [x] Workers and businesses (Liz)
- [x] Vaccines
- [x] (not needed) Masks

stakeholders notified (xian):
- [x] Current safety measures
- [x] Education
- [x] Workers and businesses
- [x] Vaccines

[2021-08-11 19:40] LizNobriga commented on #5073
Published

[2021-08-11 19:40] #5073 closed

[2021-08-11 19:40] #5076 closed

[2021-08-11 20:09] thepegisin commented on #5078
No change needed for Masks page. Everyone in K-12 schools already has to wear a mask, no matter their vaccination status.
 https://cadotgov.slack.com/archives/C01AS2EU5N3/p1628699981037100?thread_ts=1628696354.034800&cid=C01AS2EU5N3

[2021-08-11 20:11] thepegisin commented on #5078
No mask rule change for vaxed teachers.

[2021-08-11 23:30] thepegisin commented on #5078
Vaccines update now live.

[2021-08-11 23:40] LizNobriga commented on #4990
Approved to publish via email chain.

[2021-08-12 00:03] LizNobriga commented on #4990
Published

[2021-08-12 00:03] #4990 closed

[2021-08-12 00:32] #4968 closed

[2021-08-12 00:33] #4966 closed

[2021-08-12 16:26] LizNobriga opened #5090 "Workers and businesses: return to work"
Trending topic in page feedback about quarantine protocol and returning to work

Examples from PPF:
- how long to quarantine if exposed? what if I tested positive and am fully vaccinated?
- return to work? covid waiting period to return back to work? when can a worker come back to work after having covid
<img width="814" alt="Screen Shot 2021-08-11 at 6 35 53 PM" src="https://user-images.githubuse

[2021-08-12 17:12] LizNobriga opened #5091 "Education: preschool and distance learning"
See if content can address any of the concerns form page feedback. Examples included below.
Preschool:
<img width="1004" alt="Screen Shot 2021-08-11 at 6 30 25 PM" src="https://user-images.githubusercontent.com/58706834/129233194-8b1160e1-4888-4183-9120-3ba5bef3c7d9.png">
Distance learning option:
<img width="1158" alt="Screen Shot 2021-08-11 at 6 30 50 PM" src="https://user-images.githubuserconte

[2021-08-12 17:19] aaronhans opened #5092 "begin using new static file infrastructure"
Moving from azure buckets in production for static files to AWS S3+Cloudfront is better because:

- We can setup redirects on our own without opening a ticket for CDT
- Redirects can be created without modifying frontpage rules which have caused problems in the past
- We can easily synch to S3 buckets if we need to bypass github actions for deploys

Next step:

- Change how covid-static deploys to

[2021-08-12 18:05] jbum commented on #5006
Done

[2021-08-12 18:05] #5006 closed

[2021-08-12 18:07] jbum commented on #4989
@m-sullivan7 , does this still need to be addressed?

[2021-08-12 18:09] m-sullivan7 commented on #4989
@timothyshambra helped with this. This is done!

[2021-08-12 19:00] LizNobriga commented on #5064
@m-sullivan7 @thepegisin Here's the [date tracker doc](https://docs.google.com/document/d/1JCBncO1Xswp3knVnnJncpc-7PHWl5zV8A9yq3PuGUPs/edit) I showed you briefly. Feel free to add, update, and make corrections.
cc @mediajunkie

[2021-08-12 20:09] m-sullivan7 commented on #5064
I don't have access to the document. However, I reviewed my pages and didn't find any dates on them. A few questions came up. They may already be in the document.

- When does protection against utility shut-offs (power and water) end? We reference that on the _Help for immigrants_ page right now. Though it's going away, maybe that program lives on other pages too.
- When do Golden State Stimulus

[2021-08-12 20:12] m-sullivan7 opened #5096 "Health equity: reduce learn more links"
When the [health equity](https://covid19.ca.gov/equity/) page was created, stakeholders didn't want people to leave the site before they read everything, but also wanted to hyperlink to info. We compromised by creating a _Learn more_ section.

This approach adds an unnecessary click for people who want information on these topics. A better experience is to send them directly to the page at the fir

[2021-08-12 20:26] m-sullivan7 commented on #5096
Here's a draft of how I would edit to remove the anchor links that lead to the _Learn more_ section.

@mediajunkie Stakeholders may not care about making this change at this point. (They may not even remember why we did it this way in the first place.) If you want to run this by them, the big point to make is that we're turning what currently takes two clicks for a user into one click. That said,

[2021-08-12 20:43] LizNobriga commented on #5064
Oops, fixed the doc location so everyone can access it now.

[2021-08-12 20:51] m-sullivan7 commented on #5064
And you covered both of those points in what you've got. Nicely done!

[2021-08-12 21:22] LizNobriga commented on #5064
We know the deadline to "apply" for Golden State Stimulus (AKA, submit your 2020 tax return). Not sure about when the money gets distributed.

We will need to dig a little more to get clarify on water and utility shut offs.

I added one bullet about the CA Public Utilities Commission, but idk if that covers everything. There might be more info buried in this (but I haven't read through yet): [CPUC

[2021-08-12 21:55] LizNobriga opened #5098 "Education: change page title, add camps content"
- Merging **camps** content from the  _Current safety measures_ page to the  _Education_ page
- Changing the _Education_ page title to _Education and childcare_

[DRAFT EDITS](https://docs.google.com/document/d/1Duu3I6Dfo8ZTdgAkW7m_i8PkoH5Bybuh_kGZYKqqApk/edit#)

[2021-08-12 23:31] thepegisin opened #5100 "Re-draft Current safety measures page to reduce duplicate content"
- Remove duplicate content on this page (Masks, Travel, Education, Workplace Safety)
- Give some content that only lives here its own page (Mega-events)
- Move other content that only lives here to an existing page (Day camps and overnight camps --> Education)
- Give topics under *Current safety measures* section special design treatment with images and TL;DR text.
- Rename page *What to do now*

[2021-08-13 17:21] m-sullivan7 commented on #4909
Draft page created by CDT and sent to Gina in the Office of the Governor for approval before publishing.

[2021-08-13 18:25] aaronhans opened #5107 "subdomain link tracking bug"
Links to subdomains under the current domain like: toolkit.covid19.ca.gov from covid19.ca.gov/vaccines are failing to be tracked because the domain check ignores them

We need to fix domain check logic to make sure to fire offsite click events for subdomains under the current domain

[2021-08-13 22:37] m-sullivan7 commented on #4909
Alerted Britt to remove the page from the per page feedback filters and Jim to remove from his bot before I do the actual archiving.

[2021-08-16 16:56] jbum commented on #4909
No need to remove pages from bots anymore (it uses the sitemap now).

[2021-08-16 17:00] m-sullivan7 commented on #4909
Thanks for the confirmation @jbum ! The page has been archived in WordPress, so translations can be removed.

[2021-08-16 17:00] #4909 closed

[2021-08-16 18:44] m-sullivan7 opened #5113 "Health equity: content overhaul"
It has been a long time since the health equity page was published. Since then, it has not changed significantly.

This ticket is to revisit the health equity page to identify ways that it can be improved, including through large structural change. This may include research to understand what story we want to tell about health equity and what people are looking for on this page.

Draft edits will

[2021-08-16 19:38] LizNobriga opened #5114 "Workers and businesses: Shuttered Venue Operators Grant applications close 8/20"
Feds just announced [end date of 8/20 for Shuttered Venue Operators Grant application period](https://www.sba.gov/funding-programs/loans/covid-19-relief-options/shuttered-venue-operators-grant#section-header-0)

- [ ] Update **Workers and businesses** page, [Financial help for businesses](https://covid19.ca.gov/workers-and-businesses/#financial-help-businesses) section, to reflect 8/20/21 end of a

[2021-08-17 15:37] m-sullivan7 commented on #5114
@LizNobriga Is there a Google Doc to review?

[2021-08-17 15:51] m-sullivan7 commented on #5114
Simple, straight-forward addition. Good here!

[2021-08-17 15:53] m-sullivan7 commented on #5090
Left some comments in the Google Doc.

One general question: as the pandemic progresses and people have more questions, this page grows longer. At what point would you consider breaking this page back into two pages, one for workers and one for businesses?

[2021-08-17 16:04] m-sullivan7 commented on #5096
Following up on whether we can make this change now without stakeholder approval or whether to send it up the chain. (I'm optimistic it can be the first!)

[2021-08-17 17:36] jaredwyee commented on #5096
@m-sullivan7 I think we can move fwd and keep an eye out for any feedback. thanks

[2021-08-17 18:00] adam-little opened #5117 "Create card layout for Current Safety Measures page"
Build layout for [Current safety measures](https://covid19.ca.gov/safely-reopening/) page'

![image](https://user-images.githubusercontent.com/69167298/129777296-55b906a1-bf4a-4dba-bd39-485e3658a456.png)

**Design:**

- Three-column card grid
- Each card has an image, a title with link, and description
- [Figma](https://www.figma.com/file/LrzsOu8U5KcMAjJTQ1O3BG/covid19.ca.gov-screens?node-id=7918%

[2021-08-17 19:12] #5096 closed

[2021-08-17 23:13] LizNobriga commented on #5090
Agree with considering whether to split up this page.

A couple notes:
- The current content that benefits most from the merged page is the _COVID-19 workplace safety standards_ and the _Vaccination and testing for some workplaces_ since it applies to both workers and employers.
- The _Financial help for businesses_ content only applies to businesses. This content could live on its own page. It co

[2021-08-17 23:31] aaronhans opened #5119 "google indexing error on redirect"
The page https://covid19.ca.gov/contact-tracing/ is now a redirect.

Google Search Console is complaining about this url being indexed with no content.

Does it need to be removed from the sitemap?

[2021-08-17 23:50] m-sullivan7 commented on #5090
Excellent analysis! Sounds like the answer is no for right now, but something to continue thinking about. I could see us implementing three pages at some point:

- Workplace requirements
- Help for workers
- Help for businesses

[2021-08-18 00:06] jbum commented on #5119
I don't see it in the site map at the moment.

[2021-08-18 00:09] jbum commented on #5119
Perhaps the issue is that we are linking directly to it from a menu.  Will fix.

[2021-08-18 00:09] aaronhans commented on #5119
nice, thank you

[2021-08-18 00:40] LizNobriga commented on #5064
@mediajunkie Since we now have a running [list](https://docs.google.com/document/d/1JCBncO1Xswp3knVnnJncpc-7PHWl5zV8A9yq3PuGUPs/edit) for tracking any start/end dates relevant for covid, I'm moving this to done and closing for now. If you think of anything else we might add to it, just ping me. :slightly_smiling_face:

[2021-08-18 00:40] #5064 closed

[2021-08-18 00:44] LizNobriga commented on #5091
I wasn't able to find any meaningful info that would address what users were looking for about preschool and distance learning options on the Education page.

Some notes:
- The CA Dept of Education's [Early Learning and Care COVID 19 Guidance](https://www.cde.ca.gov/sp/cd/re/elcdcovid19.asp) and [Distance learning](https://www.cde.ca.gov/ci/cr/dl/index.asp) pages may be helpful for administrators,

[2021-08-18 00:44] LizNobriga commented on #5091
@mediajunkie I'm going to close this issue for now. I will continue to watch whether these questions/comments continue to trend in page feedback or not.

[2021-08-18 00:44] #5091 closed

[2021-08-18 01:09] LizNobriga opened #5120 "Workers and businesses: improve content for employers requiring vaccinations"
Trend in feedback:
- Can I be fired if I don't get the vaccine and don't do the weekly testing?
- Can I collect unemployment if I'm fired or quit because I don't want to get the vaccine?

Improve content in _Employers may require employees to be vaccinated_ to address this area.

The current links to [CA Department of Fair Employment and Housing’s FAQ PDF](https://www.dfeh.ca.gov/wp-content/upload

[2021-08-18 17:22] m-sullivan7 opened #5124 "Counties subject to hospital capacity public health order"
CDPH is set to create content around what counties are subject to the public health order on hospital capacity. This content may live:

- On covid19.ca.gov
- On the CDPH website and be linked to from covid19.ca.gov
- Elsewhere and not be linked to from covid19.ca.gov

This ticket is to do any needed work updating covid19.ca.gov to include or link to this content.

[2021-08-18 18:11] m-sullivan7 commented on #5124
[CDPH public health order](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Order-of-the-State-Public-Health-Officer-Hospital-and-Health-Care-System-Surge.aspx)

[2021-08-18 18:12] m-sullivan7 commented on #5113
Existing research created by @clarita1980:

- [Post-launch research](https://docs.google.com/document/d/1BMtmawWWpqfWfEgFZ2tDyAjZb6JCC9D8w7qGwMDkHrE/edit?pli=1)
- [User interviews](https://drive.google.com/drive/folders/1Z6tcHNNiswh3LKCCBsmNnkzrOLfp2jNN?usp=sharing)

[2021-08-18 18:27] thepegisin opened #5125 "Add boosters/additional doses content to Vaccines page"
- [x] Draft addition to Vaccines page about boosters/additional shots

- [x] Get approval from CDPH (PM: Xian)

- [x] Stage

- [x] Publish

[2021-08-18 18:28] thepegisin commented on #5125
Draft: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit#

[2021-08-18 18:28] thepegisin commented on #5125
Published 11AM on Wed 8/18/21.

[2021-08-18 18:29] #5125 closed

[2021-08-18 18:32] thepegisin opened #5126 "Publish homepage banner pointing to booster content"
- [x] Draft banner
- [x] Get approval (Xian or Jared?)
- [x] Stage
- [x] Publish

[2021-08-18 18:38] mediajunkie commented on #5117
@kkoryaka - can you let me know your availability for tackling this?

[2021-08-18 18:43] thepegisin commented on #5126
Banner drafted: https://docs.google.com/document/d/1T-sKeNUY1DaUJqpXQXzcv_FIzIXc1BG18YdTrMgtlAo/edit#heading=h.ah68pjhj93yw

[2021-08-18 18:49] m-sullivan7 commented on #5113
Research insights that might inform future work:

- Primary audience after launch was general public, not county officials
- Improve the story on the page to have organization mirror the most important takeaways
- Provide a clearer link to the raw data (dovetails with per page feedback of people asking for deaths data for kids under 17)
- Provide resources to topics like structural racism via link

[2021-08-18 20:35] thepegisin commented on #5126
Staging.

[2021-08-18 20:38] thepegisin commented on #5126
Looks good in Staging. Pushing to PROD.

[2021-08-18 20:45] thepegisin commented on #5126
Published 1:45 PM on 8/18/2021.

[2021-08-18 20:45] #5126 closed

[2021-08-18 20:56] LizNobriga opened #5127 "Current safety measures: mega-events updates"
Proposed edits to the **Current safety measures** page include:
- Changes for mega-events (noted below)
- Improvements to workplace safety and vaccination requirements

CDPH is updating mega-events guidance. Final guidance not yet posted. Summary of expected changes based on draft shared with our team:
- Applies to crowds greater than 1000 (from 5000) indoors
- Removes self-attestation option for

[2021-08-18 21:21] LizNobriga opened #5128 "Workers and businesses: hotel rooms for healthcare workers"
Adding content about this program back to the  **Workers and businesses** page because users on looking for it there (based on recent page feedback comment trend).

[DRAFT EDITS](https://docs.google.com/document/d/1NbYh1TnzBV7uDh-6SUXpWD0YbkBc1TWwLeL9yId8sqM/edit#heading=h.nyi0beivilba)
NOTE: This draft includes proposed edits for separate issues: #5090 and #5114

[2021-08-18 21:31] LizNobriga commented on #5114
Hi @mediajunkie, this ticket/review is for a simple edit just to add the end date for applications to the Sheltered Venue Operators Grant:

![Screen Shot 2021-08-18 at 2 27 27 PM](https://user-images.githubusercontent.com/58706834/129974697-d84b45d9-a877-405d-9731-ee06fa05ef48.png)

The current **Workers and Businesses** [draft doc](https://docs.google.com/document/d/1NbYh1TnzBV7uDh-6SUXpWD0YbkBc1

[2021-08-18 21:48] m-sullivan7 commented on #5127
These edits look great. I made a couple suggestions to avoid passive voice and asked a couple of questions.

[2021-08-18 23:51] LizNobriga commented on #5127
@m-sullivan7 Your comment asking what the change is after Sept 20 prompted me to take another look. Can you see if this is clearer now?

[2021-08-18 23:56] m-sullivan7 commented on #5127
These are good edits Liz. I like the introduction of bullet points. This is definitely clearer than where we started!

[2021-08-19 00:55] LizNobriga commented on #5127
@mediajunkie Not sure if you can review this and pass it to necessary stakeholders?

The [draft](https://docs.google.com/document/d/17wRxqnHkwLxpj9hVxvybwqJXR9fOY9-23X1Ocfg35w8/edit#) has proposed edits to make updates for mega-events.

It also has edits that improve readability of mega-events, workplace safety, and vaccination requirements for certain workplaces that don't impact the meaning of t

[2021-08-19 01:04] LizNobriga commented on #5127
@thepegisin I meant to also copy you about the [proposed edits](https://docs.google.com/document/d/17wRxqnHkwLxpj9hVxvybwqJXR9fOY9-23X1Ocfg35w8/edit#) to the **Current safety measures** page to keep you updated.

If you have any feedback on the proposed edits, leave comments or suggest edits in the doc.

[2021-08-19 17:46] jbum opened #5133 "Blue Tabs/Buttons selection (equity, state-dashboard) are broken in Safari and iOS"
Switching buttons like the following, on iOS devices, and in the desktop Safari browser causes cosmetic issues, in which the text becomes invisible on de-selected buttons.

![image](https://user-images.githubusercontent.com/287977/130118350-eca71115-83d9-4db3-9554-8431ccb0f5a0.png)

[2021-08-19 19:59] jbum commented on #5133
Fixed, closing.

[2021-08-19 19:59] #5133 closed

[2021-08-19 21:42] thepegisin opened #5135 "Reorganizing Vaccines page"
- [x] Draft a reorg of Vaccines page
- [x] Review with Xian for approval to stage
- [x] Stage and notify Xian, giving him language
- [x] Let him notify stakeholders
- [x] Publish
- [x] Celebrate

[2021-08-19 21:51] thepegisin commented on #5000
Staged this per Angie's approval 7/26, then published to PROD. Rolled back from PROD after stakeholder (Kirsten Raschko) requested that. Asked for approval a few days later, but was explicitly told no.

Unstaged 8/19 to prevent accidental publishing. Changes we recommended are in the draft: https://docs.google.com/document/d/1jjKCVAizHzZTEHojQrpgSnf9YgBS5faBpKD0y5AxB68/edit#heading=h.soeie12216wl

[2021-08-19 21:53] thepegisin commented on #5135
Draft: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit#heading=h.s70rmws9iz4b

[2021-08-19 21:55] m-sullivan7 opened #5136 "Review menu items"
As part of June 15 work, some pages were archived and their place in the menu taken by a link to an external site.

In a recent content crit where we discussed implementing a different menu, @thepegisin suggested that we review what's in the menu. Some items may no longer be needed or could be put on a page rather than take up space in the menu. This would free up space in the menu for links to ot

[2021-08-19 21:58] thepegisin commented on #5100
@kkoryaka is assigned to engineer card design feature for _Current safety measures_ section of this page. #5117

[2021-08-19 22:12] thepegisin opened #5137 "Cruise ship update to Travel page"
- [x] Draft update to Travel page, describing 8/13/21  vaccination recommendation for cruise ships and linking to CDPH webpage.
- [x] Get approval (Xian --> Rhys)
- [x] Stage
- [x] Publish

[2021-08-19 22:14] thepegisin commented on #5137
Draft: https://docs.google.com/document/d/1wORwXEb2hwxRYiNp3zOw7f4CLZEbIZm43BjD3D6fStU/edit#

[2021-08-19 22:14] LizNobriga opened #5138 "Education: testing and vaccine record links"
[DRAFT EDITS](https://docs.google.com/document/d/1xMzjiasenpZe6D7nrhXS9_0Sj5woLTf-8BPk9qaYRJo/edit#) to address page feedback trends

Summary of edits:
- Add H3 for **vaccination and testing requirements** for k-12 staff
- Add button links:
  - **Find a testing location**
  - **Get your digital vaccine record**

[2021-08-19 22:37] thepegisin commented on #5137
Approved and published 8/19/21.

[2021-08-19 22:37] #5137 closed

[2021-08-19 22:42] LizNobriga commented on #5098
@mediajunkie @m-sullivan7 @thepegisin
Wondering if we could proceed with changing the page title from **["Education"](https://covid19.ca.gov/education/)** to **"Education and childcare"** since childcare content is already [under its own H2](https://covid19.ca.gov/education/#childcare) on this page. Then, we could also remove **[Childcare](https://mychildcare.ca.gov/#/home)** from the menu navigat

[2021-08-19 23:16] m-sullivan7 commented on #5098
I support the title change for the page and subsequent removal of _Childcare_ from the menu.

I reviewed all the changes in the draft doc. I left a couple comment/questions.

[2021-08-19 23:38] LizNobriga commented on #5127
@mediajunkie The proposed edits are ready for review in staging: https://staging.covid19.ca.gov/safely-reopening/

cc for awareness: @thepegisin @m-sullivan7

[2021-08-19 23:54] LizNobriga commented on #5127
- [x] internal review
- [x] staged
- [ ] external review/approval
- [ ] publish

[2021-08-20 00:43] LizNobriga commented on #5098
Responded to your comments and made edits, @m-sullivan7.

[2021-08-20 14:59] mediajunkie commented on #5114
Am I right that this change does _not_ address that fact that operators previously awarded grants will have an opportunity to apply for a supplement? I saw that mentioned in the issue description but no reference to it in the copy.

[2021-08-20 15:28] LizNobriga commented on #5114
Yes, that's right. The SBA hasn't announced the details yet, so I didn't add that info now. I will update that in the summary.

[2021-08-20 15:43] m-sullivan7 commented on #5098
I like how this reads now! No further comments from me!

[2021-08-20 16:28] m-sullivan7 commented on #5136
Here are the links in our menu that go to other sites and are candidates to be removed from the menu (with or without being moved into pages). I've noted whether they're currently in any page content.

- Contact tracing (https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19-Contact-Tracing.aspx) (not in any page)
- Symptoms and risks (https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Sym

[2021-08-20 18:32] LizNobriga commented on #5136
Just noting we are also proposing to put the Hotels for healthcare workers link back on the Workers and businesses page in #5128

[2021-08-20 18:37] m-sullivan7 commented on #5138
Good stuff! Just took out a couple of spaces in your button code. 😄

[2021-08-20 21:03] m-sullivan7 commented on #5135
I've published these edits with Christian and Jared's go ahead. I'll leave formally closing the ticket (and celebrating!) to Peggy as the person who did all the work. 😄

[2021-08-21 01:23] LizNobriga commented on #5138
Published 8/20/21

[2021-08-21 01:23] #5138 closed

[2021-08-21 01:34] LizNobriga commented on #5098
:sparkles:Page title has been changed to **Education and childcare**:sparkles:

[Remaing edits](https://docs.google.com/document/d/1Duu3I6Dfo8ZTdgAkW7m_i8PkoH5Bybuh_kGZYKqqApk/edit#) to bring content from _Current safety measures_ to _Education and childcare_ are awaiting approval:
- [ ] **Camps** (overnight camps and day camps)
- [ ] Add bullet to indicate that k-12 schools guidance does not appl

[2021-08-21 02:01] LizNobriga commented on #5136
Update:

- Page title has been changed to :sparkles:_Education and childcare_:sparkles:
- _Childcare_ has been removed from site menu navigation.

[2021-08-21 02:20] LizNobriga opened #5142 "Sept 4 end of most unemployment benefits / find ongoing benefits available"
People are looking for available benefits after September 4. Reorganize content about financial benefits and other topics across multiple pages. 🐙

Breaking this into smaller, independent chunks, and prioritizing content reorganization. Doing this first makes it easier to update content going forward.

1. Launch **Financial help for businesses** page - published ✅
  - [x] Reuse the old /business-a

[2021-08-21 02:27] LizNobriga commented on #5114
Published

[2021-08-21 02:27] #5114 closed

[2021-08-21 02:28] LizNobriga commented on #5128
Published

[2021-08-21 02:28] #5128 closed

[2021-08-23 16:52] LizNobriga opened #5147 "Workers and businesses: add link for vaccine requirement for healthcare workers at correctional facilities"
Add link for [State and Local Correctional Facilities and Detention Centers Health Care Worker Vaccination Requirement](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Order-of-the-State-Public-Health-Officer-Correctional-Facilities-and-Detention-Centers-Health-Care-Worker-Vaccination-Order.aspx) under **Vaccination and testing requirements** on the **Workers and businesses** page.

[Draf

[2021-08-23 16:55] LizNobriga commented on #5147
These are the edits in the google doc:
<img width="632" alt="image" src="https://user-images.githubusercontent.com/58706834/130486666-745ee570-2c49-49b8-9d8d-dde8fbce5eca.png">

[2021-08-23 16:56] m-sullivan7 opened #5148 "Google Analytics dashboard improvement: add external search"
This ticket is to update the [content dashboard](https://datastudio.google.com/u/1/reporting/4dc7f0ec-9b4c-403a-8d16-82909a204760/page/7klnB) with external search data. This would make the covid19.ca.gov dashboard more similar to what's provided in the Design System dashboard provided to DCC with cannabis.ca.gov.

(A separate discussion could be had whether these dashboards should be identical, bu

[2021-08-23 17:21] thepegisin commented on #5135
Thank you, @m-sullivan7!

[2021-08-23 17:22] #5135 closed

[2021-08-23 17:26] m-sullivan7 commented on #5056
In looking at this week's per page feedback, I've seen continued comments about people looking for data that's not on the page they're viewing, but is on another data page. Just building the case for this improvement. 😄

[2021-08-23 17:27] #4989 closed

[2021-08-23 17:59] m-sullivan7 commented on #5147
I added one word. I think there's a difference between "correctional workers" and "correctional facility" workers. Even if "facility" gets added in someone's mind to "healthcare" I think it doesn't harm comprehension.

[2021-08-23 18:30] LizNobriga commented on #5147
Published

[2021-08-23 18:30] #5147 closed

[2021-08-23 22:32] LizNobriga commented on #5090
@m-sullivan7 I made revisions to the [Return to work draft edits](https://docs.google.com/document/d/1NbYh1TnzBV7uDh-6SUXpWD0YbkBc1TWwLeL9yId8sqM/edit#) based on stakeholder feedback. Can you review this revised content section? There's likely more opportunity to improve readability (without sacrificing accuracy).

Summary of stakeholder feedback:
- Under CDPH guidance, all the “musts” on isolatio

[2021-08-23 23:23] m-sullivan7 commented on #5090
Thanks for giving me the verbatims so I could have those in mind! The reading level of the _Return to work criteria_ section is 6 and my edits didn't change that. Great job bringing it down!

I took a swing at a couple of improvements to help ease the friction of having recommendations coexisting with requirements. What do you think?

[2021-08-24 00:39] LizNobriga commented on #5090
I put the [revised section](https://docs.google.com/document/d/18fvtpl-pJetLrmQHy-N6AlD-xXkK02typ5_-tx3-brg/edit?usp=sharing) into its own doc to make it a little easier to review. The section for review is titled, "Returning to work after getting sick or exposed to COVID-19."

After @mediajunkie has a chance to review, it may be ready to go to stakeholders again.

[2021-08-24 21:08] kkoryaka commented on #5117
THis is now in staging: https://staging.covid19.ca.gov/safely-reopening/

[2021-08-24 23:58] thepegisin opened #5157 "CA Notify: Re-add to our hamburger menu and footer links"
Added back links to canotify.ca.gov to menu and footer 8/24/21. Was probably swept away in links purge of 6/15.

[2021-08-24 23:59] #5157 closed

[2021-08-25 15:45] m-sullivan7 commented on #5136
Updated list:

- CA Notify (https://canotify.ca.gov/) (in footer, but not in any page content)
- Contact tracing (https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19-Contact-Tracing.aspx) (not in any page)
- Symptoms and risks (https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Symptoms-Risks.aspx) (not in any page)
- California Health Corps (https://emsa.ca.gov/ca-health-corps/) (not i

[2021-08-25 17:16] m-sullivan7 opened #5160 "Broken link on health equity"
The manage stress for health link currently goes to https://covid19.ca.gov/equity/resources-for-emotional-support-and-well-being/#managing-stress. It should go to https://covid19.ca.gov/resources-for-emotional-support-and-well-being/#managing-stress

[2021-08-25 17:30] #5160 closed, assigned to m-sullivan7

[2021-08-25 20:16] aaronhans opened #5166 "RTL translation layout issues"
Some RTL language layouts don't look very good on the homepage. Here is our human translation and attempt to do right to left layout and then google's Arabic machine translation which isn't doing any layout changes

<img width="1333" alt="Screen Shot 2021-08-25 at 12 58 24 PM" src="https://user-images.githubusercontent.com/353360/130858474-4c05e741-d969-468a-897e-b2f2edf45a1b.png">

<img width="12

[2021-08-27 20:27] mediajunkie opened #5172 "Align Y axes better in D3 charts"
(left Y axis based on cases per 100k vs. right Y axis based on smoothed average of actual cases, or vice versa?)

[2021-08-27 20:28] mediajunkie opened #5173 "Add a decimal to the death counts on the Equity page"

[2021-08-27 20:29] m-sullivan7 opened #5174 "State dashboard: create a message when non-existent county is entered"
In the [state dashboard](https://covid19.ca.gov/state-dashboard/#county-statewide) page, specifically the _County and statewide data_ section, people can enter a county name to get data for just that county. However, if someone enters a non-existent or misspelled county, there is no message telling people that the county is not found.

![image](https://user-images.githubusercontent.com/69169190/13

[2021-08-27 20:47] #5174 closed, assigned to mediajunkie

[2021-08-27 22:13] thepegisin opened #5176 "Homepage banner about COVID Notify"
Write and publish homepage banner encouraging people to opt in for exposure notifications.

- [x] Draft: https://docs.google.com/document/d/1T-sKeNUY1DaUJqpXQXzcv_FIzIXc1BG18YdTrMgtlAo/edit#
- [x] Gain approval
- [x] Stage
- [x] Check
- [x] Publish

[2021-08-27 23:35] thepegisin commented on #5176
Published 4:30 PM on 8/27/21.

[2021-08-27 23:35] #5176 closed

[2021-08-30 22:12] m-sullivan7 commented on #5113
@mediajunkie I know you were taking a look at proposed edits to the health equity page, but in chatting with Peggy she reminded me that one of the ways we prioritize work is looking at pageviews and using popularity to have the biggest impact.

In the last 5 weeks, the health equity page has received 18,000 views. In the same period, the _Vaccination progress data_ page has received 200,000 views.

[2021-08-30 22:13] jbum commented on #5173
Done.

[2021-08-30 22:13] #5173 closed

[2021-08-31 15:18] mediajunkie opened #5188 "^ Main Board (shortcut)"
https://github.com/orgs/cagov/projects/4

[2021-08-31 15:33] m-sullivan7 opened #5189 "Video: 8/31 governor's briefing"
Update homepage video with governor's press conference for 10:30 and remove at the end of the day.

[2021-08-31 16:40] m-sullivan7 commented on #5189
Livestream link posted.

[2021-08-31 16:40] #5189 closed

[2021-08-31 18:01] kkoryaka commented on #5117
THis one is now live on covid19.ca.go production site.

[2021-08-31 18:45] m-sullivan7 opened #5192 "State dashboard and homepage: 9/1 cases note"
Put up a note about cases on September 1 on state dashboard and homepage.

[2021-08-31 19:39] mediajunkie opened #5193 "Upgrade footer to design system standard"
![image-7](https://user-images.githubusercontent.com/3227378/131565352-cf7a9b6d-c176-4ba4-86e3-1bf655dd549e.png)

[2021-08-31 19:47] LizNobriga commented on #5090
Re-nudged stakeholder

[2021-08-31 20:48] adam-little commented on #4979
@aaronhans Can you review the attached screenshot and let us know how much work you think this is?

Search and language picker would behave same as current COVID website, but would have the styles of the design system.

Note that I am using Roboto instead Public Sans so that the font matches the rest of the COVID 19 website.

[2021-08-31 21:04] adam-little commented on #5193
@aaronhans can you let us know the level of effort for implementing a design-system-style footer on the COVID website?

Note that this is a variation of the Cannabis footer that allows for additional text. I think this can be useful to have in the design system for any agency that requires contact info, opening hours, address, etc... in their site footer.

[2021-08-31 21:34] LizNobriga opened #5194 "Sports and recreational activities - update Education and childcare page"
Proposed edits:
- Add link for [universal masking indoors at k-12 schools](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Requirement-for-Universal-Masking-Indoors-at-K-12-Schools.aspx)
~~- Update content for [Camps and supervised youth activities](https://covid19.ca.gov/education/#camps)~~
~~- Change H3 title~~
 ~~- Remove current content and links for day camps and overnight camps guid

[2021-08-31 21:45] LizNobriga opened #5195 "Mega-events page: align with page style template"
[DRAFT EDITS](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit#)

[2021-08-31 21:58] m-sullivan7 commented on #5194
No edits from me, @LizNobriga ! You nailed it in one!

[2021-08-31 22:11] aaronhans commented on #5193
Love this @adam-little!

There are 3 design system components we can upgrade here

- per page feedback
- site footer section
- statewide footer at very bottom

We haven't finished publishing the site footer component used on cannabis as a standalone item yet. We can do that in a day and then get these other components swapped into the covid site in a couple days.

This is a great opportunity to ge

[2021-08-31 22:14] aaronhans commented on #4979
This is fantastic @adam-little!

I think there are a couple days of development work here to get the old header swapped out and all these elements working using the new components on desktop and mobile

[2021-09-01 00:12] mediajunkie commented on #5193
cc @wrendo @jaredwyee fysa

[2021-09-01 00:34] LizNobriga opened #5199 "California Venues Grant Program - add to Workers and businesses page"
Proposed [edit](https://docs.google.com/document/d/1NbYh1TnzBV7uDh-6SUXpWD0YbkBc1TWwLeL9yId8sqM/edit) to add this bullet under _[Financial help for businesses](https://covid19.ca.gov/workers-and-businesses/#financial-help-businesses)_:
- California Venues Grant Program (available between October 12 and 21, 2021)

Background:

https://business.ca.gov/coronavirus-2019/

[2021-09-01 15:35] m-sullivan7 opened #5200 "State dashboard: content review for sparkline feature"
Review the state dashboard to find instances of content that needs to change in conjunction with the launch of the sparkline feature in the summary boxes.

No changes are required on the homepage as there is no explanatory content about that there. People are directed to the state dashboard for more information.

[2021-09-01 15:57] m-sullivan7 commented on #5195
Looks great Liz! No changes from me. 😄

[2021-09-01 16:42] m-sullivan7 commented on #5200
[Draft edits](https://docs.google.com/document/d/1iyZ8VUKGyyNmex6yc1NplMCWuKzP_NRLA6MX33mxgko/edit#). These edits have also been made to the edits for the addition of [vaccinated vs. unvaccinated cases ](https://docs.google.com/document/d/1daoUhuRyU0uq42SGuO0uYKPDT1TCcOxT0wQ6Lydzqeo/edit#)to the state dashboard.

[2021-09-01 16:48] m-sullivan7 commented on #5192
Notes published on state dashboard and homepage with today's new data. This note will be removed with the September 2 data update.

[2021-09-01 16:48] #5192 closed

[2021-09-01 16:59] m-sullivan7 commented on #4908
I reviewed the Variants content to see what a version without charts would look like. [Here's that draft](https://docs.google.com/document/d/1izDN-8O85Lk1dGbEjoJxaEyoxq34j2_ZBtJvP8UQrcY/edit#) (the removals in suggestion mode show what I'd eliminate from the full version with charts).

[2021-09-01 17:02] abquirarte commented on #5000
Email sent 8/31. Stakeholder is OOO. AQ will escalate.

[2021-09-01 17:10] LizNobriga commented on #5195
Hi @mediajunkie Could you review these [draft edits](https://docs.google.com/document/d/1bTzgxzVUx8YJo6pjVkLgifFSvfVZZdcZw-cHB5kO_tM/edit#)? We want to align this new page to follow our page style template. No substantial changes to content or meaning. Let me know if you have any feedback. Thanks!

[2021-09-01 17:18] LizNobriga commented on #5194
@mediajunkie I pinged you in slack yesterday to review these [draft edits](https://docs.google.com/document/d/1CLJog8FLVz1yvs2MrZJ2ScOLgXEYpH9RydPIZ9Ze-z8/edit#), but I realized I didn't assign this ticket over to you. Lmk if you have any feedback or questions.

[2021-09-01 17:18] mediajunkie commented on #5136
No problem removing those.

What's the decision on things like Symptoms and risks, that used to be pages here?

[2021-09-01 17:21] m-sullivan7 commented on #5136
We're keeping all the other external links currently in the menu navigation. We thought about our users and their needs and determined that providing them a path to this info from our site was still useful.

I'll coordinate removing these two links from the menu. Thanks for the review!

[2021-09-01 17:36] m-sullivan7 commented on #5136
Menu update published.

[2021-09-01 17:36] #5136 closed

[2021-09-01 17:39] m-sullivan7 commented on #5200
Content loaded into v5 post, ready to launch whenever sparklines are pushed.

[2021-09-01 19:26] LizNobriga commented on #5090
@mediajunkie Do we want to ask Labor/DIR folks to review [these edits ](https://docs.google.com/document/d/18fvtpl-pJetLrmQHy-N6AlD-xXkK02typ5_-tx3-brg/edit?usp=sharing)since they are based on the covid prevention emergency temporary standards?

[2021-09-01 20:23] m-sullivan7 commented on #5199
Looks good to me! No changes.

[2021-09-02 15:19] mediajunkie commented on #5199
looks good. please publish.

[2021-09-02 15:59] LizNobriga commented on #5199
Published

[2021-09-02 15:59] #5199 closed

[2021-09-02 16:19] LizNobriga commented on #5142
@m-sullivan7 I've got some pages drafted based on our last content meeting where we landed on new buckets. What do you think of this direction overall, and the structure and organization of these proposed pages?

There's some work to do on readability. I haven't checked the all of the new and revised content in Hemingway. Feel free to make those edits now and I'll get them incorporated. I expect t

[2021-09-02 17:37] LizNobriga commented on #5090
@mediajunkie The [edits](https://docs.google.com/document/d/18fvtpl-pJetLrmQHy-N6AlD-xXkK02typ5_-tx3-brg/edit?usp=sharing) are ready in [staging](https://staging.covid19.ca.gov/workers-and-businesses/#workplace-safety-standards).

[2021-09-02 18:21] thepegisin commented on #5000
Approval received per Angie 9/2. Page updated and renamed **Help for agricultural workers**. Menu updated to reflect page name change, and moved link from _California's response_ grouping to _Services_.

[2021-09-02 18:21] #5000 closed

[2021-09-02 18:42] LizNobriga commented on #5194
Updated issue summary and revised the edits based on the actual changes that CDPH published.

[2021-09-03 18:00] LizNobriga commented on #5195
Edits are ready in staging

[2021-09-03 18:14] m-sullivan7 commented on #4921
For initial launch, this ticket is just for launching cases data.

[2021-09-03 18:15] m-sullivan7 commented on #5200
Pulling back to external review to address accuracy around the data underlying daily averages.

[2021-09-03 18:40] LizNobriga commented on #5195
Edits are now published

[2021-09-03 18:40] #5195 closed

[2021-09-03 21:27] m-sullivan7 opened #5218 "Vaccination data: content overhaul"
Update [Vaccination progress data](https://covid19.ca.gov/vaccination-progress-data/) page with the following goals:

- Present vaccination data more clearly
- Highlight vaccination equity successes
- Rethink the story we want to tell about vaccination data

[2021-09-03 21:56] LizNobriga opened #5219 "Workers and businesses: highlight box for end of fed benefits"
- [ ] add highlight box for ending of federal benefits with links

[DRAFT EDITS](https://docs.google.com/document/d/1NbYh1TnzBV7uDh-6SUXpWD0YbkBc1TWwLeL9yId8sqM/edit#)

[2021-09-03 22:30] mediajunkie opened #5220 "test issue from /github open cagov/covid19"
body of issue

[2021-09-04 01:02] LizNobriga commented on #5219
Highlight box published

[2021-09-04 01:02] #5219 closed

[2021-09-08 15:57] mediajunkie opened #5234 "trackerbox 3.0 fit and finish (design QA)"
A few things I noticed that need attention. First for @adam-little and then for @jbum 👍

@adam-little
- [x] at certain widths, vertical baseline grid rhythm is breaking because text is wrapped and stacking. I think the like elements should vary in the same height row of the grid though I'm not sure of the CSS logic to align things as such, but mainly please look at that and give @jbum guidance on

[2021-09-08 16:16] m-sullivan7 opened #5236 "State dashboard and vaccination progress data: 9/8 vaccines administered note"
Host a note about lagging data for vaccines administered on state dashboard. This may impact vaccination progress data too.

[2021-09-08 16:29] LizNobriga commented on #5090
(these edits were taken out of staging so we could publish on this page)

The return to work edits were sent as a word doc to stakeholders last week.

[2021-09-08 17:58] adam-little commented on #5234
**Re: box width -**

I think i'm aligned with @mediajunkie on your recommendation. Ideally, each element (title, large stats, small stats, chart) has the same height across all 4 blocks. Each element's height matches the height of the tallest element across the four blocks.

Example with no text wrapping:
![image](https://user-images.githubusercontent.com/69167298/132559903-f21b774d-d573-4eed-a044

[2021-09-08 18:03] mediajunkie commented on #5234
for the last point sounds like there are two choices, @adam-little :

1. follow the existing style sheet
2. change the state dash titles to white

We can do either. It's your call!

[2021-09-08 18:14] mediajunkie commented on #5234
@adam-little says to change state dash to white titles too:
![image](https://user-images.githubusercontent.com/3227378/132562719-3a87170b-79a5-48d9-9467-89f799309d7c.png)

[2021-09-08 18:15] LizNobriga opened #5237 "Workers and businesses: masking at work"
Consider including the [Cal/OSHA announcement](https://www.dir.ca.gov/DIRNews/2021/2021-86.html) encouraging workplaces to follow updated CDPH mask guidance recommending masks indoors on the Workers and businesses page.

@thepegisin has proposed edits to add masking at work content into this page (under Preventing COVID-19 in the workplace).

[DRAFT EDITS](https://docs.google.com/document/d/1NbYh1

[2021-09-08 18:15] LizNobriga commented on #5237
cc @m-sullivan7

[2021-09-08 18:23] m-sullivan7 commented on #5237
As usual @thepegisin is a master of improving content! This all looks great. 😄

[2021-09-08 20:46] LizNobriga commented on #5090
Revised [edits ](https://docs.google.com/document/d/18fvtpl-pJetLrmQHy-N6AlD-xXkK02typ5_-tx3-brg/edit#)based on external review feedback (see attachment: [Workers and businesses - return to work section _ mp ah mp.docx](https://github.com/cagov/covid19/files/7131716/Workers.and.businesses.-.return.to.work.section._.mp.ah.mp.docx)).

The revised edits score a grade 5 with one hard-to-read sentence:

[2021-09-08 21:08] m-sullivan7 commented on #5090
They look good to me! Only a couple minor edits, one of which you can dispense with if it seems appropriate in the context of your knowledge of the subject and stakeholders. :smile:

[2021-09-08 22:07] m-sullivan7 opened #5238 "State dashboard: LA county weekend note"
From Brooke at CDPH:

[2021-09-08 23:12] thepegisin opened #5241 "Create Testing Q/A for what to do if you may have been exposed"
Noted in per-page feedback that people want to know what to do if they may have been exposed. Checked our site, and we only glancingly deal with this. It may have been covered on a healthcare page that we no longer have.

[2021-09-08 23:17] thepegisin commented on #5241
Q/A drafted: https://docs.google.com/document/d/18NG21vDRhqR4Y795Mi1ibYhcuJd1F_EGHiVJKIZrKyo/edit

[2021-09-08 23:18] thepegisin commented on #5241
Slacked to Michael and Liz for feedback, and Angie and Xian for approval. https://cadotgov.slack.com/archives/G01493HF6CU/p1631135822121700

[2021-09-08 23:21] thepegisin opened #5242 "Vaccines update: Adding third doses to relevant Q/A"
A search on "third doses" brings up a relevant Q/A first, but that Q/A doesn't cover third doses. Propose editing to include existing approved language on third/additional doses.

[2021-09-08 23:23] thepegisin commented on #5242
Edits made to draft: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit

[2021-09-08 23:25] thepegisin commented on #5242
Slacked to Angie and Xian for approval: https://cadotgov.slack.com/archives/G01493HF6CU/p1631136368124400

[2021-09-08 23:29] m-sullivan7 commented on #5238
Working draft:

**Los Angeles County reporting delay**

The cases reported on Sunday, September 12, will not include data from Los Angeles County due to a system update. These cases will be reported on Monday, September 13.

[2021-09-08 23:55] LizNobriga opened #5243 "Get financial help: card design"
### Use card design for the Get financial help page
Card design [draft doc](https://docs.google.com/document/d/14t7gyGTN9VFDuOzPXUSpIAPur1JPTR-V_pK7vwLqyRo/edit#) for the **Financial help** page
- Uses card design without images
  - With this many cards and rows, photos may not be useful
  - A lot of stock photos on one page can appear gimmicky
  - It affects page performance
  - Hard to represent

[2021-09-09 00:53] LizNobriga commented on #4967
Closing ticket - see #5243 and #5142

[2021-09-09 16:07] mediajunkie commented on #5194
Please stage this for review or let me know if it is already staged, thanks, @LizNobriga

[2021-09-09 16:45] LizNobriga commented on #5237
Edits are now published

[2021-09-09 16:45] #5237 closed

[2021-09-09 18:19] jbum commented on #5172
This needs to be more specific.  Aaron has fixed the most glaring issue with the hospitalization chart. Axes have been aligned for sparklines.  Lower priority item to review other multi-axis charts on state-dashboard still remains open.

[2021-09-09 18:22] thepegisin commented on #5241
Angie approved. Staging and publishing.

[2021-09-09 20:41] m-sullivan7 commented on #5113
Note for whenever we pick this up again: there is a lot of per page feedback of people coming to this page to look for breakdown by age. Better navigation between data pages (like in https://github.com/cagov/covid19/issues/5056) might solve this, but this would be an area of expansion to explore with CDPH's data team.

[2021-09-09 20:47] thepegisin commented on #5241
Published.

[2021-09-09 20:47] #5241 closed

[2021-09-09 20:54] m-sullivan7 opened #5249 "Vaccination progress data: deduplication note"
CDPH is deduplicating vaccination records. The first batch is planned for September 17. These efforts will continue. The following note needs to be added to _Vaccination progress data_ at that time:

[2021-09-09 20:56] m-sullivan7 opened #5250 "Vaccination progress data: content overhaul"
Review _Vaccination progress data_ and think about ways to better present this information.

Content edits agreed to with @mediajunkie :

- Change title to _Vaccination data_
- Edit opening statement
- Update header _Overview of vaccine administration_ to _Statewide vaccination data_
- Update _Vaccination status by group_ to _Vaccinations by age, race and ethnicity, and Vaccine Equity Metric_
- Ad

[2021-09-10 16:05] m-sullivan7 commented on #5250
[One hour investigation](https://docs.google.com/document/d/1HzAmumTo7E-d-YETnOFaVTRRB557RTzhePpgxrQvzmE/edit) results.

[2021-09-10 20:27] m-sullivan7 commented on #5249
Wording approved by CDPH communication team.

[2021-09-10 22:53] m-sullivan7 commented on #5238
Approved note:

[2021-09-10 22:58] jaredwyee opened #5267 "Ctrl+F locates hidden content within Q&A, but there is no visual indication of where the word is on the page"
https://cadotgov.slack.com/archives/C029V9EP133/p1631312290082900

On the vaccines page https://covid19.ca.gov/vaccines/ if I ctrl+f for "safety" the only results are within Q&A context if they were expanded.

However, as I hit the down arrow/next button in Chrome I cannot find the word safety anywhere. If I clicked EVERY question to expand the content, I could find the word safety, but that defea

[2021-09-10 23:49] LizNobriga opened #5268 "Food page: make it easier to find food benefits"
People are asking for info that is already on this page. This may indicate that they use anchor links to jump to certain sections specific to a population, like children or older adults, and miss benefits available to everyone at the top of the page.
Improve H2s based on page feedback. Improve overall content using Hemingway.
[DRAFT EDITS](https://docs.google.com/document/d/1EgcLVV67fgdYtXVmTuSxIy

[2021-09-13 16:35] m-sullivan7 commented on #5238
Note published over the weekend and removed on Monday.

[2021-09-13 16:35] #5238 closed

[2021-09-13 16:40] m-sullivan7 commented on #5268
This is a really thorough set of revisions Liz! I like what you're doing a lot. I made some edits that, compared to the whole, are pretty small.

[2021-09-13 16:55] thepegisin commented on #5242
Jared gained approval. Published 9/13/21.

[2021-09-13 16:55] #5242 closed

[2021-09-13 17:12] mediajunkie opened #5274 "Combined tracker & cases by vax status launch"
_Pre-launch:_

**Everywhere trackerboxes appear**
- [x] For launch, Tests sparkline with fallback for bars
     - [x] get adam's input on options (solid, floating, and identical/redundant)
     - [x] implement solid fill (option 2)

**State dashboard**
- [x] Edits, structural changes, cross-link to vaccination progress dashboard (on V5)
    - [x] Finalize impact statement
- [x] Add Cases by Vaccin

[2021-09-13 18:50] m-sullivan7 opened #5275 "Homepage: update default video"
To fit the current message around vaccination, update the default video on the homepage to use a more recent one.

[2021-09-13 19:39] aaronhans opened #5276 "svg pre generation save files to CORS retrievable place"

[2021-09-13 19:54] jbum commented on #5276
Woot!

[2021-09-13 21:05] kkoryaka opened #5277 "Research using Figma API"
Research possibility of using Figma API into the cannabis color scheme variables.

<img width="631" alt="Screen Shot 2021-09-13 at 2 02 19 PM" src="https://user-images.githubusercontent.com/31669748/133156149-15ae90ad-addf-420f-a56f-009f4d57b92d.png">

[2021-09-13 21:11] m-sullivan7 commented on #5275
Published new video.

[2021-09-13 21:11] #5275 closed

[2021-09-13 22:08] aaronhans commented on #5276
Doing all this in a scheduled git action, PR here: https://github.com/cagov/covid-static/pull/678

[2021-09-13 22:09] aaronhans commented on #5276
^ If that works then we can remove the puppeteer script and associated workflow steps from the covid19 site build workflow

[2021-09-13 22:32] #5078 closed

[2021-09-13 22:33] #5236 closed

[2021-09-13 22:33] #5117 closed

[2021-09-13 22:46] mediajunkie opened #5278 "Equity chart cosmetic review"
@jbum (+as needed @adam-little ) to provide guidance re legend placement issues.

[2021-09-13 23:02] aaronhans commented on #5193
this is going on hold until Angie reviews new header

[2021-09-13 23:51] abquirarte commented on #5142
Lots of pages indeed!

[2021-09-13 23:52] abquirarte commented on #5243
I like where this is headed!

[2021-09-14 00:55] mediajunkie opened #5281 "Variants charts and page user testing"
[Test script](https://docs.google.com/document/d/17fbfRIV2c8uYzFeIRl0UfG9a-Lr_uM3fLfuG57wVUGA/edit)
- Jared

[2021-09-14 01:40] LizNobriga opened #5284 "Workers and businesses: Q&A for vaccine requirement for healthcare workers in correctional facilities"
Add link to CDPH's [Q&A](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/State-and-Local-Correctional-Facilities-and-Detention-Centers-Health-Care-Worker-Vaccination-Requirement-Order-FAQ.aspx) about the vaccination requirement for healthcare workers in correctional facilities and detention centers to the **Workers and businesses** page

**[draft edits](https://docs.google.com/document/d/

[2021-09-14 14:40] mediajunkie commented on #5268
These edits look good to me.

[2021-09-14 14:41] #5039 closed

[2021-09-14 14:42] mediajunkie commented on #4921
Content should be locked now for launch.

[2021-09-14 15:14] mediajunkie commented on #5268
Swirlbase says the stakeholders are Alexis Fernandez and Cassie Wagner (DSS) -- does that sound right, @LizNobriga

[2021-09-14 15:30] m-sullivan7 commented on #4921
I think so. Barring anything that comes up in QA with extra eyes, I consider it good to go.

[2021-09-14 15:38] m-sullivan7 commented on #5284
This looks good Liz. No changes from me!

[2021-09-14 16:11] LizNobriga commented on #5268
@mediajunkie Alexis is the branch chief and we've typically worked directly with managers from her branch that handle different areas. This includes Kathy Yang for CalFresh, Cassie Wagner for CalFresh for college students, Hares Rahimzei for Pandemic-EBT, and Brian Kaiser for food banks and food boxes.

[2021-09-14 16:12] LizNobriga commented on #5268
The Food page edits are in staging.

[2021-09-14 16:32] jaredwyee commented on #5281
@mediajunkie Is anything outstanding here? the videos are the top line takeaway are in the doc you linked

[2021-09-14 17:06] LizNobriga commented on #5090
Edits are published

[2021-09-14 17:06] #5090 closed

[2021-09-14 17:09] LizNobriga commented on #5284
@mediajunkie This edit is a small change to add the new Q&A to the Workers and businesses page.

[2021-09-14 17:34] zakiya commented on #5278
https://covid19.ca.gov/equity/

When user hovers over lines that are close together, labels are difficult to read.

![CleanShot 2021-09-14 at 10 34 13](https://user-images.githubusercontent.com/915352/133306269-1800ecb6-e732-4105-857b-f976090742c5.png)

[2021-09-14 20:49] aaronhans opened #5288 "per page feedback data retrieval research"
I saw some of the content team discussing workarounds they had to go through in order to get the per page feedback in the datastudio report.

Would using a different data embed strategy like creating our own widget and embedding it with this technique https://support.google.com/datastudio/answer/9132022?hl=en improve things?

Some complaints:

From @thepegisin:

Talk about per-page feedback in the

[2021-09-14 21:33] abquirarte commented on #5250
cc @adam-little FYSA.

[2021-09-14 22:15] aaronhans commented on #5288
Some discovery:

We can embed fully interactive page into datastudio but when you do this it gives you a warning that this content is not part of datastudio and you have to click a proceed button before viewing the dataset.

This warning is easy to bypass but makes the whole experience seem unprofessional. We may want to use this method to improve the experience in the short term for our internal

[2021-09-14 23:41] aaronhans commented on #5276
puppeteer script removed from covid19 npm scripts and build steps

[2021-09-15 01:30] LizNobriga commented on #5194
Edits are published

[2021-09-15 01:30] #5194 closed

[2021-09-15 17:19] m-sullivan7 commented on #4921
Content published this morning with charts.

[2021-09-15 17:19] #4921 closed

[2021-09-15 17:19] m-sullivan7 commented on #5200
Content published this morning with new tracker boxes.

[2021-09-15 17:19] #5200 closed

[2021-09-15 17:26] m-sullivan7 opened #5295 "State dashboard: vaccinated/unvaccinated death data content"
Publish new content around the launch of death data by vaccination status.

The content will be updated in [this Google Doc](https://docs.google.com/document/d/1F25QPNVPBi3zVAOxdDjhSjJGC0tiwCqr5GyYd5JuXyg/edit?usp=sharing).

[2021-09-15 21:44] LizNobriga commented on #5284
Edit published

[2021-09-15 21:44] #5284 closed

[2021-09-15 21:52] thepegisin opened #5297 "Publish homepage banner headline highlighting vaxed vs. unvaxed data"
Highlight new vaxed vs. unvaxed data on Tracking COVID-19 in California page with a homepage banner.

[2021-09-15 21:52] thepegisin commented on #5297
Draft: https://docs.google.com/document/d/1T-sKeNUY1DaUJqpXQXzcv_FIzIXc1BG18YdTrMgtlAo/edit

[2021-09-15 21:53] thepegisin commented on #5297
Approved by Angie. Staged and published 9/15/2021.

[2021-09-15 21:54] #5297 closed

[2021-09-15 22:06] #4982 closed

[2021-09-15 22:07] #5045 closed

[2021-09-15 23:16] thepegisin opened #5298 "Booster shots homepage banner"
Drafted a banner headline for the homepage in case booster shots become available on Monday 9/20. If that's the case, Michael will edit draft as needed and publish.

If this doesn't happen by Tuesday 9/21, reassign this ticket to me.

[2021-09-15 23:17] thepegisin commented on #5298
Original draft: https://docs.google.com/document/d/1T-sKeNUY1DaUJqpXQXzcv_FIzIXc1BG18YdTrMgtlAo/edit#

[2021-09-16 00:18] mediajunkie opened #5299 "State Dash postlaunch"
_Post-launch:_

**Trackerbox iteration**
- [x] Need to translate new strings
- [x] Update Tests box's sparkline bars when daily tests data is available
- [x] Potentially update weight of various data rows (decided against)

**Post vax chart iteration**
- [x] Move the note for the vaccinated vs. unvaccinated chart into a Chart information drawer (for consistency with the other charts on the page)
-

[2021-09-16 00:19] #5274 closed

[2021-09-16 16:38] m-sullivan7 opened #5308 "9/16 vaccines administered note"
Place a note on the homepage, state dashboard, and _Vaccination progress data_ about vaccines administered data being incomplete.

[2021-09-16 16:49] m-sullivan7 commented on #269
@mediajunkie I'm not aware of this ever being addressed. I'm not sure it's still needed.

[2021-09-16 16:50] m-sullivan7 commented on #5038
After some testing while doing a screenshare with @aaronhans on Tuesday, this is no longer an issue. @mediajunkie I propose we mark this issue as done.

[2021-09-16 16:53] m-sullivan7 commented on #5299
@mediajunkie I'd like to request an addition to this list: moving the note for the vaccinated vs. unvaccinated chart into a _Chart information_ drawer for consistency with the other charts on the page. I think this would be easy to do (I might even be able to do it with just an engineer review of my work in WordPress) and it would make it easier to add additional info, like CDPH's request that we

[2021-09-16 16:58] m-sullivan7 commented on #5308
Notes are published.

[2021-09-16 16:58] #5308 closed

[2021-09-16 17:36] mediajunkie commented on #5299
agreed!

would the info drawer be the best place for a link to CDPH's Q/A's? That seemed more like something for the main paragraph to me.

[2021-09-16 17:37] #269 closed

[2021-09-16 17:38] #5038 closed

[2021-09-16 18:01] m-sullivan7 commented on #5299
We always run a risk that people leave a page when we introduce a link. CDPH's page is more of a deep dive, especially because it starts with what, how, and why instead of foregrounding data like the chart. It comes down to how important we feel CDPH's information is. Once we set that priority, I think it'll be clear what the best place for it is (if we want the link on the page).

[2021-09-16 22:47] kkoryaka commented on #5277
Figma files that needs to be used:
https://www.figma.com/file/3N4dFWhFqiGpWr1DRQoJUM/Design-system-colors?node-id=0%3A1
Figma file value: 3N4dFWhFqiGpWr1DRQoJUM

API Tutorials:
https://www.figma.com/developers/api

Curl Command that fetches figma's colors page:
curl -H 'X-FIGMA-TOKEN: HERE-GOES-YOUR-TOKEN' 'https://api.figma.com/v1/files/3N4dFWhFqiGpWr1DRQoJUM'

Other examples:
Figma connect js ex

[2021-09-17 16:07] m-sullivan7 commented on #5249
Note is live.

[2021-09-17 16:07] #5249 closed

[2021-09-17 18:14] m-sullivan7 commented on #5299
Published chart information accordion with CDPH link.

[2021-09-17 23:23] jbum opened #5316 "For homepage labels translations, use English if local translation is not available yet."
When new text is added to the home page, during the short time that a translation is unavailable, the current behavior is to display nothing in the spots where the translated text should appear.

I suggest changing this behavior to show the English original, instead.

This involves changing a routine in pages/_data/pubData.js.

[2021-09-18 20:44] jbum opened #5318 "Pregenerate postvax chart, similar to how sparklines are handled."
Currently, spark-lines in the tracker boxes are generated dynamically on the state-dashboard-sparklines, captured in the morning and copied into the covid-static repo for distribution via the CDN.

Let's do the same for the postvax chart, currently in src/js/dashboard/charts/cagov-chart-dashboard-postvax-chart/
This mostly involves renaming things, and moving code around.  The more charts we handl

[2021-09-18 20:45] jbum opened #5319 "Remove charts-sandbox"
No longer needed, since the state-dashboard-sparklines can handle this need.

[2021-09-18 20:46] jbum opened #5320 "Fix postvax chart on IE11"

[2021-09-18 20:47] jbum opened #5321 "Add deaths postvax chart to staging for preview."

[2021-09-18 20:48] jbum opened #5322 "Fix "chart-checker" daemon to work with new state-dashboard layout, and to provide more useful updates for more chart content and tracker boxes."

[2021-09-18 20:50] jbum opened #5323 "Clean up new Cron code, add complete schema."
* Add complete schema.
* Pregenerate all averages needed for sparklines.
* Fix weekly postvax cronjob to write to staging branch

[2021-09-20 23:44] jbum commented on #5322
DONE

[2021-09-20 23:44] #5322 closed

[2021-09-20 23:45] jbum commented on #5321
DONE

[2021-09-20 23:45] #5321 closed

[2021-09-20 23:45] jbum commented on #5320
In progress.

[2021-09-20 23:46] jbum commented on #5318
In progress.  Pre-generated charts are in place, but we are not yet crawling and rendering the pre-rendered SVGs on state-dash. Slightly complicated by the fact that the template includes some additional HTML with substitution strings.

[2021-09-21 18:06] jbum opened #5334 "Make Crons and other timer-based tasks less sensitive to PDT/PST changes"
Currently our Cron jobs are timed using GMT, which is invariant, versus local time, which changes by one hour when we cross from Daylight Savings to Standard time and back. As a result, one hour adjustments are needed to cron jobs to compensate for this (but because of the way time is measured on computers, these adjustments lag by a day).

Time keeping on crons is also complicated by the need to

[2021-09-21 22:20] m-sullivan7 opened #5338 "State dashboard: note for tracker boxes on reporting 5 days a week"
CDPH is moving to reporting data Monday through Friday only. This ticket is to update the note below the tracker boxes to note this change.

[Working Google Doc](https://docs.google.com/document/d/1Qg86KbbZXg_nFGXo4FnIBj9JLdTr5EaZTMbiMyLP2pY/edit?usp=sharing)

[2021-09-21 22:24] jbum commented on #5318
Closing.  Pregeneration is in place, but we still need to display dynamics charts on state-dashboard due to use of tooltips.

[2021-09-21 22:24] #5318 closed

[2021-09-21 22:24] #5319 closed

[2021-09-22 15:23] abquirarte commented on #5299
Can we better identify the blockers here so we can unblock?

[2021-09-22 19:29] mediajunkie opened #5345 "Resume weekday reporting for cases, tests, and deaths."
When: as of Saturday, September 25

Data changes (@jbum & Satya for ESS/CDPH):
- [x] for covid pages, none expected
- [x] CDPH has questions about the date of their case statement

Content changes (@michael-sullivan):
- [ ] add approved language to footnote for tracker box on state dashboard page
- [ ] find out whether to add immediately or on Friday
- [ ] Add note above chart ahead of change (sim

[2021-09-22 20:30] m-sullivan7 commented on #5345
Content changes also being tracked in https://github.com/cagov/covid19/issues/5338

[2021-09-22 23:07] mediajunkie opened #5353 "Systematically link to Open Data Portal (from chart information and tracker boxes)"
Still to do:

- [x] review gaps and assumptions in Mchael's spreadsheet
- [ ] Explore rationale for our partially duplicative data dictionary entries

Needs some exploration.

Here is [how SF does it. ](https://sf.gov/data/covid-19-cases-and-deaths)
<img width="778" alt="Screen Shot 2021-09-23 at 1 14 43 PM" src="https://user-images.githubusercontent.com/9556188/134577725-f4e3827f-732b-4163-9cb8-2

[2021-09-22 23:11] abquirarte commented on #5353
FWIW- I made this ask :)

Currently we bury links to the open data versions of our data dashboards/charts. As best practice, I'd like to have a link to the open data of each viz close to the visualization.

[2021-09-22 23:15] mediajunkie commented on #5142
@LizNobriga for each program we need to know:
- what is it
- where is it currently
- what is the plan for it (where is it going)
- who is the approver

so let's go over that together

[2021-09-22 23:56] abquirarte commented on #5268
Nice email to stakeholders!

[2021-09-23 16:15] m-sullivan7 opened #5361 "9/23 delayed data note"
Today's vaccination data is not complete. Publication has been delayed and is not expected until the early afternoon. This affects cases, deaths, and hospitalization data as well. Write and publish a note alerting readers to this delay and the expected publication timeline.

[2021-09-23 16:36] thepegisin opened #5362 "Add link to Vaccines Action Plan on Vaccines page"
GO/CDPH released Vaccines Action Plan on Wed 9/23/21. Since it deals mainly with how we will meet vaccine demand once boosters are authorized, put a link to it in the _Boosters_ section of the **Vaccines** page.

[2021-09-23 16:40] thepegisin commented on #5362
Draft: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit#. Slacked to @mediajunkie and @abquirarte for approval.

[2021-09-23 17:23] #5361 closed

[2021-09-23 17:34] zakiya opened #5363 "Simple Table"
Notes:

- [Tables here] https://cannabis.ca.gov/applicants/application-license-fees/ are coming from the caweb state template styles which are minified and pasted into the CAWeb theme tools.

- We should create a table component in the design system

- [Staging](https://staging.covid19.ca.gov/variants) `do-not-crawl`

- [Figma](https://www.figma.com/file/LrzsOu8U5KcMAjJTQ1O3BG/COVID19.ca.gov-scree

[2021-09-23 18:13] thepegisin commented on #5362
Approved by Angie and published.

[2021-09-23 18:13] #5362 closed

[2021-09-23 21:23] m-sullivan7 commented on #5338
Note approved by Kristal and Carlos. Carlos will circulate for final sign off.

[2021-09-23 21:55] m-sullivan7 opened #5366 "State dashboard tracker box note accordion"
The state dashboard's tracker box disclaimer note is getting long, especially with the addition for weekday reporting from https://github.com/cagov/covid19/issues/5338

To help people understand this information better:

- Create a chart information drawer (with a new name)
- Organize the notes into bullets.

[Google Doc with changes](https://docs.google.com/document/d/1gB-b8Jyy8buRbQzH5S5cyAlXkkc

[2021-09-24 14:59] zakiya commented on #5363
@m-sullivan7 You can view the new default table styles at https://staging.covid19.ca.gov/variants

[2021-09-24 15:37] m-sullivan7 commented on #5363
Thank you @zakiya ! Is there a way to make the table border clearer? I see it, but it might be too faint for some people.

In the absence of @adam-little (who I'm tagging so he can give an opinion when he returns), I'm going to solicit opinions from the content team on whether we should center the table instead of have it left-justified. Do you know if the content team can do that already? (I'm ha

[2021-09-24 16:03] m-sullivan7 commented on #5366
Here's the code I'm attempting to add. There may be errors in it.

`<div class="wp-block-cgb-block-chart-drawer"><cagov-accordion class="chart-drawer"><div class="card"><button class="card-header accordion-alpha" type="button" aria-expanded="false"><div class="plus-munus"><cagov-plus></cagov-plus><cagov-minus></cagov-minus></div><div class="accordion-title">Data notes</div></button><div class="car

[2021-09-24 16:10] jbum opened #5378 "Tighten morning rollout."
Currently, due to Git contention, our site starts updating around 9am, and finishes around 9:30am.  We can fix this by writing our jsons (in covid-static-data repo) to a preproduction branch, and then merging the pre-production branch at 9:30. This would cause a single data update, rather than a series of them. It produces a cleaner roll-out, and gives us more time (between 9 and 9:30) to withhold

[2021-09-24 16:33] #4971 closed

[2021-09-24 16:43] zakiya commented on #5363
@m-sullivan7 Here it is with a black border (same as the figma mockup)
![CleanShot 2021-09-24 at 09 39 36](https://user-images.githubusercontent.com/915352/134710720-3912ec29-2556-43b2-84cc-8a9797bcafbd.png)

Here it is with something in between (#b1b1b1)

![CleanShot 2021-09-24 at 09 42 17](https://user-images.githubusercontent.com/915352/134711054-5b715220-ae9a-4a6e-ae32-a2d439c1c5bf.png)

Looks

[2021-09-24 17:17] m-sullivan7 commented on #5363
Thanks for the options Zakiya! We're going to go with the first option (black, in line with @adam-little 's Figma). Even if that was only a provisional design from Adam, we're more confident following that.

Thank you for the investigation of the alignment. We would indeed like to center the table if possible, so it will be useful!

[2021-09-24 18:03] m-sullivan7 commented on #5338
Note launched.

[2021-09-24 18:03] #5338 closed

[2021-09-24 18:24] m-sullivan7 opened #5381 "State dashboard: vaccinated/unvaccinated hospitalization data content"
Publish new content around the launch of hospitalization data by vaccination status.

[Google Doc with draft content](https://docs.google.com/document/d/1BQNLg_wZnvsRvPYZ5Rht6Y1Xz6jGy8Nk4vJ8yOAqF9k/edit?usp=sharing)

[2021-09-24 19:44] zakiya commented on #5363
@m-sullivan7 Border colors updated and you should be able to change the alignment using the alignment button in Wordpress.
![CleanShot 2021-09-24 at 11 11 49](https://user-images.githubusercontent.com/915352/134721509-599083b9-a27e-4d01-bd73-66158bf3e7b2.png)

[2021-09-24 20:09] m-sullivan7 commented on #5363
Looks great! I see the first table is already centered. Happy to test drive centering the second one. 😄

[2021-09-24 20:51] m-sullivan7 commented on #5363
@zakiya I tried the alignment myself and it worked great! I'm a happy customer. From my point of view, this work can be considered finished. 😀

[2021-09-27 16:44] thepegisin opened #5389 "Boosters update for Vaccines page"
Update the Vaccines page to give 9/27 criteria for booster eligibility.

[2021-09-27 16:45] thepegisin commented on #5389
Drafted, added link to CDC page on boosters: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit#

[2021-09-27 16:47] thepegisin opened #5390 "Headline announcing boosters"
Homepage banner headline announcing that boosters are available. Include how to check eligibility and schedule on My Turn.

[2021-09-27 16:48] thepegisin commented on #5390
Drafted: https://docs.google.com/document/d/1T-sKeNUY1DaUJqpXQXzcv_FIzIXc1BG18YdTrMgtlAo/edit#

[2021-09-27 17:19] mediajunkie opened #5391 "Apply grid to tracker box"
At narrow widths, text wrapping is making trackerbox content appear at different heights:
![image](https://user-images.githubusercontent.com/3227378/134955567-0b615da7-83e5-4527-b536-4c07742a62d3.png)

In the above image the white boxes show where each segment should land and the yellow boxes and numbers shows elements that are out of the desired position.

[2021-09-27 17:19] mediajunkie commented on #5391
@jbum fyi

[2021-09-28 00:28] thepegisin commented on #5390
Published.

[2021-09-28 00:28] #5390 closed

[2021-09-28 00:28] thepegisin commented on #5389
Approved and published.

[2021-09-28 00:29] #5389 closed

[2021-09-28 00:29] #5298 closed

[2021-09-28 17:04] kkoryaka commented on #5277
Using a tool that contains the retrieval code that depends on a specific figma file structure: https://github.com/B3nnyL/figgo

[2021-09-28 17:12] zakiya commented on #5278
@mediajunkie Closing as this is done.

[2021-09-28 17:12] #5278 closed

[2021-09-28 17:13] zakiya commented on #5391
Closing since it was worked on and merged by @jbum

[2021-09-28 17:13] #5391 closed

[2021-09-28 17:52] adam-little commented on #5363
Hi All,
Thanks for the work on this. For COVID-19, let's use black.

However for the design system, I think it might make sense to choose one of the shades of gray from our design system color palette. I'll make sure to create a version of this in Figma.

[2021-09-28 20:45] adam-little commented on #5056
@m-sullivan7 one thought is to reuse the "card" design that we use on [Current Safety Measures](https://covid19.ca.gov/safely-reopening/) and the upcoming Financial Help update.

In this case, we could replace the "More data and tools" component at the bottom of the State Dashboard with a layout like this:
![image](https://user-images.githubusercontent.com/69167298/135162908-b19addb1-67cc-42e4-90c

[2021-09-28 21:33] LizNobriga opened #5397 "Financial help for businesses: update content"
Updating content on Financial help for businesses - draft [doc](https://docs.google.com/document/d/11p9EE7ZyyHeVWCr2vWCOsDphcS0Se9tViCOKTN5fmUw/edit) with edits in progress

[2021-09-29 16:36] zakiya commented on #5363
Styles merged for covid. A separate issue exists for cannabis so I'll close this issue.

[2021-09-29 16:36] #5363 closed

[2021-09-29 16:47] LizNobriga opened #5403 "Workers and businesses: new PHO requiring workers to be vaccinated"
Update the Workers and businesses page to reflect changes in the new public health order requiring workers to be vaccinated

[Adult Care Facilities and Direct Care Worker Vaccine Requirement](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Order-of-the-State-Public-Health-Officer-Adult-Care-Facilities-and-Direct-Care-Worker-Vaccine-Requirement.aspx) - September 28, 2021

[DRAFT](https://d

[2021-09-29 16:48] #5345 closed

[2021-09-29 17:20] jbum commented on #5234
I think this is working now...

[2021-09-29 17:20] #5234 closed

[2021-09-29 17:21] jbum commented on #5295
Launched Wednesday 9/29

[2021-09-29 17:21] #5295 closed

[2021-09-29 17:23] jbum commented on #5378
Some progress has been made here, in that updates don't begin til 9:15 now.  However, some lingering issues remain.

* The PRs produced to preproduction are numerous (5-7 depending on the day) but only one can run every 5 minutes.  Need to schedule a couple jobs earlier to insure they are done by 9:20

* Work with carter on automating preproduction -> main merge at 9:20

* Sparkline rendering is h

[2021-09-29 17:27] adam-little commented on #5363
@zakiya i added tables to the design system in Figma. This will be relevant for this Cannabis issue.

https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/Design-system-components?node-id=5%3A5102
- Table cells should have 16px padding
- Borders should be Gray 700 (#a09fa7)

[2021-09-29 17:41] jbum opened #5404 "November 7th patches needed for Daylight Savings"
My checklist of changes needed:

https://mixed-square-36c.notion.site/Daylight-Savings-Checklist-b00326f205574074b77fa74724471e0e

[2021-09-29 18:00] thepegisin opened #5405 "Update Vaccines page per 9/28 PHO"
Update Vaccines page per 9/28 PHO ordering care workers to be vaccinated by November 30, 2021.

[2021-09-29 18:05] thepegisin opened #5406 "Update booster eligibility section on Vaccines page"
In Tuesday's vax comms meeting, Michelle Jelacic let me know that our eligibility criteria for boosters was not complete. We need to add "social inequity" and the definition of high-risk jobs. She emailed me CDPH's version of this:

[2021-09-29 18:14] LizNobriga opened #5407 "Financial help for businesses: remove CA venues grant program"
Stakeholder confirmed info should be removed (not ready to release dates or details)

[DRAFT
](https://docs.google.com/document/d/1VsJgHAdoTLNB396uRYDYpog91KzF_hU_GgwsvnJOrsg/edit)

[2021-09-29 18:15] thepegisin commented on #5406
I've drafted a simpler, more readable version of this for our _Booster shots and additional doses_ section: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit#

[2021-09-29 18:21] thepegisin commented on #5406
Slacked @mediajunkie for permission to publish.

[2021-09-29 18:23] thepegisin opened #5408 "Add Q/A to Vaccines page re: when boosters will appear on your digital vaccine record"
In the 9/28 vax comms meeting, Jaime Bloom let me know that My Turn has added the following Q/A to their site. I think we should add it to, as we'll almost certainly get this question.

[2021-09-29 18:35] LizNobriga commented on #5407
Edit published

[2021-09-29 18:35] #5407 closed

[2021-09-29 18:45] thepegisin commented on #5408
**Vaccines** new Q/A drafted under _What to expect after vaccination_ section. https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit#

[2021-09-29 19:22] thepegisin commented on #5406
Approved, staged, and published.

[2021-09-29 19:22] #5406 closed

[2021-09-29 19:23] thepegisin commented on #5405
Approved, staged, and published.

[2021-09-29 19:25] thepegisin commented on #5408
Approved, staged, and published.

[2021-09-29 19:25] #5408 closed

[2021-09-29 19:43] aaronhans opened #5409 "Test out new Github Advanced security tool"
This code scanner is part of Github's Advanced security system they sell to enterprise customers. It is free to run on open source repositories.

Let's run it on covid and see what the results are:

https://github.com/github/codeql-action/

cc @ChadABratton because this came up in our security discussion

[2021-09-29 19:44] mediajunkie commented on #5403
Changes looks straightforward. Let's publish and I'll update involved folks along with telling them about the Vaccines page updates.

[2021-09-29 19:46] zakiya commented on #5363
Got @adam-little. Style updates made on related PRs:

https://github.com/cagov/design-system/pull/144
https://github.com/cagov/cannabis.ca.gov/pull/396

[2021-09-29 22:28] LizNobriga commented on #5403
@mediajunkie I made more edits to help improve readability, but we'll revisit this in the next update. Publishing now.

[2021-09-29 22:38] #5403 closed

[2021-09-30 16:14] LizNobriga opened #5417 "Update handbook to include adding/removing pages to PPF report"
Update to [covid internal handbook ](https://teamdocs.covid19.ca.gov/teams/content/)- process for adding/removing pages to content analytics report to collect page feedback

[2021-10-01 00:11] LizNobriga opened #5419 "Workers and businesses: add covid-19 worker benefits and leave navigator"
Add link to the new [navigator for COVID-19 worker benefits and leave](https://saferatwork.covid19.ca.gov/covid19-worker-benefits-and-leave-navigator/) on Safer At Work

[Google doc draft](https://docs.google.com/document/d/18JQsc9Zd07L3idOvuyE8esJYirjKwJs7SrVs-drgsvk/edit)
[Staging](https://staging.covid19.ca.gov/workers-and-businesses/#worker-benefits)

- [x] draft
- [x] stage
- [x] internal rev

[2021-10-01 18:15] LizNobriga opened #5423 "Education and childcare: student vax requirement"
GGN announced student vaccination requirement once FDA fully approves a COVID-19 vaccine for kids 12 and up (in grades 7-12).
[Draft](https://docs.google.com/document/d/1thAGG_GjDAlRIh5oVpMASEE4ssYl6ZELShSj9c9G4qE/edit#)

[2021-10-01 18:37] thepegisin opened #5424 "Point homepage video to today's press conference, and revert at EOD"
- [x] Update homepage video link to point to today's press conference by 10AM.
- [x] Use image/text/link template for press conferences in _Video section_ post.
- [x] Revert to usual video image/text/link at 5PM.

[2021-10-01 18:54] thepegisin opened #5425 "Banner headline for schoolchildren vax mandate"
- [x] Draft banner for schoolchildren vax mandate: https://docs.google.com/document/d/1T-sKeNUY1DaUJqpXQXzcv_FIzIXc1BG18YdTrMgtlAo/edit#heading=h.ah68pjhj93yw
- [x] Find appropriate place to link to from headline
- [x] Get approval
- [x] Stage
- [x] Publish

[2021-10-01 19:44] #5425 closed

[2021-10-01 19:52] LizNobriga opened #5426 "Financial help for businesses: EIDL program and other page updates"
[Draft](https://docs.google.com/document/d/1DfMh04qNBA4xn1vHJw0vPnTIN5yEGvyuqM8vbKU5ZxU/edit#) edits in progress to use page style template and make updates to content
Draft edits now include changes to the COVID-19 EIDL program that take effect Jan 1, 2022.

Proposed edits to:

- Update page style to align with standards
- Update covid-19 EIDL program changes effective Dec 31, 2021
- Add content

[2021-10-01 21:06] LizNobriga opened #5427 "Housing and rent: update content"
Updating content on **Housing and rent** to reflect program updates and page feedback.

Proposed edits to:
- Add new content for:
  - Mortgage relief program
  - Affordable rental housing
- Update content in these sections:
  - Help for people experiencing homelessness
  - Eviction protection
  - Rent and utilities
  - Mortgage forbearance

[Draft edits](https://docs.google.com/document/d/1vvbvdMJ

[2021-10-01 21:48] #5419 closed

[2021-10-02 00:28] #5424 closed

[2021-10-04 15:42] m-sullivan7 commented on #5295
Thanks for closing on my behalf Jim!

[2021-10-04 15:50] m-sullivan7 commented on #5056
Interesting idea! I think it could. I like the ability to add some details about what can be found on each page so people know where to look.

How flexible do you think we could be in placement on the page? I'd initially thought about putting something at the top of each page. This design probably wouldn't fit at the top. That said, putting it at the bottom as in this example could be a good first

[2021-10-04 19:36] thepegisin opened #5440 "Update to Testing page highlighting when to get tested"

[2021-10-04 19:40] thepegisin opened #5441 "Update to Current safety measures adding link to translated COVID-19 guidance"
Realized today that CDPH's [COVID-19 Guidance in More Languages](https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/COVID19MultilingualDocuments.aspx) is not linked anywhere in our site. Proposed the best place I could think of, which is in **Current safety measures**. This would then be accessible to people who speak other languages once the updated page is translated.

@mediajunkie , draft

[2021-10-04 21:27] adam-little commented on #5056
Here's another low-tech solution:

- Leverage the [Data and Tools](https://covid19.ca.gov/data-and-tools/) page and update the content in a way that elevates the dashboards on covid19.ca.gov
- The State Dashboard already has a prominent CTA to the Data and Tools page. We could apply the same CTA to the Vax Progress Dash and the Equity Dash

[2021-10-04 22:09] m-sullivan7 commented on #5056
I like the idea of a standard, final section on each of the chart pages that highlights the existence of other pages and provides detail about what they'll find.

We get some traffic to _Data and tools_ of people looking for info available on the chart pages. A little less than half this traffic comes in the form of people's landing page. Based on that, I think placing content at the top of _Data

[2021-10-04 22:12] m-sullivan7 commented on #5366
Accordion code implemented successfully and published to production.

[2021-10-04 22:12] #5366 closed

[2021-10-04 22:29] adam-little commented on #4979
Here are updated designs:

https://www.figma.com/file/LrzsOu8U5KcMAjJTQ1O3BG/COVID19.ca.gov-screens?node-id=7983%3A37720

Desktop:
- Please use same dropdown style as the COVID19 language picker dropdown
- Font size for menu items are 19.2rem (same as P)

Mobile:
- No changes. Continue to use hamburger menu as is.

[2021-10-04 23:42] m-sullivan7 commented on #5056
[First draft](https://docs.google.com/document/d/17T88FpKENXXCMhHMBbdoe_Gr52MGpRstorHO4pIZoqU/edit?usp=sharing) of what this section would look like on the state dashboard. I'll work on the other pages tomorrow (which just need a section for state dashboard).

[2021-10-05 17:05] m-sullivan7 commented on #5417
Added to the internal handbook at https://teamdocs.covid19.ca.gov/teams/content/editing.html#restoring-posts-or-reusing-url-slugs

[2021-10-05 17:05] #5417 closed

[2021-10-05 17:17] mediajunkie commented on #4979
please let @adam-little or @mediajunkie know if you have any questions

[2021-10-05 17:29] m-sullivan7 commented on #5056
More first drafts of what this implementation would look like on other data pages:

- [Vaccination progress data](https://docs.google.com/document/d/17M9ymRidkNDCDwl0azd2VwtrO1I-FJpyvmK0acL240Q/edit?usp=sharing)
- [Health equity](https://docs.google.com/document/d/1vfuYv_iZzSkDxt1vRb69XDZnBWALzKa18Lw8VJsIhlA/edit?usp=sharing)
- [Data and tools](https://docs.google.com/document/d/1kjvGa3c4QGWL4NHJC

[2021-10-05 17:44] zakiya commented on #4979
@adam-little  Do you want the ribbon menu to be fixed on scroll along with the main header?

[2021-10-05 20:07] adam-little commented on #5056
Looks good to me

[2021-10-05 20:08] abquirarte commented on #5056
Same. I like the approach!

[2021-10-05 20:12] m-sullivan7 commented on #5056
Thanks for the review! I'll go work on staging on _Data and tools_.

[2021-10-05 20:14] adam-little commented on #4979
Good question. Yes, can you make the ribbon fixed? Then we can evaluate whether or not it has a negative impact on available screen real-estate for page content.

[2021-10-05 20:31] mediajunkie commented on #5441
This looks good. Please go ahead and publish.

[2021-10-05 20:50] m-sullivan7 commented on #5056
[Here it is!](https://staging.covid19.ca.gov/data-and-tools#more) Thoughts?

(PS--big thanks to Jim, who I'm not tagging since it's Tech Debt Tuesday, for showing me how to play around with the top and bottom margins to eliminate white space. We did that together on state dashboard and I was able to play around here with that to clean things up!)

@abquirarte with @mediajunkie and @adam-little cop

[2021-10-05 21:17] adam-little commented on #5056
Looks good to me!

A few small comments:

- I don't think it *needs* to go in the page index just because it's an h2, but i'm ok with leaving it there if you think it adds value
- Are you able to remove the gray horizontal line above the component? Since this section has a different background color, the line is not needed
- On Chrome, i see empty white space between this component and the footer.

[2021-10-05 21:33] m-sullivan7 commented on #5056
Thanks for the comments Adam!

- I put the link in the index to help people who might enter the site via one of these pages. However, now that I think about it we could launch without and see if we continue to see comments in page feedback.
- I might be able to change the line's color so it's not as obvious. Thanks for pointing that out!
- I'll need to get an engineer's help to see if we can get r

[2021-10-05 22:41] thepegisin opened #5450 "Correct Vaccines page to have booster social inequity eligibility include 18-64"
Correction requested by Devon Keeler via email (through @mediajunkie).

Drafted changes: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit

[2021-10-05 23:46] zakiya commented on #4979
@adam-little @mediajunkie Does the site have a philosophy for hover and focus states?

[2021-10-06 00:29] mediajunkie commented on #4979
Great question! I'd defer to @adam-little on that, especially for what we have been doing up to now.

Adam, is this something we have a clear point of view on in the covid19 site design? If not, maybe we can come up with a working approach for the time being, If so, is it captured somewhere (or in specific examples)? If not, we can make note of it, somehow.

[2021-10-06 01:07] thepegisin commented on #5450
Approved and published.

[2021-10-06 01:07] #5450 closed

[2021-10-06 17:50] m-sullivan7 commented on #5218
@mediajunkie This issue was created in advance of a meeting we were going to have with people from the vaccination campaign. I don't think there are any action items and any changes would probably happen as part of https://github.com/cagov/covid19/issues/5250

OK to close?

[2021-10-06 17:56] zakiya commented on #4979
Using this comment to track my @todos and notees. I will update it as I make progress.
- verify breakpoint where layout changes
- hover/active/focus
- Remove hamburger from large screens
- Check body position on interior pages.

[2021-10-06 18:04] thepegisin commented on #5441
Staged and published 10/6/21.

[2021-10-06 18:04] #5441 closed

[2021-10-06 18:26] adam-little commented on #4979
@zakiya Good question (again). Sorry for not providing this documentation up front.

Generally on COVID we use underlines for hover states and borders for focus states.

[Here's where you can see](https://www.figma.com/file/LrzsOu8U5KcMAjJTQ1O3BG/COVID19.ca.gov-screens?node-id=4591%3A16844) various button and link states for COVID. I added a section for the ribbon menu and the menu dropdowns.

![i

[2021-10-06 20:16] #5056 closed

[2021-10-06 20:19] jbum opened #5454 "Fix potential security security issues identified by code-scanning."
Consequence of #5409.

Fix potential security security issues identified by code-scanning, which can be viewed here:

https://github.com/cagov/covid19/security/code-scanning

[2021-10-06 20:38] thepegisin opened #5455 "Correct Vaccines page booster info on social inequity"
Per Devon Keeler (CDPH), booster eligibility around social inequity is incorrect. Have gotten some conflicting edits via email through @mediajunkie. Am confirming final version before publishing.

Draft: https://docs.google.com/document/d/1upSAaN-n4idaetIjIAMrHO6g6TL_Zkt7ulRHzP4n-EE/edit

[2021-10-06 20:38] jbum commented on #5454
Fixed the top level issues.  There are a couple 'medium' level that don't look like issues to me (and the suggested fix would break things).

[2021-10-06 21:56] m-sullivan7 opened #5456 "Clean up of visual design for data page navigation blocks"
@adam-little highlighted two design fixes needed for the data pages in conjunction with the deployment of the card block at the bottom of each page.

There are two issues:

1. We want to remove the dividing line between the white and light blue.
2. We want to remove the white gap between the bottom of the light blue block and the beginning of the dark blue footer.

Both can be seen in this screens

[2021-10-06 22:06] #5455 closed, assigned to thepegisin

[2021-10-07 17:01] m-sullivan7 commented on #5353
Off the top of my head, this may be as simple as putting a link in the _Chart information_ drawers. I look forward to talking about it!

[2021-10-07 17:16] #5281 closed

[2021-10-07 18:29] mediajunkie commented on #5353
That may well do the trick, and we could mock it up for discussion and review.

For the sake of argument let's consider how we might make the affordance visible by default without additional exploration required, as a further constraint.